extends ../layouts/manager

append headExt
  link(rel="stylesheet" href="/css/photo_album.css")
  link(rel="stylesheet" href="/css/jquery.Jcrop.min.css")

block baseInfo
  .dl_container.clearfix
    .aside
      img.size_80.img_contain(src="#{department.company.logo}")
    .top_main
      .dl_row
        //-部门名
        label.head= department.name
      .dl_row
        //-公司名
        a.subtitle(href="/company/home/#{department.company._id}")= department.company.name
      .dl_row
        .score_container
          span.info_border 成员
          span.info_border.info_right_border= department.team.member.length
    .top_side
      if req.role === 'HR' || req.role === 'LEADER'
        .group_btn_container
          a.btn_container(ng-click='loadMap(1)' data-toggle="modal" data-target="#sponsorCampaignModel")
            .btn_icon
              img(src='/img/icons/pulse.png')
            .btn_text
              span.subtitle 发活动
          //- button.dl_btn.dl_btn_small(ng-click="loadMap(1)" data-toggle="modal" data-target="#sponsorMultiCampaignModel") 多部门活动
        div(ng-controller="SponsorController" ng-init="did='#{department._id}';cid='#{department.company._id}'")
          div.modal.fade#sponsorCampaignModel(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
            include ../campaign/campaign_modal
          div.modal.fade#sponsorMultiCampaignModel(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
            include ../partials/search_department_modal

block panel
  div(ng-init="teamId='#{department.team._id}'")
    ul.nav.nav-tabs
      li.tab_style(ng-class="{'active':nowTab=='message'}")
        a.subtitle.no_radius(href="#/message" ng-click="addactive('message')") 部门动态
      li.tab_style(ng-class="{'active':nowTab=='campaign'}")
        a.subtitle.no_radius(href="#/campaign" ng-click="addactive('campaign')") 部门活动
      li.tab_style(ng-class="{'active':nowTab=='info'}")
        a.subtitle.no_radius(href="#/info" ng-click="addactive('info')") 部门信息
      li.tab_style(ng-class="{'active':nowTab=='timeLine/#{department.team._id}'}")
        a.subtitle.no_radius(href="#/timeLine/#{department.team._id}" ng-click="addactive('timeLine/#{department.team._id}')") #{__("TIME_LINE")}
      //- if req.role === 'HR' || req.role === 'LEADER'
      //-   li.tab_style(ng-class="{'active':nowTab=='applylist/#{department._id}'}")
      //-     a.subtitle.no_radius(href="#/applylist/#{department._id}" ng-click="addactive('applylist/#{department._id}')") 申请列表
    .tab-content
      .tab-pane.active
        div(ng-view)

block aside
  if (role !=='GUESTHR' && role !=='HR')
    include ../partials/group_thumbnail
    if (leader_teams.length)
      +group_thumbnail(leader_teams,'leader','管理的小队',1)
    if (selected_teams.length)
      +group_thumbnail(selected_teams,'active','加入的小队',2)
    if (unselected_teams.length)
      +group_thumbnail(unselected_teams,'inactive',__('UNSELECTED_TEAM'),3)
  if (role !=='GUESTHR' && role !=='GUEST')
    .photo_album
      p
        span.subtitle.margin_top_15 部门相册
        a.text.pull-right(href="/#{group_id}/photoAlbumListView") 更多&nbsp;&gt;
      div
        each photo_album in photo_album_thumbnails
          a.thumbnail_cell(href="/photoAlbumDetailView/#{photo_album._id}")
            img.thumbnail_img.img-thumbnail(src="#{photo_album.uri}")
            p.thumbnail_name.text-center= photo_album.name

append footExt
  script(src="/lib/jquery-form/jquery.form.js")
  script(src="/js/jquery.Jcrop.min.js")
  script(src="/js/controllers/department.js")
