extends ../layouts/manager

append headExt
  link(rel="stylesheet" href="/css/photo_album.css")

block baseInfo
  .dl_container.clearfix
    .aside
      //-用户头像
      .size_80.img_contain.dl_head_font
        span.glyphicon.glyphicon-envelope
      //-人名
    .dl_row
      h1 站内信

block panel
  div(ng-controller="messageSenderController" ng-init="role='#{role}';teamId='#{teamId}';cid='#{cid}';teamName='#{teamName}';departmentId='#{departmentId}'")
    ul.nav.nav-tabs
      if role === 'HR' || role === 'LEADER'
        li.tab_style(ng-class="{'active':nowTab=='all'}")
          a.subtitle.no_radius(href="#/message_all" ng-click="addactive('all')") 私信({{o}})
        li.tab_style(ng-class="{'active':nowTab=='send'}")
          a.subtitle.no_radius(href="#/send" ng-click="addactive('send')" ) 发送
    .tab-content.margin_top_20
      .tab-pane.active
        div(ng-view)
block aside


append footExt
  script(src="/js/controllers/message_tab.js")