extends ../layouts/company

append headExt
  link(rel="stylesheet" href="/css/photo_album.css")
  link(rel="stylesheet" href="/css/message.css")

block baseInfo
  .dl_container.clearfix
    .aside
      //-用户头像
      if team === false && role!=='HR'
        img.size_80.img_user.img_contain.dl_head_font(src="#{logo}")
      else
        img.size_80.img_contain.dl_head_font(src="#{logo}")
      //-span.glyphicon.glyphicon-envelope
      //-人名
    .dl_row
      h3 #{name}的信息站
.dl_messages_page
  block panel
    div(ng-init="role='#{role}';teamId='#{teamId}';cid='#{cid}';teamName='#{teamName}';teamLogo='#{teamLogo}';departmentId='#{departmentId}'")
      ul.nav.nav-tabs
        if role === 'HR'
          li.tab_style(ng-class="{'active':nowTab=='message_all'}")
            a.subtitle.no_radius(href="#/message_all" ng-click="addactive('message_all')") 收件箱
          li.tab_style(ng-class="{'active':nowTab=='send'}")
            a.subtitle.no_radius(href="#/send" ng-click="addactive('send')" ) 发件箱
      .tab-content
        .tab-pane.active
          div(ng-view)
block aside


append footExt
  script(src="/js/controllers/message.js")