extend ../layouts/user_base

block contentExt
  .dl_container.photo_album
    header.clearfix
      include ../partials/breadcrumb
      +breadcrumb(links)
      div.clearfix
        .pull-left
          p
            img.header_logo.img-thumbnail(src="#{owner_logo}")
            = owner_name
        //- if create_auth
        //-   form.js_ajax_form.create_form.pull-right(action="/photoAlbum" method="post")
        //-     input(type="hidden" name="owner_model" value="company_group")
        //-     input(type="hidden" name="owner_id" value="#{owner_id}")
        //-     input(type="hidden" name="cid" value="#{cid}")
        //-     input(type="hidden" name="tid" value="#{owner_id}")
        //-     input(type="text" name="name" required)
        //-     button.dl_btn.dl_btn_small(type="submit") 新建相册
      hr
    .row.photo_album_list_wrap
      .col-sm-3.col-xs-3.photo_album_container
        .photo_album_panel
          a(href="/photoAlbum/family/#{company_group._id}" title="#{familyPhotoAlbum.name}").center-block
            .img_container
              img.photo_album_thumbnail.img-responsive(src="#{familyPhotoAlbum.thumbnail}/204/204")
              .img_number
                span #{familyPhotoAlbum.photo_count}
            h6.text-center.album_title
              span.photo_album_name= familyPhotoAlbum.name
          div.update_info.center-block(bs-popover)
            if familyPhotoAlbum.update_user
              a(href="/users/home/#{familyPhotoAlbum.update_user._id}")
                img.update_user_photo.img_user(src="#{familyPhotoAlbum.update_user.photo}/36/36" ng-Mouseover="showUserCard('#{familyPhotoAlbum.update_user._id}','#{familyPhotoAlbum._id}')" id="pop#{familyPhotoAlbum._id}")
              .pull-left
                a.update_user_name(href="/users/home/#{familyPhotoAlbum.update_user._id}")= familyPhotoAlbum.update_user.name
            if familyPhotoAlbum.update_date
              p.text #{moment(familyPhotoAlbum.update_date).format('YYYY.MM.DD')} 最后更新
      each photo_album in photo_album_list
        .col-sm-3.col-xs-3.photo_album_container
          .photo_album_panel
            a(href="/photoAlbum/#{photo_album._id}/detailView" title="#{photo_album.name}").center-block
              .img_container
                img.photo_album_thumbnail.img-responsive(src="#{photo_album.thumbnail}/204/204")
                .img_number
                  span #{photo_album.photo_count}
              h6.text-center.album_title
                span.photo_album_name= photo_album.name
            div.update_info.center-block(bs-popover)
              if photo_album.update_user.type === 'user'
                a(href="/users/home/#{photo_album.update_user._id}")
                  img.update_user_photo.img_user(src="/logo/user/#{photo_album.update_user._id}/36/36" ng-Mouseover="showUserCard('#{photo_album.update_user._id}','#{photo_album._id}')" id="pop#{photo_album._id}")
                .pull-left
                  a.update_user_name(href="/users/home/#{photo_album.update_user._id}")= photo_album.update_user.name
              if photo_album.update_user.type === 'hr'
                a(href=href="/company/home/#{photo_album.update_user._id}")
                  img.update_user_photo(src="/logo/company/#{photo_album.update_user._id}/36/36")
                .pull-left
                  a.update_user_name(href="/company/home/#{photo_album.update_user._id}")= photo_album.update_user.name
              p.text #{moment(photo_album.update_date).format('YYYY.MM.DD')} 最后更新

append footExt
  script.
    $('.js_ajax_form').ajaxForm(function(data, status) {
      if (status === 'success') {
        window.location.reload();
      }
    });
