extend ../layouts/user_base

append headExt
  link(rel="stylesheet" href="/css/views/photo_album.css")

block contentExt
  .dl_container
    h1= photo_album.name
    a(href="/photoAlbumDetailView/#{photo_album._id}") 返回
    hr
    a(href="/photoView/#{photo_album._id}/#{photo_detail.pre_id}") 上一张
    a(href="/photoView/#{photo_album._id}/#{photo_detail.next_id}") 下一张
    img(src="#{photo_detail.uri}")
    p
      each tag in photo_detail.tags
        = tag
        | &nbsp;
    h3 我要留言
    form.js_ajax_form(action="/photoAlbum/#{photo_album._id}/photo/#{photo_detail._id}" method="post")
      input(type="hidden" name="_method" value="put")
      input(type="text" name="text" required)
      button(type="submit") 提交留言
    form.js_ajax_form(action="/photoAlbum/#{photo_album._id}/photo/#{photo_detail._id}" method="post")
      input(type="hidden" name="_method" value="put")
      input(type="text" name="tags" required)
      button(type="submit") 添加标签
    section
      each comment in photo_detail.comments
        div
          img(src="#{comment.publish_user.photo}")
          p= comment.publish_user.nickname
          p= comment.content
          p= comment.publish_date

append footExt
  script(src="/lib/jquery-form/jquery.form.js")
  script.
    $('.js_ajax_form').ajaxForm(function(data, status) {
      if (status === 'success') {
        window.location.reload();
      }
    });