extend ../layouts/user_base

append headExt
  link(rel="stylesheet" href="/css/photo_album.css")

block contentExt
  .dl_container.photo_album
    header.relative
      ol.breadcrumb
        li: a(href="/group/home/#{photo_album.owner._id}")= photo_album.owner.name
        li: a(href="/#{photo_album.owner._id}/photoAlbumListView") 相册集
        li.active= photo_album.name
      div
        .media
          .pull-left
            img.media-object.header_logo.img-thumbnail(src="#{photo_album.owner.logo}")
          .media-body
            h4.media-heading= photo_album.owner.name
            p.text 相册名:&nbsp;#{photo_album.name}
            p.text 照片数:&nbsp;#{photo_album.photos.length}
            - var date = photo_album.update_date, year = date.getFullYear(), month = date.getMonth() + 1, day = date.getDate();
            p.text 最后更新:&nbsp;#{year}.#{month}.#{day}
        form#upload_photo_form.js_ajax_form(action="/photoAlbum/#{photo_album._id}/photo" method="post" enctype="multipart/form-data")
          input#photo.hidden(type="file" name="photos" multiple="multiple" required="required" accept="image/*")
        label.dl_btn.right_down(for="photo") 上传照片
    hr
    div.photo_panel.clearfix
      each photo in photo_album.photos
        a.photo(href="/photoView/#{photo_album._id}/#{photo._id}")
          img(src="#{photo.thumbnail_uri}")
          p.photo_name= photo.name

append footExt
  script(src="/lib/jquery-form/jquery.form.js")
  script.
    $('.js_ajax_form').ajaxForm(function(data, status) {
      if (status === 'success') {
        window.location.reload();
      }
    });
    $('#photo').change(function() {
      if ($(this).val() !== '' || $(this).val() != null) {
        $('#upload_photo_form').submit();
      }
    });