extend ../layouts/user_base

append headExt
  link(rel="stylesheet" href="/css/views/photo_album.css")

block contentExt
  .dl_container.photo_album
    ol.breadcrumb
      li: a(href="/group/home/#{photo_album.owner._id}")= photo_album.owner.name
      li: a(href="/#{photo_album.owner._id}/photoAlbumListView") 相册集
      li: a(href="/photoAlbumDetailView/#{photo_album._id}")= photo_album.name
      li.active= photo_detail.name
    hr
    .row.photo_detail_container
      .col-xs-8.col-sm-8
        .relative
          if photo_detail.pre_id
            a.left(href="/photoView/#{photo_album._id}/#{photo_detail.pre_id}") 上一张
          p.text-center: strong= photo_detail.name
          if photo_detail.next_id
            a.right(href="/photoView/#{photo_album._id}/#{photo_detail.next_id}") 下一张
        div
          img.photo_ori.img-responsive.center-block(src="#{photo_detail.uri}")
        p.text.margin_top_5
          each tag in photo_detail.tags
            span.tag= tag
        .comment_panel
          h4 我要留言
          form.js_ajax_form(action="/photoAlbum/#{photo_album._id}/photo/#{photo_detail._id}" method="post")
            input(type="hidden" name="_method" value="put")
            textarea.comment_textarea.form-control(type="text" name="text" required)
            .clearfix
              button.dl_btn.btn_padding.pull-right.margin_top_5(type="submit") 提交留言
          section
            each comment in photo_detail.comments
              div.comment.clearfix
                .comment_user_info
                  img.user_photo(src="#{comment.publish_user.photo}")
                  p: a.user_name(href="/users/home/#{comment.publish_user._id}")= comment.publish_user.nickname
                .comment_content_panel
                  .relative
                    .triangle_border
                    .triangle
                    .comment_content
                      p= comment.content
                  p.comment_date.text= comment.publish_date.toLocaleDateString()
      .col-xs-offset-1.col-sm-offset-1.col-xs-3.col-sm-3
        .media
          .pull-left
            img.media-object.header_logo.img-thumbnail(src="#{photo_album.owner.logo}")
          .media-body
            h4= photo_album.owner.name
        p.text 相册名:&nbsp;#{photo_album.name}
        p.text 照片数:&nbsp;#{photo_album.photo_count}
        - var date = photo_album.update_date, year = date.getFullYear(), month = date.getMonth() + 1, day = date.getDate();
        p.text 最后更新:&nbsp;#{year}.#{month}.#{day}
        form.margin_top_20.js_ajax_form(action="/photoAlbum/#{photo_album._id}/photo/#{photo_detail._id}" method="post")
          input(type="hidden" name="_method" value="put")
          h4 给照片添加标签
          p.text 输入照片中人名/队名/企业名/
          input.form-control.tags_input(type="text" name="tags" required)
          button.dl_btn.btn_padding.margin_top_5(type="submit") 添加标签


append footExt
  script(src="/lib/jquery-form/jquery.form.js")
  script.
    $('.js_ajax_form').ajaxForm(function(data, status) {
      if (status === 'success') {
        window.location.reload();
      }
    });