extend ../layouts/user_base

append headExt
  link(rel="stylesheet" href="/css/photo_album.css")

block contentExt
  .dl_container.photo_album
    header.clearfix
      include ../partials/breadcrumb
      +breadcrumb(links)
      div.clearfix
        .pull-left
          p
            img.header_logo.img-thumbnail(src="#{owner_logo}")
            = owner_name
        form.js_ajax_form.create_form.pull-right(action="/photoAlbum" method="post")
          input(type="hidden" name="owner_model" value="company_group")
          input(type="hidden" name="owner_id" value="#{owner_id}")
          input(type="hidden" name="cid" value="#{cid}")
          input(type="hidden" name="tid" value="#{owner_id}")
          input(type="text" name="name" required)
          button.dl_btn.dl_btn_small(type="submit") 新建相册
      hr
    .row.photo_album_list_wrap
      each photo_album in photo_album_list
        .col-sm-3.col-xs-3.photo_album_container
          a(href="/photoAlbumDetailView/#{photo_album._id}").photo_album_panel.center-block
            img.photo_album_thumbnail.img-responsive(src="#{photo_album.thumbnail}")
            h4.text-center
              span.photo_album_name= photo_album.name
              | &nbsp;
              small /&nbsp;#{photo_album.photo_count}
          div.update_info.center-block(bs-popover)
            if photo_album.update_user.type === 'user'
              a(href="/users/home/#{photo_album.update_user._id}")
                img.update_user_photo(src="/logo/user/#{photo_album.update_user._id}/36/36" ng-Mouseover="showUserCard('#{photo_album.update_user._id}','#{photo_album._id}')" id="pop#{photo_album._id}")
              .pull-left
                a.update_user_name(href="/users/home/#{photo_album.update_user._id}")= photo_album.update_user.name
            if photo_album.update_user.type === 'hr'
              a(href=href="/company/home/#{photo_album.update_user._id}")
                img.update_user_photo(src="/logo/company/#{photo_album.update_user._id}/36/36")
              .pull-left
                a.update_user_name(href="/company/home/#{photo_album.update_user._id}")= photo_album.update_user.name
            p.text #{moment(photo_album.update_date).format('YYYY.MM.DD')} 最后更新

append footExt
  script(src="/lib/jquery-form/jquery.form.js")
  script.
    $('.js_ajax_form').ajaxForm(function(data, status) {
      if (status === 'success') {
        window.location.reload();
      }
    });
