extend ../layouts/user_base

append headExt
  link(rel="stylesheet" href="/css/photo_album.css")

block contentExt
  .dl_container.photo_album
    header.clearfix
      include ../partials/breadcrumb
      +breadcrumb(links)
      div.relative
        .media
          .pull-left
            img.media-object.header_logo.img-thumbnail(src="#{photo_album.owner.logo}")
          .media-body
            h4.media-heading
                = photo_album.owner.name
            p.text 相册名:&nbsp;#{photo_album.name}
            p.text 照片数:&nbsp;#{photo_album.photo_count}
            p.text 最后更新:&nbsp;#{moment(photo_album.update_date).format('YYYY.MM.DD')}
        form#upload_photo_form.js_ajax_form(action="/photoAlbum/#{photo_album._id}/photo" method="post" enctype="multipart/form-data")
          input#photo.hidden(type="file" name="photos" multiple="multiple" required="required" accept="image/*")
        .right_down
          if uploadAuth === true
            label.dl_btn.dl_btn_small(for="photo") 上传照片
          if editAuth === true
            button.dl_btn.dl_btn_small(data-toggle="collapse" data-target="#more") 更多操作
      if editAuth === true
        #more.more.collapse.clearfix
          .operator
            form#delete_form.pull-right(action="/photoAlbum/#{photo_album._id}" method="post")
              input(type="hidden" name="_method" value="delete")
              button#delete_button.dl_btn.dl_btn_small.dl_btn_danger(type="button") 删除该相册
            form.js_ajax_form.pull-right(action="/photoAlbum/#{photo_album._id}" method="post")
              input(type="hidden" name="_method" value="put")
              input.dl_input(type="text" name="name" value="#{photo_album.name}")
              button.dl_btn.dl_btn_small(type="submit") 修改相册名字
    hr
    div.photo_panel.clearfix
      each photo in photo_album.photos
        a.photo.text-center(href="/photoAlbum/#{photo_album._id}/photoView/#{photo._id}")
          if photo.zoom_uri
            img(src="#{photo.zoom_uri}")
          else
            img(src="#{photo.thumbnail_uri}")
          p.photo_name= photo.name

  #loading_modal.modal.fade(role="dialog" aria-hidden="true")
    .modal-dialog.loading_modal
      .modal-content
        .modal-body
          button.close(type="button" data-dismiss="modal")
            span(aria-hidden="true") &times;
          .clearfix.loading_box
            .pull-left.loading_div
            h4.pull-left.loading_text 上传中

  #failed_modal.modal.fade(role="dialog" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal")
            span(aria-hidden="true") &times;
          h4.modal-title 上传失败
        .modal-body
          p#failed_msg


append footExt
  script(src="/lib/jquery-form/jquery.form.js")
  script(src="/js/photo_album_detail.js")

