mixin group_thumbnail(teams)
  .dl_row
    span.pull-left.subtitle 我的小队
    a.text.pull-right(href="/company/home#/team_info" ng-cloak) 添加更多 > 
  .groups
    each team,i in teams
      if team.gid !=='0'
        div.center-block.group(ng-if="#{i}<4" title="#{team.name}")
          if team.leader
            span.group_leader
          a.center-block(href="/group/page/#{team._id}")
            //-if team_class === 'leader'
            //-.img_div
            img.img.center-block.size_48(ng-cloak src="#{team.logo}/48/48")
            //- else
            //-   img.center-block.size_48(ng-cloak src="#{team.logo}")
        div.center-block.clearfix.group(ng-if="#{i}>=4" ng-show='show[#{j}]' class=(team.leader==true)?'leader':'member' title="#{team.name}")
          a.center-block(href="/group/page/#{team._id}")
            //-if team_class === 'leader'
            img.center-block.size_48(ng-cloak src="#{team.logo}/48/48")
            //- else
            //-   img.center-block.size_48(ng-cloak src="#{team.logo}")
            //-这些if else 不知何用
