mixin group_thumbnail(teams)
  .box_head(ng-click="groupShowFlag=!groupShowFlag;")
    span.dl_icons.icon_group
    span.pull-left.head_title 小队
    span.group_count #{teams.length}
      //-i.fa(ng-class="{'fa-angle-down':groupShowFlag,'fa-angle-right':!groupShowFlag}" ng-cloak)
      span.dl_icons(ng-class="{'icon_fold':groupShowFlag,'icon_unfold':!groupShowFlag}" ng-cloak)
  .groups(ng-if="!groupShowFlag")
    each team,i in teams
      if team.gid !=='0'
        .center-block.group(data-toggle="tooltip" title="#{team.name}" ng-show="#{i}<14" ng-cloak)
          a.center-block(href="/group/page/#{team._id}")
            //-if team_class === 'leader'
            //-.img_div
            if team.leader
              span.group_leader
            img.img.center-block.group_logo(ng-cloak src="#{team.logo}/30/30")
  .group_unfold(ng-if="groupShowFlag")
    - var teamLeader =false;
      each team,i in teams
        if team.gid !=='0' && team.leader
          - teamLeader = true;
      if teamLeader
        .groups
          .group_label  管理
          .group_info
            each team,i in teams
              if team.gid !=='0' && team.leader
                .center-block.group(data-toggle="tooltip" title="#{team.name}" ng-cloak)
                  a.center-block(href="/group/page/#{team._id}")
                    img.img.center-block.group_logo(ng-cloak src="#{team.logo}/32/32")
    .groups
      .group_label  参加
      .group_info
        each team,i in teams
          if team.gid !=='0' && !team.leader
            .center-block.group(data-toggle="tooltip" title="#{team.name}" ng-cloak)
              a.center-block(href="/group/page/#{team._id}")
                //-if team_class === 'leader'
                //-.img_div
                img.img.center-block.group_logo(ng-cloak src="#{team.logo}/30/30")
        .center-block.group(data-toggle="tooltip" title="add")
          a.center-block(title="进入小队列表页面" href="/company/home#/team_info")          
            img.img.center-block.group_logo(ng-cloak src="/img/add.png")
