nav.main-navbar.navbar.navbar-inverse.dl_nav(data-role="navigation")
  //- if Global.role == undefined || Global.role == ''
  if !global_user
    .header_container
      a.navbar-brand(href="/"): img.logo(src="/img/logo_w.png")
      .navbar-nav.nav.pull-right.dl-top-login
        form.signin.form-horizontal.ng-pristine.ng-valid(action="/users/session" method="post")
          .input-group.input-group-sm
            .input-group-btn
              input#email.form-control.input-sm.email(type="email" name="username" placeholder="Email地址" required="")
            .input-group-btn
              input#password.form-control.input-sm.password(type="password" name="password" placeholder="密码" required="")
            .input-group-btn
              a.btn.btn-default.btn-sm(href="/users/forgetPwd" title="忘记密码") ?
              button.btn.btn-primary.btn-sm.btn-submit(type="submit") 登录动梨
              a.btn.btn-link.btn-sm.btn-signin-link(href="/company/signin") 企业登录
  else
    .dl_head(ng-controller="messageHeaderController")
      if global_user.provider === 'user'
        //.navbar-header
        a.navbar-brand(href="/")
          img.logo(src="/img/logo_w.png")
        //button.dl_btn.dl_navbar-toggle(data-toggle="collapse" data-target="#personal_nav")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        //.collapse.navbar-collapse#personal_nav
        ul.nav.navbar-nav.pull-right
          li
            a(href="/company/home")= __("COMPANY_HOME")
          li
            a(href="/users/home")
              span.user_img
                img.size_20(src="#{global_user.photo}")
              span.m_l_5.user_name #{global_user.nickname}
          li
            a(href="#" data-toggle="dropdown")
              span.glyphicon.glyphicon-cog.m_l_5
            ul.dl_menu.dropdown-menu(role="menu")
              li
                a.dl_menu_a(href="/users/home") #{__("PERSONAL_HOME")}
              li
                a.dl_menu_a(href="/users/home#/personal") #{__("PERSONAL_INFO")}
              li
                a.dl_menu_a(href="/users/signout") #{__("LOGOUT")}
              //- li(ng-repeat="language in languages")
              //-   a.dl_menu_a(ng-click="changeLanguage(language.key)") {{language.language|translate}}
          li
            a(href="#" data-toggle="dropdown")
              span.dl_msg_corner(ng-if="o>0" ng-cloak) {{o}}
              span.glyphicon.glyphicon-comment
            ul.dl_menu.dropdown-menu(role="menu")
              li
                a.dl_menu_a(href="/message/home#/message_all") 私信({{o}})
              //- li
              //-   a.dl_menu_a(href="/message/home#/send") 发送消息
      if global_user.provider === 'company'
        //.navbar-header
        a.navbar-brand(href="/")
          img.logo(src="/img/logo_w.png")
        //button.dl_btn.dl_navbar-toggle(data-toggle="collapse" data-target="#HR_nav")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        //.collapse.navbar-collapse#HR_nav
        ul.nav.navbar-nav.pull-right
          li
            a(href="/company/home")
              span
                img.size_20(src="#{global_user.info.logo}")
              span.m_l_5 #{global_user.info.name}
          li
            a(href="#" data-toggle="dropdown")
              span.glyphicon.glyphicon-cog.m_l_5
            ul.dl_menu.dropdown-menu(role="menu")
              li
                a.dl_menu_a(href="/company/home#/company_info") #{__("COMPANY_INFO")}
              li
                a.dl_menu_a(href="/company/signout") #{__("LOGOUT")}
              //- li(ng-repeat="language in languages")
              //-   a.dl_menu_a(ng-click="changeLanguage(language.key)") {{language.language|translate}}
          li
            a(href="#" data-toggle="dropdown")
              span.dl_msg_corner(ng-if="o>0" ng-cloak) {{o}}
              span.glyphicon.glyphicon-comment
            ul.dl_menu.dropdown-menu(role="menu")
              li
                a.dl_menu_a(href="/message/home#/message_all") 私信({{o}})


