nav.main-navbar.navbar.navbar-inverse.dl_nav(data-role="navigation")
  //- if Global.role == undefined || Global.role == ''
  if !global_user
    .header_container
      a.navbar-brand(href="/"): img.logo(src="/img/dl_logol.png")
      .nav.pull-right.dl_top_login
        form.signin.form-horizontal.ng-pristine.ng-valid(action="/users/session" method="post")
          .input-group.input-group-sm
            .input-group-btn
              input#email.form-control.input-sm.email(type="email" name="username" placeholder="邮箱" required)
            .input-group-btn
              input#password.form-control.input-sm.password(type="password" name="password" placeholder="密码" required)
              a.clearLinkUnderline.forgetPwd(href="/users/forgetPwd" title="忘记密码") ?
            .input-group-btn
              button.btn.btn-sm.btn_signin(type="submit") 员工登录
            .input-group-btn
              a.clearLinkUnderline.btn.btn-link.btn_signin.btn_company(href="/company/signin") 企业入口
  else
    .dl_head(ng-controller="messageHeaderController")
      if global_user.provider === 'user'
        //-.navbar-header
        a.navbar-brand(href="/")
          img.logo(src="/img/dl_logol.png")
        //-button.dl_btn.dl_navbar-toggle(data-toggle="collapse" data-target="#personal_nav")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        //-.collapse.navbar-collapse#personal_nav
        ul.nav.navbar-nav.pull-right
          li
            a(href="/company/home") #{global_user.company_official_name}
          if global_user.department._id
            li
              a(href="/department/home/#{global_user.department._id}") #{global_user.department.name}
          li
            a(href="/users/home")
              span.user_img
                img.size_20.img_user(src="#{global_user.photo}")
              span.m_l_5.user_name #{global_user.nickname}
          li
            a(href="#" data-toggle="dropdown")
              img(src='/img/icons/setting.png/16/16')
            ul.dl_menu.dropdown-menu(role="menu")
              li
                a.dl_menu_a(href="/users/home") #{__("PERSONAL_HOME")}
              li
                a.dl_menu_a(href="/users/home#/personal/#{global_user._id}") #{__("PERSONAL_INFO")}
              li
                a.dl_menu_a(href="/users/signout") #{__("LOGOUT")}
              //- li(ng-repeat="language in languages")
              //-   a.dl_menu_a(ng-click="changeLanguage(language.key)") {{language.language|translate}}
          li
            a(href="/message/home#/message_all")
              span.dl_msg_corner(ng-if="o>0" ng-cloak)
              img(src='/img/icons/message.png/20/15')
              //- li
              //-   a.dl_menu_a(href="/message/home#/send") 发送消息
      if global_user.provider === 'company'
        //- .navbar-header
        a.navbar-brand(href="/")
          img.logo(src="/img/dl_logol.png")
        //- button.dl_btn.dl_navbar-toggle(data-toggle="collapse" data-target="#HR_nav")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        //- .collapse.navbar-collapse#HR_nav
        ul.nav.navbar-nav.pull-right
          li
            a(href="/company/home")
              span
                img.size_20(src="#{global_user.info.logo}")
              span.m_l_5 #{global_user.info.official_name}
          li
            a(href="#" data-toggle="dropdown")
              img(src='/img/icons/setting.png/16/16')
            ul.dl_menu.dropdown-menu(role="menu")
              li
                a.dl_menu_a(href="/company/home#/company_info") #{__("COMPANY_INFO")}
              li
                a.dl_menu_a(href="/company/home#/department") 部门管理
              li
                a.dl_menu_a(href="/company/home#/company_member/#{global_user._id}") 成员管理
              li
                a.dl_menu_a(href="/company/signout") #{__("LOGOUT")}
              //- li(ng-repeat="language in languages")
              //-   a.dl_menu_a(ng-click="changeLanguage(language.key)") {{language.language|translate}}
          li
            a(href="/message/home#/message_all")
              span.dl_msg_corner(ng-if="o>0" ng-cloak)
              img(src='/img/icons/message.png/20/15')