append block headExt
  link(rel="stylesheet" href="/css/views/timeline.css")
.row
if(timeLines)
  ul.timeline
    each timeline in timeLines
      li.timeline-blue
        .timeline-time
          span.date= moment(timeline.date).format('YY/MM/DD')
          span.time= moment(timeline.date).format('HH:mm')
        .timeline-icon
          i(class="icon_timeline_#{timeline.type}")
        .timeline-body
          p.subtitle= timeline.head
          .timeline-content
            img.timeline-img.pull-left(src="#{timeline.logo ? timeline :'/img/icons/default_company_logo.png'}")
            p= "{{'LOCATION'|translate}}" +":"+ timeline.location
            if (timeline.group_type !== '虚拟组')
              p= "{{'TYPE'|translate}}" +":"+ timeline.group_type
            p= "{{'CONTENT'|translate}}" +":"+ timeline.content
            if(timeline.provoke.active)
              p= "{{'FORMATION'|translate}}" +":"+ timeline.provoke.competition_format
          .timeline-footer
            a.nav-link {{"DETAIL"|translate}}
              i.m-icon-swapright.m-icon-white
else
  span {{"NO_CAMPAIGN"|translate}}