append block headExt
  link(rel="stylesheet" href="/css/timeline.css")
.row


.row
if(newTimeLines)
  .dl_timeline
    .spine
    each years in newTimeLines
      .date_separator(id='year' + "#{years.left[0].year}")
        span.span= years.left[0].year
      .column.column_left
        each item in years.left
          .timeline_element
            .title
              a(href="/group/#{item.provoke ? 'competition': 'campaign'}/#{item.id}",target="_blank")
                img.timeline-logo.pull-left.size_20(src="#{item.logo ? item.logo :'/img/icons/default_company_logo.png'}")
                span.head= item.head
                span.date= moment(item.start_time).format('MM/DD')
            .img_container
            .content
              a(href="/group/#{item.provoke ? 'competition': 'campaign'}/#{item.id}")
                
                p= item.content
      .column.column_right
        each item in years.right
          .timeline_element
            .title
              a(href="/group/#{item.provoke ? 'competition': 'campaign'}/#{item.id}",target="_blank")
                img.timeline-logo.pull-left.size_20(src="#{item.logo ? item.logo :'/img/icons/default_company_logo.png'}")
                span.head= item.head
                span.date= moment(item.start_time).format('MM/DD')
            .img_container
            .content
              a(href="/group/#{item.provoke ? 'competition': 'campaign'}/#{item.id}")
                
                p= item.content
else
  span.emptiem {{"NO_CAMPAIGN"|translate}}

//-if(timeLines)
  ul.timeline
    each timeline in timeLines
      li.timeline
        .timeline-time
          span.date= moment(timeline.start_time).format('YY/MM/DD')
          span.time= moment(timeline.start_time).format('HH:mm')
        .timeline-icon
        .timeline-body
          a(href="/group/#{timeline.provoke ? 'competition': 'campaign'}/#{timeline.id}")
            p.subtitle= timeline.head
          .timeline-content
            img.timeline-img.pull-left(src="#{timeline.logo ? timeline.logo :'/img/icons/default_company_logo.png'}")
            p= "{{'LOCATION'|translate}}" +":"+ timeline.location.name
            p= "{{'CONTENT'|translate}}" +":"+ timeline.content
//-else
  span.emptiem {{"NO_CAMPAIGN"|translate}}