.loading_div(ng-show = 'loading')
div(ng-show = '!loading')
  if length>0
    .dl_timeline
      .spine
      each years in newTimeLines
        .date_separator(id='year' + "#{years[0].year}")
          span.span= years[0].year
        //- .column.column_left
        //-   each item,index in years
        //-     if index%2==0
        //-       .timeline_element
        //-         .title(ng-show="role!=='GUEST'&&role!=='GUESTHR'&&role!=='GUESTLEADER'")
        //-           a(href="/campaign/detail/#{item.id}",target="_blank")
        //-             img.timeline-logo.pull-left(src="#{item.logo ? item.logo :'/img/icons/default_company_logo.png'}")
        //-             span.date= moment(item.start_time).format('MM/DD')
        //-             span.head= item.head
        //-         .img_scroll(ng-show="role!=='GUEST'&&role!=='GUESTHR'&&role!=='GUESTLEADER'")
        //-           a(href="/campaign/detail/#{item.id}",target="_blank")
        //-             .img_scroll
        //-               div(class="photos_#{item.photo_list.length}")
        //-                 each imgs,img_index in item.photo_list
        //-                   img.photo(class="photo_#{img_index}" src="#{imgs.uri}/263/263")
        //-         .title(ng-show="role==='GUEST'||role==='GUESTHR'||role==='GUESTLEADER'")
        //-           img.timeline-logo.pull-left(src="#{item.logo ? item.logo :'/img/icons/default_company_logo.png'}")
        //-           span.date= moment(item.start_time).format('MM/DD')
        //-           span.head= item.head
        //-         .img_scroll(ng-show="role==='GUEST'||role==='GUESTHR'||role==='GUESTLEADER'")
        //-           a(href="/campaign/detail/#{item.id}",target="_blank")
        //-             div(class="photos_#{item.photo_list.length}")
        //-               each imgs,img_index in item.photo_list
        //-                 img.photo(class="photo_#{img_index}" src="#{imgs.uri}/263/263")
        //-         //- div(ng-if="#{item.photo_list.length}===0")
        //-         //-   .content(ng-show="role!=='GUEST'&&role!=='GUESTHR'&&role!=='GUESTLEADER'")
        //-         //-     a(href="/campaign/detail/#{item.id}",target="_blank")
        //-         //-       p= item.content
        //-         //-   .content(ng-show="role==='GUEST'||role==='GUESTHR'||role==='GUESTLEADER'")
        //-         //-     p= item.content
        .column.column_right
          each item,index in years
            //- if index%2
            .timeline_element
              .title(ng-show="role!=='GUEST'&&role!=='GUESTHR'&&role!=='GUESTLEADER'")
                a(href="/campaign/detail/#{item.id}" target="_blank")
                  //- img.timeline_logo.pull-left(src="#{item.logo ? item.logo :'/img/icons/default_company_logo.png'}")
                  .dl_timeline_logos(class="logos_#{item.campaignUnit.length}")
                    each campaignUnit in item.campaignUnit
                      img.dl_team_logo(ng-src="#{campaignUnit.team.logo || campaignUnit.company.logo}/60/60")
                    .provoke_label(ng-if="#{item.campaignType}===4 || #{item.campaignType}===5")
                      span 挑战
                    .fellowship_label(ng-if="#{item.campaignType}===7")
                      span 联谊 
                  .timeline_text
                    .head
                      i.fa.fa-paper-plane-o
                      span= item.head
                    .date
                      i.fa.fa-clock-o
                      span= moment(item.startTime).format('M/DD')
                    .location
                      i.fa.fa-map-marker
                      span= item.location
                  .timeline_member
                    p.dl_timeline_member
                      span.number #{item.memberNumber || '0'}
                    p 人
                  .timeline_team_name 
                    //- if item.campaignUnit.
                    //- span= item.campaignUnit
                    //- else
                    each campaignUnit,index in item.campaignUnit
                      span= campaignUnit.team.name
                      if(index===0 && item.campaignUnit.length>1)
                        span &nbsp;vs&nbsp;
                    //- span #{item.campaignUnit}
                    //- if item.campaignUnit.length>1
                    //-   span &nbsp;vs&nbsp;
                    //-   span= item.campaignUnit[1].team.name
              //- .img_scroll(ng-show="role!=='GUEST'&&role!=='GUESTHR'&&role!=='GUESTLEADER'")
              //-   a(href="/campaign/detail/#{item.id}" target="_blank")
              //-     div
              //-       each imgs,img_index in item.photo_list
              //-         img.photo(src="#{imgs.uri}/86/86")
              .title(ng-show="role==='GUEST'||role==='GUESTHR'||role==='GUESTLEADER'")
                //- img.timeline_logo.pull-left(src="#{item.logo ? item.logo :'/img/icons/default_company_logo.png'}")
                .dl_timeline_logos(class="logos_#{item.campaignUnit.length}")
                  each campaignUnit in item.campaignUnit
                    img.dl_team_logo(ng-src="#{campaignUnit.team.logo || campaignUnit.company.logo}/60/60")
                  .provoke_label(ng-if="#{item.campaignType}===4 || #{item.campaignType}===5")
                    span 挑战
                  .fellowship_label(ng-if="#{item.campaignType}===7")
                    span 联谊 
                .timeline_text
                  span.head= item.head
                  span.date= moment(item.startTime).format('M/DD')
                  span.location= item.location
                .timeline_member
                  p.dl_timeline_member
                    span.number #{item.memberNumber || '0'}
                  p 人
                .timeline_team_name 
                  //- span= item.campaignUnit[0].team.name
                  //- if item.campaignUnit.length>1
                  //-   span &nbsp;vs&nbsp;
                  //-   span= item.campaignUnit[1].team.name

              //- .img_scroll(ng-show="role==='GUEST'||role==='GUESTHR'||role==='GUESTLEADER'")
              //-   a(href="/campaign/detail/#{item.id}",target="_blank")
              //-     div
              //-       each imgs,img_index in item.photo_list
              //-         img.photo(src="#{imgs.uri}/86/86")
              //- div(ng-if="#{item.photo_list.length}===0")
              //-   .content(ng-show="role!=='GUEST'&&role!=='GUESTHR'&&role!=='GUESTLEADER'")
              //-     a(href="/campaign/detail/#{item.id}",target="_blank")
              //-       p= item.content
              //-   .content(ng-show="role==='GUEST'||role==='GUESTHR'||role==='GUESTLEADER'")
              //-     p= item.content
  else
    .loademp.text-center #{__("NO_TIMELINE")}
