.popover_img
  a(href="/users/home/#{user._id}")
    img.size_80.img_user(src="#{user.photo}")
.popover_content
  p: a(href="/users/home/#{user._id}").dl_word_break
    = user.nickname
    if (user.realname)
      | (#{user.realname})
  p 部门: #{user.department.name}
  if (user.introduce)
    p 简介: #{user.introduce}
  else
    p 简介: 这个人很懒啥都没留下-_-#
