nav.navbar.navbar-inverse.navbar-static-top.dl_nav(role="navigation")
  .dl_head(ng-controller="messageHeaderController")
    if Global.role !== 'HR'
      //.navbar-header
      a.navbar-brand(href="/")
        img.logo(src="/img/logo_w.png")
      //button.dl_btn.dl_navbar-toggle(data-toggle="collapse" data-target="#personal_nav")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      //.collapse.navbar-collapse#personal_nav
      ul.nav.navbar-nav.pull-right
        li
          a(href="/company/home") #{__("COMPANY_HOME")}
        li
          a(href="/users/home")
            span
              img.size_20(ng-src="#{Global.nav_logo}")
            span.m_l_5 #{Global.nav_name}

        li
          a(href="#" data-toggle="dropdown")
            span.glyphicon.glyphicon-cog
          ul.dl_menu.dropdown-menu(role="menu")
            li
              a.dl_menu_a(href="/users/home") #{__("PERSONAL_HOME")}
            li
              a.dl_menu_a(href="/users/home#/personal") #{__("PERSONAL_INFO")}
            li
              a.dl_menu_a(href="/users/signout") #{__("LOGOUT")}
        li
          a(href="#" data-toggle="dropdown")
            span.dl_msg_corner(ng-if="o>0") {{o}}
            span.glyphicon.glyphicon-comment
          ul.dl_menu.dropdown-menu(role="menu")
            li
              a.dl_menu_a(href="/message/home#/message_all") 私信({{o}})
            if Global.role === 'LEADER'
              li
                a.dl_menu_a(href="/message/home#/send") 发送消息
    if Global.role === 'HR'
      //.navbar-header
      a.navbar-brand(href="/")
        img.logo(src="/img/logo_w.png")
      //button.dl_btn.dl_navbar-toggle(data-toggle="collapse" data-target="#HR_nav")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      //.collapse.navbar-collapse#HR_nav
      ul.nav.navbar-nav.pull-right
        li
          a(href="/company/home")
            span
              img.size_20(ng-src="#{Global.nav_logo}")
            span.m_l_5 #{Global.nav_name}
        li
          a(href="#" data-toggle="dropdown")
            span.glyphicon.glyphicon-cog.m_l_5
          ul.dl_menu.dropdown-menu(role="menu")
            li
              a.dl_menu_a(href="/company/home#/company_info") #{__("COMPANY_INFO")}
            li
              a.dl_menu_a(href="/company/signout") #{__("LOGOUT")}
        li
          a(href="#" data-toggle="dropdown")
            span.dl_msg_corner(ng-if="o>0" ng-cloak) {{o}}
            span.glyphicon.glyphicon-comment
          ul.dl_menu.dropdown-menu(role="menu")
            li
              a.dl_menu_a(href="/message/home#/message_all") 私信({{o}})

