extends layouts/user_base

block content
  .container
    h1 {{"CAMPAIGN"|translate}}{{"DETAIL"|translate}}
    p {{"CAMPAIGN"|translate}}{{"CONTENT"|translate}}：#{campaign.content}
    p {{"CAMPAIGN"|translate}}{{"LOCATION"|translate}}：#{campaign.location}
    p {{"START_TIME"|translate}} ：#{campaign.start_time}
    p {{"POSTER"|translate}}：#{campaign.poster.username}

    hr
    div
      h4.pull-left 活动精彩照片
      if(role!=='PARTNER')
        a(href="/group/campaign/#{campaign._id}/photoAlbum/#{campaign.photo_album.pid}") 上传照片
      input#photo_album_id(type="hidden" name="photo_album_id" value="#{campaign.photo_album.pid}")
      div#photo_list(ng-controller="PhotoListCtrl")
        div(ng-repeat="photo in photos")
          img(ng-src="{{ photo.uri }}")

append footExt
  script(src="/js/photo_thumbnail.js")