extends layouts/user_base

block content
  div(ng-app="campaignApp")
    p.head {{"CAMPAIGN"|translate}}{{"DETAIL"|translate}}
    p {{"CAMPAIGN"|translate}}{{"CONTENT"|translate}}：#{campaign.content}
    p {{"CAMPAIGN"|translate}}{{"LOCATION"|translate}}：#{campaign.location}
    p {{"START_TIME"|translate}}：#{campaign.start_time}
    //button.dl_btn.dl_btn_small(ng-controller="campaignController" ng-click="joinCampaign(#{campaign._id})") {{"JOIN"|translate}}
    //button.dl_btn.dl_btn_small(ng-controller="campaignController" ng-click="quitCampaign(#{campaign._id})") {{"QUIT"|translate}}
    .row
      p {{"CAMPAIGN"|translate}}{{"MEMBER"|translate}}：
      if(campaign.member.length>0)
        - for(var i = 0; i < campaign.member.length; i ++)
          .col-xs-2
            a(href="/users/home/#{campaign.member[i].uid}") #{campaign.member[i].nickname}
              img.img_contain.size_90.center-block(ng-src="#{campaign.member[i].photo}")
      else
        p.subtitle 该活动还没有人参加哦!
block side
  span.subtitle.pull-left 活动精彩照片
  if(role!=='PARTNER')
    a.dl_btn.dl_btn_medium(href="/group/campaign/#{campaign._id}/photoAlbum/#{campaign.photo_album.pid}") 上传活动照片

  input#photo_album_id(type="hidden" name="photo_album_id" value="#{campaign.photo_album.pid}")
  div#photo_list(ng-controller="PhotoListCtrl")
    div(ng-repeat="photo in photos")
      img(ng-src="{{ photo.uri }}")

append footExt
  script(src="/js/photo_thumbnail.js")
  script(src="/js/controllers/campaign.js")