extends ../layouts/user_base

append headExt
  link(rel="stylesheet" href="/css/jquery.Jcrop.min.css")
  link(rel="stylesheet" href="/css/edit_logo.css")

block contentExt
  .dl_container
    .row
      .col-xs-12.col-sm-7
        h3
          | 添加或更改你的大头像
          &nbsp;
          small: a(href="/users/home#/personal") 返回
          input#return_uri(type="hidden" value="/users/home/#{uid}#/personal/#{uid}")
        .row.margin_top_20
          .col-xs-4.col-sm-4
            #jcrop_container.img_frame
              img.jcrop_img.img-responsive(src="#{photo}")
          .col-xs-8.col-sm-8
            p.high_light_title.margin_top_20 从电脑中选择你喜欢的照片
            p.text 你可以上传JPG、JPEG、GIF、PNG或BMP文件
            form#edit_logo_form(action="/logo/update" method="post" enctype="multipart/form-data")
              input(type="hidden" name="userId" value="#{uid}")
              input(type="hidden" name="target" value="u")
              input#w(type="hidden" name="width" value="128")
              input#h(type="hidden" name="height" value="128")
              input#x(type="hidden" name="x" value="0")
              input#y(type="hidden" name="y" value="0")
              input#logo.hidden(type="file" name="logo" accept="image/*")
              label.dl_btn.dl_btn_small(for="logo") 选择头像
              button#save_button.dl_btn.dl_btn_small(type="submit" disabled) 保存
            p#remind.text-danger

        .row
          .col-xs-12.col-sm-12
            p.high_light_title.margin_top_50 这是你在动梨上的小头像图标
            p.text 随意拖拽或缩放大图中的方格，预览的小图即为保存后的小头像图标。
        .row
          .col-xs-12.col-sm-12
            .logo_panel.logo_big
              div.center-block.preview
                img#preview_big(src="#{'/logo/user/' + uid + '/150/150'}")
              p.text.size_text.text-center 150x150像素
            .logo_panel.logo_middle
              div.center-block.preview
                img#preview_middle(src="#{'/logo/user/' + uid + '/50/50'}")
              p.text.size_text.text-center 50x50像素
            .logo_panel.logo_small
              div.center-block.preview
                img#preview_small(src="#{'/logo/user/' + uid + '/27/27'}")
              p.text.size_text.text-center 17x17像素
      .col-xs-12.col-sm-5.right_aside
        p.high_light_title 给你自己扮酷
        p.text 照片尺寸需要大于150x150像素
        p.text 建议上传近距离的照片（比如大头照、特写），这样经过编辑后的头像会很清楚。
        p.text 保存成功后如果图标不更新，你可以用浏览器刷新几次。

  #loading_modal.modal.fade(role="dialog" aria-hidden="true")
    .modal-dialog.loading_modal
      .modal-content
        .modal-body
          button.close(type="button" data-dismiss="modal")
            span(aria-hidden="true") &times;
          .clearfix.loading_box
            .pull-left.loading_div
            h4.pull-left.loading_text 上传中

append footExt
  script(src="/js/jquery.Jcrop.min.js")
  script(src="/lib/jquery-form/jquery.form.js")
  script(src="/js/edit_logo.js")