extends ../layouts/manager

append headExt
  link(rel="stylesheet" href="/css/tree.css")

block baseInfo
  .dl_container.clearfix
    .aside
      //-用户头像
      img.size_80.img_contain.img_user(src="#{photo ? photo :'/img/icons/default_user_photo.png'}")
    .main.top-main
      //-人名
      .dl_row.top_username
        label.head= nickname
      //-公司名
      .dl_row.top_cname
        if (!department)
          a.subtitle(href='/company/home' ng-cloak) #{cname}
        else
          a.subtitle(href='/department/home/#{department._id}' ng-cloak) #{department.name}
      //-个性签名
      .dl_row.top_sign
        p.subtitle= sign
    .ad-top
      //- ad banner sapace
block panel
  .recent_campaigns_container(ng-controller="recentCampaignController")
    carousel(interval="5000")
      slide(ng-repeat="recentCampaign in recentCampaigns" ng-cloak)
        a.campaign_link.clearLinkUnderline(href="/campaign/detail/{{ recentCampaign._id }}")
          .campaign_title
            img.campaign_group_logo(ng-src="{{ img_url + recentCampaign.logo + '/72/72'}}")
            p.campaign_theme {{ recentCampaign.theme }}
            p.now_campaign_now(ng-if="recentCampaign.start_flag==1") 正在进行的活动
          .now_campaign_time(ng-if="recentCampaign.start_flag==0 || recentCampaign.photo_thumbnails.length==0")
            p.campaign_time_remind {{ recentCampaign.remind_text }}
            p.campaign_time_count(ng-if="recentCampaign.start_flag!=0") 快来传照片吧
            p.campaign_time_count(ng-if="recentCampaign.start_flag==0") {{ recentCampaign.start_time_text }}
          .now_campaign_photos(ng-if="recentCampaign.start_flag!=0 && recentCampaign.photo_thumbnails.length>0")
            img.now_campaign_photo(ng-src="{{ photo.uri + '/150/150'}}" ng-repeat="photo in recentCampaign.photo_thumbnails")
      slide(ng-if="recentCampaigns.length==0&&showCampaign" ng-cloak)
        p.campaign_time_count 您近期没有活动，快去参加吧
  ul.nav.nav-tabs(ng-init="uid='#{uid}';role='#{role}'")
    if role==='OWNER'
      li.tab_style(ng-class="{'active':nowTab=='group_message'}")
        a.subtitle.no_radius(href="#/group_message") 动态
      li.tab_style(ng-class="{'active':nowTab=='campaign'}")
        a.subtitle.no_radius(href="#/campaign/#{uid}") #{__("CAMPAIGN")}#{__("LIST")}
    //- li.tab_style(ng-class="{'active':nowTab=='schedule'}")
    //-   a.subtitle.no_radius(href="#/schedule/#{uid}") #{__("SCHEDULE")}
    li.tab_style(ng-class="{'active':nowTab=='timeLine'}")
      a.subtitle.no_radius(href="#/timeLine/#{uid}") 足迹
    li.tab_style(ng-class="{'active':nowTab=='personal'}")
      a.subtitle.no_radius(href="#/personal/#{uid}") 个人资料
  .tab-content
    .tab-pane.active
      div(ng-view).tab-body

block aside
  if role !== 'HR'
    include ../partials/group_thumbnail
    if (leader_teams.length)
      +group_thumbnail(leader_teams,'leader','管理的小队',1)
    if (selected_teams.length)
      +group_thumbnail(selected_teams,'active','加入的小队',2)
    if (unselected_teams.length)
      +group_thumbnail(unselected_teams,'inactive',__('UNSELECTED_TEAM'),3)
    .schedule_small(ng-controller="ScheduleSmallController" ng-cloak)
      include ../partials/schedule_list
      include ../partials/calendar_modal

append footExt
  script(src="/js/controllers/tabviewUser.js")
