extends ../layouts/manager

block baseInfo
  .dl_container.clearfix
    .aside
      //-用户头像
      img.size_80.img_contain(src="#{photo ? photo :'/img/icons/default_user_photo.png'}")
    .main.top-main
      //-人名
      .dl_row
        label.head= nickname
      //-公司名
      .dl_row
        a.subtitle(href='/company/home') #{cname}
      //-个性签名
      .dl_row
        p.subtitle= sign
    .ad-top
      //- ad banner sapace
block panel
  ul.nav.nav-tabs(ng-init="uid='#{uid}'")
    if role==='OWNER'
      li.tab_style(ng-class="{'active':nowTab=='group_message'}")
        a.subtitle.no_radius(href="#/group_message" ng-click="addactive('group_message')") #{__("LATEST_MESSAGE")}
    //-li.tab_style(ng-class="{'active':nowTab=='campaign'}")
      a.subtitle.no_radius(href="#/campaign" ng-click="addactive('campaign')") #{__("CAMPAIGN")}#{__("LIST")}
    li.tab_style(ng-class="{'active':nowTab=='schedule'}")
      a.subtitle.no_radius(href="#/schedule" ng-click="addactive('schedule')") #{__("SCHEDULE")}
    li.tab_style(ng-class="{'active':nowTab=='timeLine/#{uid}'}")
      a.subtitle.no_radius(href="#/timeLine/#{uid}" ng-click="addactive('timeLine/#{uid}')") #{__("TIME_LINE")}
  .tab-content.margin_top_20
    .tab-pane.active
      div(ng-view).tab-body

block aside
  if role !== 'HR'
    include ../partials/group_thumbnail
    +group_thumbnail(selected_teams,'active',__('SELECTED_TEAM'))
    +group_thumbnail(unselected_teams,'inactive',__('UNSELECTED_TEAM'))

append footExt
  script(src="/js/controllers/tabviewUser.js")
