extends ../layouts/user

append headExt
  link(rel="stylesheet" href="/css/tree.css")

block panel
  .user(ng-init="uid='#{uid}';role='#{role}'" )
  .campaigns_container.clearfix(ng-controller="recentCampaignController")
    .user_campaigns_container.top(ng-cloak)
      .campaign_head
        span.star
        label.title {{topCampaign?'置顶':'没有置顶活动'}}
        label.time_count(ng-if="topCampaign && topCampaign.start_time_text") 还剩 {{topCampaign.start_time_text}}
        //- a.clearLinkUnderline.pull-right(ng-if="topCampaign"  ng-click="openModal()") 编辑
        //- a.clearLinkUnderline.pull-right.add(ng-if="!topCampaign"  ng-click="openModal()") +
      .campaign(ng-if="topCampaign" ng-cloak)
        .info_left
          .year_col
            //- (ng-if="judgeYear($index)")
            p.year {{topCampaign.start_time  | date:'yyyy'}}
          .time_col
            p.text-center.day {{ topCampaign.start_time  | day }} {{ topCampaign.start_time | date:'HH:mm' }}
          .theme
            p {{topCampaign.theme}}
        .logo_col
          .team
            a.clearLinkUnderline(ng-href="{{topCampaign.link}}" target="_blank")
              img.campaign_logo(ng-src="{{topCampaign.logo}}/47/47")
              p.team_name {{topCampaign.name}}
        .content_col
          a.clearLinkUnderline(ng-href="/campaign/detail/{{topCampaign._id}}" target="_blank")
            //- p
            //-   strong 主题:
            //-   span.theme_text {{topCampaign.theme}}
            p.campaign_info
              span 开始时间:
              span.content_text {{topCampaign.start_time | date:'yyyy-MM-dd HH:mm' | dateView}}
            p.campaign_info
              span 结束时间:
              span.content_text {{topCampaign.end_time | date:'yyyy-MM-dd HH:mm' | dateView}}
            p.campaign_info
              span #{__("LOCATION")}:
              span.content_text {{topCampaign.location.name}}
    .user_campaigns_container.recent_unjoin(ng-if="recentUnjoinedCampaigns.length>0")
      .campaign_head(ng-cloak)
        label {{recentUnjoinedCampaigns.length}} 个新活动
        a.pull-right(ng-if="recentUnjoinedCampaigns.length>0" href="#/campaign/#{uid}" ng-click="openModal('recentUnjoinedCampaigns')") 更多
      .campaign(ng-if="recentUnjoinedCampaigns.length==0" ng-cloak)
        label 您现在没有新活动，快去找队长组织活动吧！
      .campaign(ng-if="recentUnjoinedCampaigns.length>0" ng-repeat="recentUnjoinedCampaign in recentUnjoinedCampaigns" ng-if="$index<2" ng-cloak)
        .year_col
          //- (ng-if="judgeYear($index)")
          p.year {{recentUnjoinedCampaign.start_time  | date:'yyyy'}}
        .time_col
          p.text-center.day {{ recentUnjoinedCampaign.start_time  | day }}
          p.text-center.time {{ recentUnjoinedCampaign.start_time | date:'HH:mm' }}
        .logo_col
          a(ng-href="{{recentUnjoinedCampaign.link}}" target="_blank")
            img.campaign_logo(ng-if="recentUnjoinedCampaign.type==='teamcampaign'" ng-src="{{recentUnjoinedCampaign.logo}}/47/47")
            img.campaign_logo(ng-if="recentUnjoinedCampaign.type!=='teamcampaign'" ng-src="{{recentUnjoinedCampaign.logo}}/47/47")
        .content_col
          a.clearLinkUnderline(ng-href="/campaign/detail/{{recentUnjoinedCampaign._id}}" target="_blank")
            p
              span 主题:
              span.theme_text {{recentUnjoinedCampaign.theme}}
            //- p
            //-   span 内容:
            //-   span.content_text {{recentUnjoinedCampaign.content}}
            p
              span #{__("LOCATION")}:
              span.content_text {{recentUnjoinedCampaign.location.name}}
    .user_campaigns_container.recent_unjoin.no_campaign(ng-if="recentUnjoinedCampaigns.length==0")
    .user_campaigns_container.recent_join(ng-if="recentJoinedCampaigns.length>0")
      .campaign_head(ng-cloak)
        label {{recentJoinedCampaigns.length}} 个活动即将开始
        a.pull-right(ng-if="recentJoinedCampaigns.length>0" href="#/campaign/#{uid}" ng-click="openModal('recentJoinedCampaigns')") 更多
      .campaign(ng-if="recentJoinedCampaigns.length==0" ng-cloak)
        label 您没有即将开始的活动，快去参加活动吧！
      .campaign(ng-if="recentJoinedCampaigns.length>0" ng-repeat="recentJoinedCampaign in recentJoinedCampaigns" ng-if="$index<2" ng-cloak)
        .logo_col
          a(ng-href="{{recentJoinedCampaign.link}}" target="_blank")
            img.campaign_logo(ng-if="recentJoinedCampaign.type==='teamcampaign'" ng-src="{{recentJoinedCampaign.logo}}/47/47")
            img.campaign_logo(ng-if="recentJoinedCampaign.type!=='teamcampaign'" ng-src="{{recentJoinedCampaign.logo}}/47/47")
        .content_col
          a.clearLinkUnderline(ng-href="/campaign/detail/{{recentJoinedCampaign._id}}" target="_blank")
            p
              span 主题:
              span.theme_text {{recentJoinedCampaign.theme}}
            //- p
            //-   strong 内容:
            //-   span.content_text {{recentUnjoinedCampaign.content}}
            p
              span #{__("LOCATION")}:
              span.content_text {{recentJoinedCampaign.location.name}}
        .time_col
          span.text-center 还剩
          span.text-center.time_count.pull-right {{ recentJoinedCampaign.start_time_text}}
    .user_campaigns_container.recent_join.no_campaign(ng-if="recentJoinedCampaigns.length==0")
    if myteam.length == 0
      .user_campaigns_container.recommend_team(ng-if="recentUnjoinedCampaigns.length==0 && recentJoinedCampaigns.length==0 && nowCampaigns.length==0" ng-cloak)
        .campaign_head
          a.text.pull-right.clearLinkUnderline(href="/company/home#/team_info" target="_blank" ng-cloak)
            p 您还没有加入任何小队
            p 加入小队参与更多精彩的活动吧！
    else
      .user_campaigns_container.recommend_team(ng-if="recentUnjoinedCampaigns.length==0 && recentJoinedCampaigns.length==0 && nowCampaigns.length==0" ng-cloak)
        .campaign_head
          a.text.pull-right.clearLinkUnderline
            p 您还没有任何活动
            p 联系队长组织精彩的活动吧！
    .user_campaigns_container.now_head(ng-if="nowCampaigns.length>0" ng-cloak)
      .campaign_head(ng-cloak)
        span.head_icon
        label 活动动态
      //- .campaign_head.right(ng-cloak)
      //-   a.clearLinkUnderline.pull-right(ng-if="newReply.length>0" href=""  ng-click="openModal()") {{newReply.length}}条未查看回复
    .now(ng-show="nowCampaigns.length>0" ng-init="showComment=-1;" ng-cloak)
      .campaigns(masonry reload="is_reload" items="nowCampaigns")
        .user_campaigns_container.masonry-item(ng-repeat="nowCampaign in nowCampaigns track by nowCampaign._id" ng-cloak)
          .campaign_head(ng-class="{'unconfrim':!nowCampaign.confirm_status}" ng-cloak)
            a.clearLinkUnderline(ng-href="/campaign/detail/{{nowCampaign._id}}" target="_blank")
              label {{nowCampaign.theme}}
            label.pull-right {{nowCampaign.confirm_status ?(nowCampaign.finish?'已结束':'正在进行中'):'挑战'}}
          .campaign(ng-class="{'provoke':nowCampaign.type=='provoke'}")
            .logo_col(ng-if="nowCampaign.type=='provoke'" )
              .team(ng-repeat="campaign_unit in nowCampaign.campaign_unit")
                a.clearLinkUnderline(ng-href="/group/page/{{campaign_unit.team._id}}" target="_blank")
                  img.campaign_logo(ng-src="{{campaign_unit.team.logo}}/70/70")
                  p.team_name {{campaign_unit.team.name}}
              .operator(ng-if="!nowCampaign.confirm_status" )
                //- button.dl_btn.dl_btn_small.pull-right(ng-if="nowCampaign.leader.length==0 && !nowCampaign.voteFlag" ng-click="vote(nowCampaign._id,true)") 赞成
                button.dl_btn.dl_btn_small.pull-right.btn_red(ng-if="nowCampaign.leader.indexOf(1)>-1" ng-click="dealProvoke(nowCampaign._id,nowCampaign.campaign_unit[1].team._id,1)") 接受
                button.dl_btn.cancel_btn.dl_btn_small.pull-right(ng-if="nowCampaign.leader.indexOf(1)>-1" ng-click="dealProvoke(nowCampaign._id,nowCampaign.campaign_unit[1].team._id,2)") 拒绝
                button.dl_btn.cancel_btn.dl_btn_small.pull-right(ng-if="nowCampaign.leader.indexOf(0)>-1" ng-click="dealProvoke(nowCampaign._id,nowCampaign.campaign_unit[0].team._id,3)") 取消
            .logo_col(ng-if="nowCampaign.type!='provoke'" )
              .team
                a.clearLinkUnderline(ng-href="{{nowCampaign.link}}" target="_blank")
                  img.campaign_logo(ng-src="{{nowCampaign.logo}}/70/70")
                  p.team_name {{nowCampaign.name}}
            .content_col
              a.clearLinkUnderline(ng-href="/campaign/detail/{{nowCampaign._id}}" target="_blank")
                //- p
                //-   strong 主题:
                //-   span.theme_text {{topCampaign.theme}}
                p.campaign_info
                  span 开始时间:
                  span.content_text {{nowCampaign.start_time | date:'yyyy-MM-dd HH:mm'}}
                p.campaign_info
                  span 结束时间:
                  span.content_text {{nowCampaign.end_time | date:'yyyy-MM-dd HH:mm'}}
                p.campaign_info
                  span #{__("LOCATION")}:
                  span.content_text {{nowCampaign.location.name}}
          .photos
            .photo(ng-repeat="photo in nowCampaign.photo_thumbnails" ng-class="{'odd':$index%4==1 || $index%4==2,'single':$last&&$even}")
              img(ng-click="showMorePhoto(nowCampaign.photo_album_id,photo.uri)" ng-src="{{photo.uri}}{{$last&&$even ? '/309/120': ($index%4==1 ||$index%4==2)?'/117/120':'/182/120'}}")
          .comments
            //- a.clearLinkUnderline.pull-right.vote(ng-if="!nowCampaign.confirm_status") {{nowCampaign.campaign_unit[nowCampaign.team[0]].positive}}个赞成
            a.clearLinkUnderline.pull-right.comment_num(ng-click="$root.showComment=$index;") {{nowCampaign.comment_sum}}条评论
            .comment_list(ng-if="$root.showComment==$index")
              simple-comment(component-id="{{nowCampaign.components.RichComment[0]}}" allow-publish="{{nowCampaign.allow.publishComment}}" after-render="reloadM()" comment-num=3)
        //- a.pull-right(href="") 退出
    .now.no_campaign(ng-if="nowCampaigns.length==0" ng-cloak)
  include ../users/user_modal
  if role !== 'HR'
    .schedule_small(ng-controller="ScheduleSmallController" ng-cloak)
      include ../partials/calendar_modal
  if user_role === 'LEADER'
    div.modal.fade#sponsorCampaignModel(ng-controller="SponsorController" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      include ../campaign/campaign_modal_base
append content
  include ../partials/photo_modal
block aside
  if user_role =='LEADER'
    .sponsor_container.sponsor
      a(href="javascript:void(0);" ng-click="newCampaign()")
        span.dl_icons.speaker
        label 发活动
    .sponsor_container.provoke
      a(href="javascript:void(0);" ng-click="newCampaign()")
        span.dl_icons.binoculars
        label 找对手
  .old_campaign_container.commentCampaign
    a.full_parent(href="#/commentCampaign/#{uid}" ng-click="openModal('commentCampaign')")
      label.clearLinkUnderline.news_count(ng-cloak) {{newReply.length}}
      label 热门活动讨论
      label.pull-right >>
  .old_campaign_container.timeline_container
    a.clearLinkUnderline(href="/users/timeLine/#{uid}")
      span.footprint
      label 活动足迹
      label.pull-right >>
  .infobox
    .head_title 
      span.dl_icons.info
      label.label_info 个人资料
      a.clearLinkUnderline.pull-right(href="#/personal/#{uid}" ng-click="openModal()")
        span.dl_icons.info_edit
    .info_left
      //-用户头像
      img.user_logo.img_contain(src="#{photo ? photo :'/img/icons/default_user_photo.png'}")
    .info_right
      //-人名
      div
        label.username= nickname
        label.score_label 积分
        label.score 500
      //-公司名
      .info_row
        a.clearLinkUnderline(href='/company/home' target="_blank" ng-cloak) #{cname}
        if department
          a.clearLinkUnderline(href='/department/home/#{department._id}' target="_blank" ng-cloak) #{department.name}

  if role !== 'HR'
    .schedule_small(ng-controller="ScheduleSmallController" ng-cloak)
      include ../partials/schedule_list
      include ../partials/calendar_modal
    if myteam.length > 0
      .groupsbox(ng-init="showFlag=false;")
        include ../partials/group_thumbnail
        +group_thumbnail(myteam)



append footExt
  script(src="/js/controllers/tabviewUser.js")
