extends ../layouts/user

block panel
  .user(ng-init="uid='#{uid}';role='#{role}'" )
  .campaigns_container.clearfix(ng-controller="recentCampaignController")
    //- .user_campaigns_container.top(ng-cloak)
    //-   .campaign_head
    //-     span.star
    //-     label.title {{topCampaign?'置顶':'没有置顶活动'}}
    //-     label.time_count(ng-if="topCampaign && topCampaign.start_time_text") 还剩 {{topCampaign.start_time_text}}
    //-     //- a.clearLinkUnderline.pull-right(ng-if="topCampaign"  ng-click="openModal()") 编辑
    //-     //- a.clearLinkUnderline.pull-right.add(ng-if="!topCampaign"  ng-click="openModal()") +
    //-   .campaign(ng-if="topCampaign" ng-cloak)
    //-     .info_left
    //-       .time_col
    //-         //- (ng-if="judgeYear($index)")
    //-         p.remind_text {{topCampaign.remind_text}}
    //-         p.time_text {{topCampaign.start_time_text}}
    //-     .logo_col
    //-       .team
    //-         a.clearLinkUnderline(ng-href="{{topCampaign.link}}" target="_blank")
    //-           img.campaign_logo(ng-src="{{topCampaign.logo}}/47/47")
    //-           .campaign_info
    //-             p.team_name {{topCampaign.name}}
    //-             p.team_name {{topCampaign.theme}}
    //-     .content_col
    //-       a.clearLinkUnderline(ng-href="/campaign/detail/{{topCampaign._id}}" target="_blank")
    //-         //- p
    //-         //-   strong 主题:
    //-         //-   span.theme_text {{topCampaign.theme}}
    //-         p.campaign_info
    //-           span 开始时间:
    //-           span.content_text {{topCampaign.start_time | date:'yyyy-MM-dd HH:mm' | dateView}}
    //-         p.campaign_info
    //-           span 结束时间:
    //-           span.content_text {{topCampaign.end_time | date:'yyyy-MM-dd HH:mm' | dateView}}
    //-         p.campaign_info
    //-           span #{__("LOCATION")}:
    //-           span.content_text {{topCampaign.location.name}}
    .user_campaigns_container.recent_unjoin(ng-if="recentUnjoinedCampaigns.length>0" ng-cloak)
      a.clearLinkUnderline(ng-if="recentUnjoinedCampaigns.length>0" href="#/campaign/#{uid}" ng-click="openModal('recentUnjoinedCampaigns')")
        .campaign_head(ng-cloak)
          label 最新活动
          span.pull-right &gt;
          span.campaign_count {{recentUnjoinedCampaigns.length}}
      .campaign_head(ng-if="recentUnjoinedCampaigns.length==0" ng-cloak)
        label 最新活动
      .campaign(ng-if="recentUnjoinedCampaigns.length>0" ng-repeat="recentUnjoinedCampaign in recentUnjoinedCampaigns" ng-if="$index<5" ng-cloak)
        .day_col
          //- (ng-if="judgeYear($index)")
          p.text-center.day {{ recentUnjoinedCampaign.start_time  | date:'dd' }}
        .time_col
          p.month {{ recentUnjoinedCampaign.start_time | date:'MM' }}月
          p.year {{recentUnjoinedCampaign.start_time  | date:'yyyy'}}
        .logo_col
          a(ng-href="{{recentUnjoinedCampaign.link}}" target="_blank")
            img.campaign_logo(ng-if="recentUnjoinedCampaign.type=='companycampaign'||recentUnjoinedCampaign.campaign_unit.length==1" ng-src="{{recentUnjoinedCampaign.logo}}/30/30")
            img.campaign_logo(ng-if="recentUnjoinedCampaign.campaign_unit &&recentUnjoinedCampaign.campaign_unit.length>1" ng-repeat="campaign_unit in recentUnjoinedCampaign.campaign_unit" ng-src="{{campaign_unit.team.logo}}/30/30")
        .content_col
          a.clearLinkUnderline(ng-href="/campaign/detail/{{recentUnjoinedCampaign._id}}" target="_blank")
            p(ng-if="recentUnjoinedCampaign.type=='companycampaign'||recentUnjoinedCampaign.campaign_unit.length==1")
              span {{recentUnjoinedCampaign.name}}
            p(ng-if="recentUnjoinedCampaign.campaign_unit &&recentUnjoinedCampaign.campaign_unit.length>1")
              span {{recentUnjoinedCampaign.campaign_unit[0].team.name}} VS {{recentUnjoinedCampaign.campaign_unit[1].team.name}}
            p
              span.theme_text {{recentUnjoinedCampaign.theme}}
            //- p
            //-   span 内容:
            //-   span.content_text {{recentUnjoinedCampaign.content}}
            //- p
            //-   span #{__("LOCATION")}:
            //-   span.content_text {{recentUnjoinedCampaign.location.name}}
        .operator
          a(ng-href="/campaign/detail/{{recentUnjoinedCampaign._id}}" target="_blank")
            span.dl_icons.icon_bgrarrow
    .user_campaigns_container.recent_unjoin.no_campaign(ng-if="recentUnjoinedCampaigns.length==0" ng-cloak)
    .user_campaigns_container.recent_join(ng-if="recentJoinedCampaigns.length>0" ng-cloak)
      .campaign_head(ng-cloak)
        label 热门活动
        //- label {{recentJoinedCampaigns.length}} 个活动即将开始
        //- a.pull-right(ng-if="recentJoinedCampaigns.length>0" href="#/campaign/#{uid}" ng-click="openModal('recentJoinedCampaigns')") 更多
      .campaign(ng-if="recentJoinedCampaigns.length>0" ng-repeat="recentJoinedCampaign in recentJoinedCampaigns" ng-if="$index<5" ng-cloak)
        .logo_col
          a(ng-href="{{recentJoinedCampaign.link}}" target="_blank")
            img.campaign_logo(ng-if="recentJoinedCampaign.type=='companycampaign'||recentJoinedCampaign.campaign_unit.length==1" ng-src="{{recentJoinedCampaign.logo}}/30/30")
            img.campaign_logo(ng-if="recentJoinedCampaign.campaign_unit &&recentJoinedCampaign.campaign_unit.length>1" ng-repeat="campaign_unit in recentJoinedCampaign.campaign_unit" ng-src="{{campaign_unit.team.logo}}/30/30")
        .content_col
          a.clearLinkUnderline(ng-href="/campaign/detail/{{recentJoinedCampaign._id}}" target="_blank")
            p(ng-if="recentJoinedCampaign.type=='companycampaign'||recentJoinedCampaign.campaign_unit.length==1")
              span {{recentJoinedCampaign.name}}
            p(ng-if="recentJoinedCampaign.campaign_unit &&recentJoinedCampaign.campaign_unit.length>1")
              span {{recentJoinedCampaign.campaign_unit[0].team.name}} VS {{recentJoinedCampaign.campaign_unit[1].team.name}}
            p
              span.theme_text {{recentJoinedCampaign.theme}}
            //- p
            //-   strong 内容:
            //-   span.content_text {{recentUnjoinedCampaign.content}}
            //- p
            //-   span #{__("LOCATION")}:
            //-   span.content_text {{recentJoinedCampaign.location.name}}
        .operator
          a.clearLinkUnderline(ng-href="/campaign/detail/{{recentJoinedCampaign._id}}" target="_blank")
            span.dl_icons.icon_bgrarrow
        .time_col
          span {{ recentJoinedCampaign.start_flag ?'正在进行':'即将开始'}}
    .user_campaigns_container.recent_join.no_campaign(ng-if="recentJoinedCampaigns.length==0" ng-cloak)
    .user_campaigns_container.now_head(ng-if="nowCampaigns.length>0" ng-cloak)
      .campaign_head(ng-cloak)
        span.head_icon
        label 活动动态
      //- .campaign_head.right(ng-cloak)
      //-   a.clearLinkUnderline.pull-right(ng-if="newReply.length>0" href=""  ng-click="openModal()") {{newReply.length}}条未查看回复
    .now(ng-show="nowCampaigns.length>0" ng-init="showComment=-1;" ng-cloak)
      .campaigns(masonry reload="is_reload" items="nowCampaigns")
        .user_campaigns_container.masonry-item(ng-repeat="nowCampaign in nowCampaigns track by nowCampaign._id" ng-cloak)
          //- campaign-card(ng-cloak item="nowCampaign")

          .campaign_head(ng-class="{'unconfrim':!nowCampaign.confirm_status}" ng-cloak)
            a.clearLinkUnderline(ng-href="/campaign/detail/{{nowCampaign._id}}" target="_blank")
              //- label {{nowCampaign.theme}}
              //- label.pull-right {{nowCampaign.confirm_status ?(nowCampaign.finish?'已结束':'进行中'):'挑战中'}}
              span.day {{nowCampaign.start_time | date:'dd'}}
              .date
                .month {{nowCampaign.start_time | date:'MM'}}月
                .year {{nowCampaign.start_time | date:'yyyy'}}
              img.campaign_logo.pull-right(ng-if="nowCampaign.type ==='companycampaign'" ng-src="{{campaign_unit[0].company.logo ? campaign_unit[0].company.logo :'/img/icons/default_company_logo.png'}}/30/30")
              img.campaign_logo.pull-right(ng-if="nowCampaign.type !=='companycampaign'" ng-repeat="campaign_unit in nowCampaign.campaign_unit" ng-src="{{campaign_unit.team.logo ? campaign_unit.team.logo :'/img/icons/default_group_logo.png'}}/30/30")
              span.name.pull-right {{nowCampaign.campaign_unit.length==1 ?  (nowCampaign.type ==='companycampaign' ? nowCampaign.campaign_unit[0].company.name:nowCampaign.campaign_unit[0].team.name): '比赛'}}
              //- span.date= moment(item.start_time).format('MM/DD/YYYY')
          .campaign(ng-class="{'provoke':!nowCampaign.confirm_status}")
            .logo_col(ng-if="!nowCampaign.confirm_status" )
              .team(ng-repeat="campaign_unit in nowCampaign.campaign_unit")
                a.clearLinkUnderline(ng-href="/group/page/{{campaign_unit.team._id}}" target="_blank")
                  img.campaign_logo(ng-src="{{campaign_unit.team.logo}}/70/70")
                  p.team_name {{campaign_unit.team.name}}
              .operator(ng-if="!nowCampaign.confirm_status" )
                //- button.dl_btn.dl_btn_small.pull-right(ng-if="nowCampaign.leader.length==0 && !nowCampaign.voteFlag" ng-click="vote(nowCampaign._id,true)") 赞成
                button.dl_btn.dl_btn_small.pull-right.btn_red(ng-if="nowCampaign.leader.indexOf(1)>-1" ng-click="dealProvoke($index,nowCampaign._id,nowCampaign.campaign_unit[1].team._id,1)") 接受
                button.dl_btn.cancel_btn.dl_btn_small.pull-right(ng-if="nowCampaign.leader.indexOf(1)>-1" ng-click="dealProvoke($index,nowCampaign._id,nowCampaign.campaign_unit[1].team._id,2)") 拒绝
                button.dl_btn.cancel_btn.dl_btn_small.pull-right(ng-if="nowCampaign.leader.indexOf(0)>-1" ng-click="dealProvoke($index,nowCampaign._id,nowCampaign.campaign_unit[0].team._id,3)") 取消
            .logo_col(ng-if="nowCampaign.confirm_status" )
              .campaign_status(ng-class="{'start_campaign':nowCampaign.start_flag,'unstart_campaign':!nowCampaign.start_flag}")
                span {{ nowCampaign.start_flag ?(nowCampaign.finish ?'已经结束':'正在进行'):nowCampaign.start_time_text+'后开始'}}
            .content_col
              a.clearLinkUnderline(ng-href="/campaign/detail/{{nowCampaign._id}}" target="_blank")
                p
                  span 主题:
                  span.theme_text {{nowCampaign.theme}}
                //- p
                //-   span 类型:
                //-   span.theme_text 
                p.campaign_info
                  span 开始时间:
                  span.content_text {{nowCampaign.start_time | date:'yyyy-MM-dd HH:mm'}}
                //- p.campaign_info
                //-   span 结束时间:
                //-   span.content_text {{nowCampaign.end_time | date:'yyyy-MM-dd HH:mm'}}
                p.campaign_info
                  span #{__("LOCATION")}:
                  span.content_text {{nowCampaign.location.name}}
                //- p.campaign_info
                //-   span 简介:
                //-   span.content_text {{nowCampaign.content}}
          //- .photos
          //-   .photo(ng-repeat="photo in nowCampaign.photo_thumbnails" ng-class="{'odd':$index%4==1 || $index%4==2,'single':$last&&$even}")
          //-     img(ng-click="showMorePhoto(nowCampaign.photo_album_id,photo.uri)" ng-src="{{photo.uri}}{{$last&&$even ? '/309/120': ($index%4==1 ||$index%4==2)?'/117/120':'/182/120'}}")

          .photos(ng-switch="nowCampaign.photo_thumbnails.length")
            div(class="photos_{{nowCampaign.photo_thumbnails.length}}" ng-switch-when="1")
              img.photo(ng-click="showMorePhoto(nowCampaign.photo_album_id,photo.uri)" ng-repeat="photo in nowCampaign.photo_thumbnails" class="photo_{{$index}}" ng-src="{{photo.uri}}/400/250")
            div(class="photos_{{nowCampaign.photo_thumbnails.length}}" ng-switch-when="2")
              img.photo(ng-click="showMorePhoto(nowCampaign.photo_album_id,photo.uri)" ng-repeat="photo in nowCampaign.photo_thumbnails" class="photo_{{$index}}" ng-src="{{photo.uri}}/195/180")
            div(class="photos_{{nowCampaign.photo_thumbnails.length}}" ng-switch-when="3")
              img.photo(ng-click="showMorePhoto(nowCampaign.photo_album_id,photo.uri)" ng-repeat="photo in nowCampaign.photo_thumbnails" class="photo_{{$index}}" ng-src="{{($index==0?photo.uri+'/195/290':photo.uri+'/195/240')}}")
            div(class="photos_{{nowCampaign.photo_thumbnails.length}}" ng-switch-when="4")
              img.photo(ng-click="showMorePhoto(nowCampaign.photo_album_id,photo.uri)" ng-repeat="photo in nowCampaign.photo_thumbnails" class="photo_{{$index}}" ng-src="{{($index==0 || $index==3)?photo.uri+'/160/145':photo.uri+'/230/145'}}")
          .comments
            //- a.clearLinkUnderline.pull-right.vote(ng-if="!nowCampaign.confirm_status") {{nowCampaign.campaign_unit[nowCampaign.team[0]].positive}}个赞成
            a.clearLinkUnderline.pull-right.comment_num(ng-click="$root.showComment=$root.showComment==$index?null:$index;reloadM();")
              img.reply_icon(src="/img/comment_grey.png")
              span {{nowCampaign.comment_sum}}条评论
            .comment_list(ng-if="$root.showComment==$index")
              simple-comment(component-id="{{nowCampaign.components.RichComment[0]}}" allow-publish="{{nowCampaign.allow.publishComment}}" after-render="reloadM()" comment-num=3)
        //- a.pull-right(href="") 退出
    .now.no_campaign(ng-if="nowCampaigns.length==0" ng-cloak)
  include ../users/user_modal
  if role !== 'HR'
    .schedule_small(ng-controller="ScheduleSmallController" ng-cloak)
      include ../partials/calendar_modal
  if user_role === 'LEADER'
    div.modal.fade#sponsorCampaignModel(ng-controller="SponsorController" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      include ../campaign/campaign_modal_base
append content
  include ../partials/photo_modal
block aside
  if user_role =='LEADER'
    a.clearLinkUnderline(href="javascript:void(0);" ng-click="newCampaign()")
      .sponsor_container.sponsor
        span.dl_icons.icon_speaker
        label 发活动
    a.clearLinkUnderline(href="/users/searchOpponents")
      .sponsor_container.provoke
        span.dl_icons.icon_binoculars
        label 找对手
  a.clearLinkUnderline(href="#/commentCampaign/#{uid}" ng-click="openModal('commentCampaign')")
    .old_campaign_container.commentCampaign
      label.clearLinkUnderline.news_count(ng-cloak) {{newReply.length}}
      label 活动讨论
      label.pull-right.dl_icons.icon_drarrow
  a.clearLinkUnderline(href="/users/timeLine/#{uid}")
    .old_campaign_container.timeline_container
      span.dl_icons.footprint
      label 活动足迹
      label.pull-right.dl_icons.icon_drarrow
  .infobox
    .head_title 
      span.dl_icons.icon_info
      label.label_info 个人资料
      a.clearLinkUnderline.icon_container(href="#/personal/#{uid}" ng-click="openModal()")
          span.dl_icons.info_edit
    .info
      .info_left
        //-用户头像
        img.user_logo.img_contain(src="#{photo ? photo :'/img/icons/default_user_photo.png'}")
      .info_right
        //-人名
        div
          label.username= nickname
          label.score_label 积分
          label.score 500
        //-公司名
        .info_row
          a.clearLinkUnderline(href='/company/home' target="_blank" ng-cloak) #{cname}
          if department
            a.clearLinkUnderline(href='/department/home/#{department._id}' target="_blank" ng-cloak) #{department.name}

  if role !== 'HR'
    .schedule_small(ng-controller="ScheduleSmallController" ng-cloak)
      include ../partials/schedule_list
      include ../partials/calendar_modal
    if myteam.length > 0
      .groupsbox(ng-init="showFlag=false;")
        include ../partials/group_thumbnail
        +group_thumbnail(myteam)



append footExt
  script(src="/js/controllers/tabviewUser.js")
