extends ../layouts/user

mixin campaignsContainer(containerTitle,containerClass,items,detailFlag)
  .user_campaigns_container(ng-init="#{containerClass}=#{detailFlag};" class="#{containerClass}" ng-class="{'card_campaign':#{detailFlag}||nowShow=='#{containerClass}'}" ng-if="(nowShow=='all'||nowShow=='#{containerClass}')" ng-cloak)
    .container_head(ng-click="#{containerClass}=!#{containerClass};" ng-cloak)
      span= containerTitle
      i.fa.pull-right(ng-if="#{items}.length>2" ng-class="{'fa-angle-right':!#{containerClass}&&nowShow!=='#{containerClass}','fa-angle-down':#{containerClass} || nowShow=='#{containerClass}'}")
      span.campaign_count {{#{items}.length}}
    .campaign_loading(ng-if="#{items}==undefined")
    div(ng-class="{'no_campaign':true}" ng-if="campaignLoaded && #{items}.length==0 && nowShow=='#{containerClass}'" ng-cloak)
      if containerClass=='recent_unjoin'
        .no_campaign_tip
          p 没有活动怎么办？进入
          p
            a.clearLinkUnderline.dl_btn.dl_btn_small(href="/company/home#/team_info") 小队列表
            span.tip_info 加入更多小队！
      else if containerClass=='recent_competition'
        .no_campaign_tip
          p
            span 点击
            a.clearLinkUnderline.dl_btn.dl_btn_small(href="/users/searchOpponents") 找对手
            span.tip_info 向其他小队发起挑战
    .campaign(ng-class="{true: 'campaign_detail', false: 'campaign_base'}[(#{detailFlag}&&#{containerClass})||nowShow=='#{containerClass}']" ng-repeat="item in #{items}" ng-if="#{detailFlag} ||$index<2||#{containerClass}||nowShow=='#{containerClass}'" ng-cloak)
      a.campaign_head.clearLinkUnderline(ng-href="/campaign/detail/{{item._id}}" target="_blank" title="进入活动详情页面")
        .day_col
          //- (ng-if="judgeYear($index)")
          p.text-center.day {{ item.start_time  | date:'dd' }}
        .time_col
          p.month {{ item.start_time | date:'MM' }}月
          p.year {{item.start_time  | date:'yyyy'}}
        .triangle_col(ng-if="#{detailFlag}||nowShow=='#{containerClass}'")
        .logo_col
          img.campaign_logo(ng-if="item.type=='companycampaign'||item.campaign_unit.length==1" ng-src="{{item.logo}}/30/30")
          img.campaign_logo(ng-if="item.campaign_unit &&item.campaign_unit.length>1" ng-repeat="campaign_unit in item.campaign_unit" ng-src="{{campaign_unit.team.logo}}/30/30")
        .content_col
          p
            if containerClass=='recent_competition'
              span.theme_text {{item.campaign_unit[0].team.name}}
              span 向
              span.theme_text {{item.campaign_unit[1].team.name}}
              span 发起挑战
            else
              span.theme_text(ng-if="item.campaign_unit &&item.campaign_unit.length>1") {{item.theme}}
              span.theme_text(ng-if="item.type=='companycampaign'||item.campaign_unit.length==1") {{item.name}}:{{item.theme}}
          //- p
          //-   strong 内容:
          //-   span.content_text {{item.content}}
          p
            if containerClass=='recent_competition'
              span 活动主题：{{item.theme}}
            else
              span #{__("LOCATION")}:
              span.content_text {{item.location.name}}
        .operator_col(ng-if="#{detailFlag}==false&&nowShow!=='#{containerClass}'")
          span.dl_icons.icon_bgrarrow
        .status_col(ng-if="#{detailFlag}")
          span {{ item.start_flag ?'正在进行':item.start_time_text+'后开始'}}
        .status_col(ng-if="nowShow=='#{containerClass}'")
          if containerClass=='recent_unjoin'
            button.dl_btn.dl_btn_small.pull-right(eat-click ng-if="item.team.length<=1" ng-click="join($index,item.campaign_unit[item.team[0]].team._id)") 参加
            .btn-group(ng-if="item.team.length>1")
              button.dl_btn.btn-primary.dl_btn_small.dropdown-toggle(type="button" data-toggle="dropdown") 参加
                span.caret
              ul.dropdown-menu(role="menu")
                li(ng-repeat="_team in item.team")
                  span.select_item(eat-click ng-click="join($parent.$parent.$index,item.campaign_unit[_team].team._id)") {{item.campaign_unit[_team].team.name}}
          else if containerClass=='recent_competition'
            button.dl_btn.btn_cancel.dl_btn_small.pull-right(eat-click ng-if="item.leader.indexOf(0)>-1" ng-click="dealProvoke($index,item._id,item.campaign_unit[0].team._id,3)") 取消
            button.dl_btn.btn_cancel.dl_btn_small.pull-right(eat-click ng-if="item.leader.indexOf(1)>-1 && item.leader.indexOf(0)==-1" ng-click="dealProvoke($index,item._id,item.campaign_unit[1].team._id,2)") 拒绝
            button.dl_btn.dl_btn_small.pull-right.btn_red(eat-click ng-if="item.leader.indexOf(1)>-1" ng-click="dealProvoke($index,item._id,item.campaign_unit[1].team._id,1)") 接受
      //- .photos(ng-if="#{detailFlag}||nowShow=='#{containerClass}'" ng-switch="item.photo_thumbnails.length")
      //-   div(class="photos_{{item.photo_thumbnails.length}}" ng-switch-when="1")
      //-     img.photo(ng-click="showMorePhoto(item.photo_album_id,photo.uri)" ng-repeat="photo in item.photo_thumbnails" class="photo_{{$index}}" ng-src="{{photo.uri}}/570/300")
      //-   div(class="photos_{{item.photo_thumbnails.length}}" ng-switch-when="2")
      //-     img.photo(ng-click="showMorePhoto(item.photo_album_id,photo.uri)" ng-repeat="photo in item.photo_thumbnails" class="photo_{{$index}}" ng-src="{{photo.uri}}/282/200")
      //-   div(class="photos_{{item.photo_thumbnails.length}}" ng-switch-when="3")
      //-     img.photo(ng-click="showMorePhoto(item.photo_album_id,photo.uri)" ng-repeat="photo in item.photo_thumbnails" class="photo_{{$index}}" ng-src="{{($index==0?photo.uri+'/282/305':photo.uri+'/282/150')}}")
      //-   div(class="photos_{{item.photo_thumbnails.length}}" ng-switch-when="4")
      //-     img.photo(ng-click="showMorePhoto(item.photo_album_id,photo.uri)" ng-repeat="photo in item.photo_thumbnails" class="photo_{{$index}}" ng-src="{{($index==0 || $index==3)?photo.uri+'/235/170':photo.uri+'/330/170'}}")
      //- pre-image-box(ng-if="(#{detailFlag}&&#{containerClass})||nowShow=='#{containerClass}'" images="item.photo_thumbnails" photo-album-id="item.photo_album_id")
      .comments(ng-if="(#{detailFlag}&&#{containerClass})||nowShow=='#{containerClass}'")
        //- a.clearLinkUnderline.pull-right.vote(ng-if="!item.confirm_status") {{item.campaign_unit[item.team[0]].positive}}个赞成
        a.clearLinkUnderline.pull-right.comment_num(ng-click="$root.showComment=$root.showComment=='#{containerClass}'+$index?null:'#{containerClass}'+$index;")
          span.pull-right {{item.comment_sum}}条评论
          span.dl_icons.icon_reply
            
        .comment_list(ng-if="$root.showComment=='#{containerClass}'+$index")
          simple-comment(component-id="{{item.components.RichComment[0]}}" allow-publish="{{item.allow.publishComment}}" comment-num=3)
block panel
  #user_data(data-uid='#{uid}')
  .campaigns_container.clearfix(report-contain ng-controller="recentCampaignController")
    .campaign_filter(ng-cloak)
      ul
        li.recent_all(ng-click="campaignFilter('all')" ng-class="{'active':nowShow=='all'}" title="显示所有的活动") 
          span.fileter_info 全部
        li.recent_unjoin(ng-click="campaignFilter('recent_unjoin')" ng-class="{'active':nowShow=='recent_unjoin'}" title="显示新的活动")
          span.fileter_info 新的活动
          span.campaign_num {{recentUnjoinedCampaigns.length}}
        li.recent_competition(ng-click="campaignFilter('recent_competition')" ng-class="{'active':nowShow=='recent_competition'}" title="显示挑战请求") 
          span.fileter_info 挑战
          span.campaign_num {{competitions.length}}
        li.recent_now(ng-click="campaignFilter('recent_now')" ng-class="{'active':nowShow=='recent_now'}" title="显示正在进行的活动")
          span.fileter_info 正在进行
          span.campaign_num {{nowCampaigns.length}}
        li.recent_join(ng-click="campaignFilter('recent_join')" ng-class="{'active':nowShow=='recent_join'}" title="显示即将开始的活动")
          span.fileter_info 即将开始
          span.campaign_num {{recentJoinedCampaigns.length}}
    +campaignsContainer('新的活动','recent_unjoin','recentUnjoinedCampaigns',false)
    +campaignsContainer('挑战','recent_competition','competitions',false)
    +campaignsContainer('正在进行','recent_now','nowCampaigns',true)
    +campaignsContainer('即将开始','recent_join','recentJoinedCampaigns',true)
    //- .now.no_campaign(ng-if="nowCampaigns.length==0" ng-cloak)
    report-modal
  include ../users/user_modal
  if user_role === 'LEADER'
    div.modal.fade#sponsorCampaignModel(ng-controller="SponsorController" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      include ../campaign/campaign_modal_base
//- append content
//-   include ../partials/photo_modal
block aside
  .infobox
    .head_title 
      span.dl_icons.icon_info
      label.label_info 个人资料
      a.clearLinkUnderline.icon_container(href="#/personal/#{uid}" ng-click="openModal()" title="编辑个人资料")
          span.dl_icons.info_edit
    .info
      .info_left
        //-用户头像
        img.user_logo.img_contain(src="#{photo ? photo :'/img/icons/default_user_photo.png'}")
      .info_right
        //-人名
        div
          label.username= nickname
          //- label.score_label 积分
          //- label.score 500
        //-公司名
        .info_row
          a.clearLinkUnderline(href='/company/home' target="_blank" ng-cloak) #{cname}
          if department
            a.clearLinkUnderline(href='/department/home/#{department._id}' target="_blank" ng-cloak) #{department.name}
  .groupsbox(ng-init="groupShowFlag=false;")
    include ../partials/group_thumbnail
    +group_thumbnail(myteam)
  if user_role =='LEADER'
    .sponsor_container.sponsor.affix_directive(title="发布活动")
      a.clearLinkUnderline.fullparent(href="javascript:void(0);" ng-click="newCampaign()")
        span.dl_icons.icon_speaker
        label 发活动
    //- .sponsor_container.provoke.affix_directive(title="进入找对手页面")
    //-   a.clearLinkUnderline.fullparent(href="/users/searchOpponents")
    //-     span.dl_icons.icon_binoculars
    //-     label 找对手
  //- .old_campaign_container.commentCampaign.affix_directive(class="#{user_role=='LEADER'?'affix_leader':''}" title="查看有讨论的活动")
  //-   a.clearLinkUnderline.fullparent(href="#/commentCampaign/#{uid}" ng-click="openModal('commentCampaign')")
  //-     span.dl_icons.comment_w
  //-     label.label_info 活动讨论
  //-     label.news_count(ng-cloak) {{newReply.length}}
  //-       i.fa.fa-angle-right
  .old_campaign_container.timeline_container.affix_directive(class="#{user_role=='LEADER'?'affix_leader':''}" title="进入活动足迹页面")
    a.clearLinkUnderline.fullparent(href="/users/timeLine/#{uid}")
      span.dl_icons.footprint
      label 活动足迹
      i.fa.fa-angle-double-right.pull-right
  if role !== 'HR'
    .schedule_small.affix_directive(class="#{user_role=='LEADER'?'affix_leader':''}" ng-controller="ScheduleSmallController" ng-cloak)
      include ../partials/schedule_list
      include ../partials/calendar_modal


append footExt
  script(src="/js/controllers/tabviewUser.js")
