extends ../layouts/manager

append headExt
  link(rel="stylesheet" href="/css/tree.css")

block baseInfo
  .dl_container.clearfix
    .aside
      //-用户头像
      img.size_80.img_contain.img_user(src="#{photo ? photo :'/img/icons/default_user_photo.png'}")
    .main.top-main
      //-人名
      .dl_row.top_username
        label.head= nickname
      //-公司名
      .dl_row.top_cname
        if (!department)
          a.subtitle(href='/company/home' ng-cloak) #{cname}
        else
          a.subtitle(href='/department/home/#{department._id}' ng-cloak) #{department.name}
      //-个性签名
      .dl_row.top_sign
        p.subtitle= sign
    .ad-top
      //- ad banner sapace
block panel
  ul.nav.nav-tabs(ng-init="uid='#{uid}';role='#{role}'")
    if role==='OWNER'
      li.tab_style(ng-class="{'active':nowTab=='group_message'}")
        a.subtitle.no_radius(href="#/group_message") 动态
      li.tab_style(ng-class="{'active':nowTab=='campaign'}")
        a.subtitle.no_radius(href="#/campaign/#{uid}") #{__("CAMPAIGN")}#{__("LIST")}
    li.tab_style(ng-class="{'active':nowTab=='schedule'}")
      a.subtitle.no_radius(href="#/schedule/#{uid}") #{__("SCHEDULE")}
    li.tab_style(ng-class="{'active':nowTab=='timeLine'}")
      a.subtitle.no_radius(href="#/timeLine/#{uid}") 足迹
    li.tab_style(ng-class="{'active':nowTab=='personal'}")
      a.subtitle.no_radius(href="#/personal/#{uid}") 个人资料
  .tab-content
    .tab-pane.active
      div(ng-view).tab-body

block aside
  if role !== 'HR'
    include ../partials/group_thumbnail
    if (leader_teams.length)
      +group_thumbnail(leader_teams,'leader','管理的小队',1)
    if (selected_teams.length)
      +group_thumbnail(selected_teams,'active','加入的小队',2)
    if (unselected_teams.length)
      +group_thumbnail(unselected_teams,'inactive',__('UNSELECTED_TEAM'),3)

append footExt
  script(src="/js/controllers/tabviewUser.js")
