extends ../layouts/base

append headExt
  link(rel="stylesheet" href="/css/search_opponents.css")

block content
  .wrap
    include ../partials/home_nav
    .dl_container
      .search_opponents
        .head_container.clearfix
          .headline
            img(ng-src="/img/icons/telescope.png")
            span 寻找对手，发起挑战!
          .my_teams.clearfix(ng-if="!hasSelected" ng-cloak)
            .select
              span 选择你要用来发起挑战的队伍
            .units
              each team,i in myTeams
                .unit(ng-class="{'leader':#{team.leader},'right':#{i}%4===3}" ng-click="select('#{team._id}')")
                  img.logo(ng-src="#{team.logo}")
                  .text
                    span.title= team.name
                  .buttons
                    if team.leader
                      button.button 为它选对手
                    else
                      button.button 给它推荐对手
          .selected_team(ng-if="hasSelected")
            p 挑战发起方
            .my_team.clearfix
              img.logo(ng-src="{{myTeam.logo}}")
              .text
                span.tname {{myTeam.name}}
                span.type {{myTeam.group_type}}
                span.leader 队长: {{myTeam.leader}}
              button.button.largerFont(ng-click="changeTeam()") 更换小队
        .tab_view.clearfix(ng-class="selectedStatus")
          ul.nav
            li.opponent_tab_style.sameCity(ng-class="{'active':nowTab=='sameCity'}")
              a.no_radius(ng-href="#/sameCity/{{selectTeamId}}" ng-click="addactive('sameCity')") 
                img.nav_img(ng-src="/img/icons/building_tower.png")
                span 同城小队
              .arrow
            li.opponent_tab_style.nearbyTeam(ng-class="{'active':nowTab=='nearbyTeam'}")
              a.no_radius(ng-href="#/nearbyTeam/{{selectTeamId}}" ng-click="addactive('nearbyTeam')") 
                img.nav_img(ng-src="/img/icons/pinstar.png")
                span 附近小队
              .arrow
            li.opponent_tab_style.search(ng-class="{'active':nowTab=='search'}")
              a.no_radius(ng-href="#/search/{{selectTeamId}}" ng-click="addactive('search')") 
                input.searchOpponentInput(ng-disabled="!myTeam" ng-model="keywords" placeholder="公司名字、小队名" ng-keypress="search($event)")
                button.search_button(ng-click="search()")
              .arrow
          .tab-content
            .tab_content
              div(ng-view)
  include ../partials/user_footer

append footExt
  script(src="/js/language/zh-CN.js")
  script(src="/js/controllers/searchOpponents.js")
  script(src="/js/service/campaign.js")
  script(src="/js/service/search.js")