extends ../layouts/base

append headExt
  link(rel="stylesheet" href="/css/search_opponents.css")

block content
  .wrap
    include ../partials/home_nav
    .dl_container.search_opponents.clearfix
      .head_container.clearfix
        .headline
          img(ng-src="")
          span 寻找对手，发起挑战!
        .my_teams.clearfix(ng-show="!myTeam")
          .select
            span 选择你要用来发起挑战的队伍
          .units
            each team in myTeams
              .unit
                img.logo(ng-src="#{team.logo}")
                .text
                  span.title= team.name
                  span.type= team.group_type
                .buttons
                  if team.leader
                    button.button.selectOpponent(ng-click="select('#{team._id}')") 为它选对手
                  else
                    button.button.recommand(ng-click="select('#{team._id}')") 给它推荐对手
        .selected_team(ng-show="myTeam")
          p 挑战发起方
          .my_team.clearfix
            img.logo(ng-src="{{myTeam.logo}}")
            .text
              span.tname {{myTeam.name}}
              span.type {{myTeam.group_type}}
              span.leader 队长: {{myTeam.leader}}
            button.dl_btn.button(ng-click="changeTeam()") 更换小队
      .tab_view.clearfix(ng-class="selectedStatus")
        ul.nav
          li.opponnet_tab_style.sameCity(ng-class="{'active':nowTab=='sameCity'}")
            a.no_radius(ng-href="#/sameCity/{{selectTeamId}}" ng-click="addactive('sameCity')") 
              img()
              span 同城小队
          li.opponnet_tab_style.nearbyTeam(ng-class="{'active':nowTab=='nearbyTeam'}")
            a.no_radius(ng-href="#/nearbyTeam/{{selectTeamId}}" ng-click="addactive('nearbyTeam')") 附近小队
          li.opponnet_tab_style.search(ng-class="{'active':nowTab=='search'}")
            a.no_radius 搜索
        .tab-content
          .tab-pane.active
            div(ng-view)
  include ../partials/user_footer

append footExt
  script(src="/js/language/zh-CN.js")
  script(src="/js/controllers/searchOpponents.js")
  script(src="/js/service/campaign.js")
  script(src="/js/service/search.js")