extends ../layouts/base

append headExt
  link(rel="stylesheet" href="/css/userpage.css")

block content
  .wrap.user_page
    include ../partials/home_nav
    .dl_container.clearfix
      .main(ng-controller="timelineController")
        block panel
          #user_data(data-id="#{user._id}")
          .timeline_control
            .control_year(ng-class="{'active_year':nowYear=='timeline0'}" ng-click="scrollTo('timeline0_0')")
              span 现在
            .control_year(ng-repeat ="years in timelines" ng-class="{'active_year':nowYear==years.year}")
              span(ng-click="nowYear=years.year;scrollTo(years.year+'_'+years.month[0].month)") {{years.year}}
              .months(ng-if="nowYear==years.year")
                .control_month(ng-repeat ="month in years.month")
                  a.clearLinkUnderline(ng-class="{'active_month':nowMonth==month.month}" ng-click="scrollTo(years.year+'_'+month.month)")
                    span {{month.month}}月
            .control_year(ng-class="{'active_year':nowYear=='timeline1'}" ng-click="scrollTo('timeline1_0')")
              span 最初
          if user.role !=='OWNER'
            .dl_info_container.base_info_container.clearfix
              .info_container.logo_container
                //-用户头像
                img.user_logo(src="#{user.photo ? user.photo+'/100/100' :'/img/icons/default_user_photo.png'}")
              .info_container.base_info
                //-人名
                .dl_row
                  label.nickname= user.nickname
                .dl_row
                  label 真名: #{user.nickname}

                //-公司名
                .dl_row
                  if (!user.department)
                    label 公司名：#{user.cname}
                    //- a(href='/company/home' ng-cloak) #{user.cname}
                  else
                    label 部门名： #{user.department.name}
                    //- a(href='/department/home/#{user.department._id}' ng-cloak) #{user.department.name}
                //-个性签名
                .dl_row
                  label.introduce 简介：#{user.introduce}
              .info_container
                .dl_row
                  label 个人信息
                .dl_row
                  label 手机：#{user.phone}
                .dl_row
                  label 邮箱:#{user.email}
                .dl_row
                  label.register_date 注册时间:#{moment(user.register_date).format('YYYY-MM-DD HH:mm')}
            .dl_info_container.team_info_container.clearfix(ng-init="showMore=false;")
              .info_left
                label.label_info 加入的小队
              .info_right
                each team,index in user.teams
                  .team(ng-if="showMore || #{index}<9" ng-cloak)
                    a.clearLinkUnderline(ng-href="/group/page/#{team._id}" target="_blank")
                      img.team_logo(ng-src="#{team.logo}/56/56")
                      p.team_name= team.name
              if user.teams.length>9
                .show_more(ng-cloak)
                  a(ng-click="showMore=!showMore;") {{showMore ? '收缩':'展开'}}
          else
            .dl_info_container.self_info_container.clearfix
              .self_logo_container
                //-用户头像
                img.user_logo(src="#{user.photo ? user.photo+'/88/88' :'/img/icons/default_user_photo.png'}")
                .dl_row
                  label.nickname= user.nickname
                .dl_row
                  a.back_container(href="/users/home")
                    span.back
                    span.back_btn 返回个人主页

              .self_right_container.campaign_count
                span 共参加过
                span.campaign_num #{length}
                span 个活动
              //- .self_right_container.photo_count
              //-   span 我被圈出的照片

                
          .user_timeline(when-scrolled="loadMore" select-class="date_separator")
            if length>0
              .dl_timeline(campaign-card-container)
                .spine
                .year(ng-repeat ="years in timelines")
                  .month(ng-repeat ="month in years.month")
                    .date_separator(id='{{years.year}}_{{month.month}}' data-load="{{month.campaigns.length}}")
                      span.span(ng-click="scrollTo(years.year+'_'+month.month)") {{years.year}}-{{month.month}}
                    .column.column_left
                      campaign-card(ng-repeat="campaign in month.campaigns" ng-if="$index%2===0" item="campaign" role="#{user.role}")
                    .column.column_right
                      campaign-card(ng-repeat="campaign in month.campaigns" ng-if="$index%2===1" item="campaign" role="#{user.role}")
                .date_separator(id='timeline1_0' data-load='0')
                  span.span 初来乍到
                  .full_column
                    span #{moment(user.register_date).format('YYYY-MM-DD HH:mm')} 注册
            else
              .loademp.text-center #{__("NO_TIMELINE")}
          include ../partials/report_modal
  include ../partials/user_footer



append footExt
  script(src="/js/controllers/timeline.js")