extends ../layouts/user

append headExt
  link(rel="stylesheet" href="/css/tree.css")

block panel
  .dl_info_container.clearfix
    .info_container.logo_container
      //-用户头像
      img.user_logo(src="#{user.photo ? user.photo+'/100/100' :'/img/icons/default_user_photo.png'}")
    .info_container.base_info
      //-人名
      .dl_row
        label.nickname= user.nickname
      .dl_row
        label 真名: #{user.nickname}

      //-公司名
      .dl_row
        if (!user.department)
          label 公司名：#{user.cname}
          //- a(href='/company/home' ng-cloak) #{user.cname}
        else
          label 部门名： #{user.department.name}
          //- a(href='/department/home/#{user.department._id}' ng-cloak) #{user.department.name}
      //-个性签名
      .dl_row
        label.introduce 简介：#{user.introduce}
    .info_container
      .dl_row
        label 个人信息
      .dl_row
        label 手机：#{user.phone}
      .dl_row
        label 邮箱:#{user.email}
      .dl_row
        label.register_date 注册时间:#{moment(user.register_date).format('YYYY-MM-DD HH:mm')}
  .dl_info_container.clearfix
    label 加入的小队
    each team in user.teams
      .team
        a.clearLinkUnderline(ng-href="/group/page/#{team._id}" target="_blank")
          img.team_logo(ng-src="#{team.logo}/40/40")
          p.team_name= team.name

  .loading_div(ng-show = 'loading')
  .user_timeline(ng-show = '!loading')
    if length>0
      .dl_timeline
        .spine
        each years in newTimeLines
          .date_separator(id='year' + "#{years[0].year}")
            span.span= years[0].year
          .column.column_left
            each item,index in years
              if index%2==0
                .timeline_element
                  .title(ng-show="role!=='GUEST'&&role!=='GUESTHR'&&role!=='GUESTLEADER'")
                    a(href="/campaign/detail/#{item.id}",target="_blank")
                      img.timeline-logo.pull-left(src="#{item.logo ? item.logo :'/img/icons/default_company_logo.png'}")
                      span.date= moment(item.start_time).format('MM/DD')
                      span.head= item.head
                  .img_scroll(ng-show="role!=='GUEST'&&role!=='GUESTHR'&&role!=='GUESTLEADER'")
                    a(href="/campaign/detail/#{item.id}",target="_blank")
                      .img_scroll
                        div(class="photos_#{item.photo_list.length}")
                          each imgs,img_index in item.photo_list
                            img.photo(class="photo_#{img_index}" src="#{imgs.uri}/263/263")
                  .title(ng-show="role==='GUEST'||role==='GUESTHR'||role==='GUESTLEADER'")
                    img.timeline-logo.pull-left(src="#{item.logo ? item.logo :'/img/icons/default_company_logo.png'}")
                    span.date= moment(item.start_time).format('MM/DD')
                    span.head= item.head
                  .img_scroll(ng-show="role==='GUEST'||role==='GUESTHR'||role==='GUESTLEADER'")
                    a(href="/campaign/detail/#{item.id}",target="_blank")
                      div(class="photos_#{item.photo_list.length}")
                        each imgs,img_index in item.photo_list
                          img.photo(class="photo_#{img_index}" src="#{imgs.uri}/263/263")
                  //- div(ng-if="#{item.photo_list.length}===0")
                  //-   .content(ng-show="role!=='GUEST'&&role!=='GUESTHR'&&role!=='GUESTLEADER'")
                  //-     a(href="/campaign/detail/#{item.id}",target="_blank")
                  //-       p= item.content
                  //-   .content(ng-show="role==='GUEST'||role==='GUESTHR'||role==='GUESTLEADER'")
                  //-     p= item.content
          .column.column_right
            each item,index in years
              if index%2
                .timeline_element
                  .title(ng-show="role!=='GUEST'&&role!=='GUESTHR'&&role!=='GUESTLEADER'")
                    a(href="/campaign/detail/#{item.id}",target="_blank")
                      img.timeline-logo.pull-left(src="#{item.logo ? item.logo :'/img/icons/default_company_logo.png'}")
                      span.date= moment(item.start_time).format('MM/DD')
                      span.head= item.head
                  .img_scroll(ng-show="role!=='GUEST'&&role!=='GUESTHR'&&role!=='GUESTLEADER'")
                    a(href="/campaign/detail/#{item.id}",target="_blank")
                      div(class="photos_#{item.photo_list.length}")
                        each imgs,img_index in item.photo_list
                          img.photo(class="photo_#{img_index}" src="#{imgs.uri}/263/263")
                  .title(ng-show="role==='GUEST'||role==='GUESTHR'||role==='GUESTLEADER'")
                    img.timeline-logo.pull-left(src="#{item.logo ? item.logo :'/img/icons/default_company_logo.png'}")
                    span.date= moment(item.start_time).format('MM/DD')
                    span.head= item.head
                  .img_scroll(ng-show="role==='GUEST'||role==='GUESTHR'||role==='GUESTLEADER'")
                    a(href="/campaign/detail/#{item.id}",target="_blank")
                      div(class="photos_#{item.photo_list.length}")
                        each imgs,img_index in item.photo_list
                          img.photo(class="photo_#{img_index}" src="#{imgs.uri}/263/263")
                  //- div(ng-if="#{item.photo_list.length}===0")
                  //-   .content(ng-show="role!=='GUEST'&&role!=='GUESTHR'&&role!=='GUESTLEADER'")
                  //-     a(href="/campaign/detail/#{item.id}",target="_blank")
                  //-       p= item.content
                  //-   .content(ng-show="role==='GUEST'||role==='GUESTHR'||role==='GUESTLEADER'")
                  //-     p= item.content
    else
      .loademp.text-center #{__("NO_TIMELINE")}


append footExt
  script(src="/js/controllers/tabviewUser.js")