extends ../layouts/user_base

append headExt
  link(rel="stylesheet" href="/css/photo_album.css")
  link(rel="stylesheet" href="/css/competition.css")

block contentExt
  .dl_container.clearfix(ng-controller="competitionController" ng-init="role='#{role}';user = #{JSON.stringify(user)};competition_id='#{competition._id}';confirm_mode='#{confirm_mode}';score_a=#{competition.camp[0].score?competition.camp[0].score:0};score_b=#{competition.camp[1].score?competition.camp[1].score:0};")
    include ../partials/breadcrumb
    +breadcrumb(links)
    .main
      if !competition.active&&competition.camp[1].start_confirm
        .text-center #{__("CAMPAIGNCLOSE")}
      #competition_content.competition_content(data-nowteam="#{team}" data-id='#{competition._id}')
        .row
          .team_left.col-xs-4
            img.pull-right.team_logo(draggable="false" src='#{competition.camp[0].logo?competition.camp[0].logo:"/img/icons/default_group_logo.png"}')
            .clearfix
            div.text-left.pull-right
              a(href="/group/home/#{competition.camp[0].id}")= competition.camp[0].tname
              if (competition.active || !competition.camp[1].start_confirm)&& !competition.finish && role!='HR' && team.indexOf(0)>-1
                div
                  if competition.camp[1].start_confirm
                    if join_flag[0]
                      input.dl_btn.dl_btn_detail(type = "button" value = "#{__('QUIT')}#{__('CAMPAIGN')}" ng-click="quitCampaign('#{competition._id}','#{competition.camp[0].id}')")
                    else
                      input.dl_btn.dl_btn_detail(type = "button" value = "#{__('ENTRY')}#{__('JOIN')}" ng-click="joinCampaign('#{competition._id}','#{competition.camp[0].id}')")
                  else
                    a(ng-click="vote('#{competition._id}','#{vote_flag[0]}','#{competition.camp[0].id}')") #{(vote_flag[0] == 1 ? "取消" : "赞")+"("+(competition.camp[0].vote.positive ? competition.camp[0].vote.positive :'0')+")"}
          .score_panel.col-xs-4
            if score_flag
              h1.text-center VS
              .dl_box#score_tip
                .dl_score_frame
                  if confirm_mode!=undefined && confirm_mode!=0
                    label.dl_score(ng-if="!edit") {{score_a}}
                    input.dl_score(type="text" maxlength="3" ng-model="$parent.score_a" ng-change="numValidate()" ng-mouseover="tip()" ng-if="edit")
                    if confirm_mode === 2
                        a.dl_btn_right(ng-if="!edit" ng-click='confirmScore(true)') 接受比分
                  else
                    label.dl_score= competition.camp[0].score
                .dl_score_frame
                  .dl_score :
                  if confirm_mode === 1
                    a.dl_btn_right(ng-disabled="true") 等待确认
                  if confirm_mode === 3
                    a.dl_btn_right(ng-click='scoreModify()') {{modify_caption}}
                .dl_score_frame
                  if confirm_mode!=undefined && confirm_mode!=0
                    label.dl_score(ng-if="!edit") {{score_b}}
                    input.dl_score(type="text" ng-model="$parent.score_b" maxlength="3" ng-change="numValidate()" ng-mouseover="tip()" ng-if="edit")
                    if confirm_mode === 2
                      a.dl_btn_right(ng-click='scoreModify()') {{object_caption}}
                  else
                    label.dl_score= competition.camp[1].score
            else if response_flag
              .text-center
                button.dl_btn.dl_btn_small.operator_btn(ng-click="responseProvoke('#{competition.camp[1].id}','#{competition._id}')") #{__("FACE")}
          .team_right.col-xs-4
            img.pull-left.team_logo(draggable="false" src='#{competition.camp[1].logo?competition.camp[1].logo:"/img/icons/default_group_logo.png"}')
            .clearfix
            div.text-left.pull-left
              a(href="/group/home/#{competition.camp[1].id}")= competition.camp[1].tname
              if (competition.active || !competition.camp[1].start_confirm) && !competition.finish && role!='HR' && team.indexOf(1)>-1
                div
                  if competition.camp[1].start_confirm
                    if join_flag[1]
                      input.dl_btn.dl_btn_detail(type = "button" value = "#{__('QUIT')}#{__('CAMPAIGN')}" ng-click="quitCampaign('#{competition._id}','#{competition.camp[1].id}')")
                    else
                      input.dl_btn.dl_btn_detail(type = "button" value = "#{__('ENTRY')}#{__('JOIN')}" ng-click="joinCampaign('#{competition._id}','#{competition.camp[1].id}')")
                  else
                    a(ng-click="vote('#{competition._id}','#{vote_flag[1]}','#{competition.camp[1].id}')")  #{(vote_flag[1] == 1 ? "取消" : "赞")+"("+(competition.camp[1].vote.positive ? competition.camp[1].vote.positive :'0')+")"}
        .row
          .col-xs-5.col-xs-offset-1
            if competition.camp[1].start_confirm
              p.subtitle #{__("JOIN")}#{__("MEMBER")}
              if competition.active&&!competition.finish&&competition_leader.indexOf(0)>-1
                each teamAMember in competition.camp[0].member
                  img.teamMember.team_member_logo.img_user(x-donler-draggable="true" draggable="false" tooltip="#{team.indexOf(0)>-1?teamAMember.nickname:''}" data-camp='0' data-tid="#{competition.camp[0].id}" src='#{teamAMember.photo}' id='a__#{teamAMember.uid}')
                each teamAMember in competition.camp[0].member_quit
                  img.teamMember.team_member_logo.img_user(draggable="false" tooltip="#{team.indexOf(0)>-1?teamAMember.nickname:''}" src='#{teamAMember.photo}' id='a__#{teamAMember.uid}')
              else
                each teamAMember in competition.camp[0].member
                  img.teamMember.team_member_logo.img_user(draggable="false" tooltip="#{team.indexOf(0)>-1?teamAMember.nickname:''}" src='#{teamAMember.photo}' id='a__#{teamAMember.uid}')
            else
              p.subtitle #{__("POSITIVE")}#{__("MEMBER")}
              each teamAMember in competition.camp[0].vote.positive_member
                img.teamMember.team_member_logo.img_user(draggable="false" tooltip="#{team.indexOf(0)>-1?teamAMember.nickname:''}" src='#{teamAMember.photo}' id='a__#{teamAMember.uid}')
          .col-xs-5
            if competition.camp[1].start_confirm
              .row
                p.subtitle.pull-right #{__("JOIN")}#{__("MEMBER")}
              if competition.active&&!competition.finish&&competition_leader.indexOf(1)>-1
                each teamBMember in competition.camp[1].member
                  img.teamMember.team_member_logo.pull-right.img_user(x-donler-draggable="true" draggable='false' tooltip="#{team.indexOf(1)>-1?teamBMember.nickname:''}" data-camp='1' data-tid="#{competition.camp[1].id}" src='#{teamBMember.photo}' id='b__#{teamBMember.uid}')
                each teamBMember in competition.camp[1].member_quit
                  img.teamMember.team_member_logo.pull-right.img_user(draggable="false" tooltip="#{team.indexOf(1)>-1?teamBMember.nickname:''}" src='#{teamBMember.photo}' id='b__#{teamBMember.uid}')
              else
                each teamBMember in competition.camp[1].member
                  img.teamMember.team_member_logo.pull-right.img_user(draggable="false" tooltip="#{team.indexOf(1)>-1?teamBMember.nickname:''}" src='#{teamBMember.photo}' id='b__#{teamBMember.uid}')
            else
              .row
                p.subtitle.pull-right #{__("POSITIVE")}#{__("MEMBER")}
              each teamBMember in competition.camp[1].vote.positive_member
                img.teamMember.team_member_logo.pull-right.img_user(draggable="false" tooltip="#{team.indexOf(1)>-1?teamBMember.nickname:''}" src='#{teamBMember.photo}' id='b__#{teamBMember.uid}')
        //- 7是足球
        if competition.camp[0].gid === '7'
          hr
          .row
            .col-xs-1
            .col-xs-10.img_contain
              .formatField(x-donler-drop-target="#{competition.active&&!competition.finish&&competition_leader.length>0}" draggable='false' )
                if competition.active&&!competition.finish&&competition_leader.indexOf(0)>-1
                  each teamAMember in competition.camp[0].formation
                    img.team_member_logo.teamMember.onmemberA.img_user(x-donler-member="true" x-donler-draggable="true" draggable="false" data-camp='0' id='on_a__#{teamAMember.uid}' data-tid="#{competition.camp[0].id}" data-top='#{teamAMember.y}' data-left='#{teamAMember.x}')
                else
                  each teamAMember in competition.camp[0].formation
                    img.team_member_logo.teamMember.onmemberA.img_user(x-donler-member="true" draggable="false" data-camp='0' id='on_a__#{teamAMember.uid}' data-tid="#{competition.camp[0].id}" data-top='#{teamAMember.y}' data-left='#{teamAMember.x}')
                if competition.active&&!competition.finish&&competition_leader.indexOf(1)>-1
                  each teamBMember in competition.camp[1].formation
                    img.team_member_logo.teamMember.onmemberB.img_user(x-donler-member="true" x-donler-draggable="true" draggable="false" data-camp='1' id='on_b__#{teamBMember.uid}' data-tid="#{competition.camp[1].id}" data-top='#{teamBMember.y}' data-left='#{teamBMember.x}')
                else
                  each teamBMember in competition.camp[1].formation
                    img.team_member_logo.teamMember.onmemberB.img_user(x-donler-member="true" draggable="false" data-camp='1' id='on_b__#{teamBMember.uid}' data-tid="#{competition.camp[1].id}" data-top='#{teamBMember.y}' data-left='#{teamBMember.x}')
        hr
        if role ==='LEADER' || role==='MEMBER'
          .dl_comment.row
            form.dl_detail_main(name="comment_form" novalidate)
              p.subtitle #{__("I")}#{__("WANT")}#{__("LEAVEMESSAGE")}
              textarea.dl_modal_input.form-control(rows="3" name="content" ng-model="new_comment.text" ng-change="judge()" placeholder="请控制在140字以内" maxlength=140 required)
              button.dl_btn.pull-right.dl_btn_submit(ng-click="comment()" ng-disabled="comment_form.$invalid") #{__("SUBMIT")}#{__("LEAVEMESSAGE")}
              .dl_row(bs-popover)
                section
                  br
                  div.comment.clearfix(ng-repeat="comment in comments")
                    .comment_user_info
                      a(href="/users/home/{{comment.poster._id}}" )
                        img.user_photo.size_56.img_user(ng-src="{{comment.poster.photo}}" ng-Mouseenter="showUserCard(comment.poster._id,comment._id)" id='pop{{comment._id}}' rel='popover')
                      p.dl_user_name_small
                        a(href="/users/home/{{comment.poster._id}}")(ng-cloak) {{comment.poster.nickname}}
                    .comment_content_panel
                      .relative
                        .triangle_border
                        .triangle
                        .comment_content
                          p(ng-cloak) {{comment.content}}
                      label.comment_date.text {{comment.create_date | date:'yyyy-MM-dd HH:mm' | dateView}}
                      a.mouse_hidden.comment_date.text.pull-right(ng-if="comment.delete_permission" ng-click="deleteComment($index)") 删除
    .side
      if (role==='HR' || role==='LEADER') && competition.active &&!competition.finish
        .pull-right
          button.cancel_btn.dl_btn_small.operator_btn(ng-click="cancel('#{competition._id}')") 关闭活动
      h4.text-left 活动简介
      hr
      .dl_detail_border.clearfix
        .dl_detail_content
          .dl_detail_row
            .dl_detail_label
              span #{__("CAMPAIGN")}#{__("PLACE")}#{__("LOCATION")}:
            .dl_detail_detail
              span= competition.location.name
          .dl_detail_row
            .dl_detail_label
              span #{__("CAMPAIGN")}#{__("START_TIME")}:
            .dl_detail_detail
              span= moment(competition.start_time).format("YYYY-MM-DD HH:mm")
          .dl_detail_row
            .dl_detail_label
              span #{__("CAMPAIGN")}#{__("END_TIME")}:
            .dl_detail_detail
              span= moment(competition.end_time).format("YYYY-MM-DD HH:mm")
          if competition.member_min>0
            .dl_detail_row
              .dl_detail_label
                span #{__("LEAST")}#{__("ENTRY")}#{__("SUM")}:
              .dl_detail_detail
                span= competition.member_min
          if competition.member_max>0
            .dl_detail_row
              .dl_detail_label
                span #{__("ENTRY")}#{__("SUM")}#{__("LIMIT")}:
              .dl_detail_detail
                span= competition.member_max
          .dl_detail_row
            .dl_detail_label
              span #{__("ENTRY")}#{__("DEADLINE")}:
            .dl_detail_detail
              span= moment(competition.deadline).format("YYYY-MM-DD HH:mm")
          .dl_detail_row
            .dl_detail_label
              span #{__("CAMPAIGN")}#{__("SIMPLE")}#{__("INTRODUCTION")}:
            .dl_detail_detail
              span= competition.content
      hr
      h4.text-left 活动地点
      #location.size_400
      hr
      div
        if role!=='PARTNER'
          .clearfix
            p.subtitle.pull-left #{__("CAMPAIGN")}#{__("WONDERFUL")}#{__("PHOTO")}
            a.pull-right(href="/photoAlbumDetailView/#{competition.photo_album._id}") 上传活动照片
          .photo_album
            each photo in photo_thumbnails
              a.thumbnail_cell(href="/photoView/#{competition.photo_album._id}/#{photo._id}")
                img.thumbnail_img.img-thumbnail(src="#{photo.thumbnail_uri}")
                p.thumbnail_name.text-center= photo.name

append footExt
  script.
    var competition_location = !{JSON.stringify(competition.location)}
  script(src="/js/controllers/competition.js")
  script.
    var script = document.createElement("script");  
    script.src = "http://api.map.baidu.com/api?v=2.0&ak=krPnXlL3wNORRa1KYN1RAx3c&callback=initialize";
    document.body.appendChild(script);