extends ../layouts/user_base

append headExt
  link(rel="stylesheet" href="/css/photo_album.css")
  link(rel="stylesheet" href="/css/competition.css")
  if role=='HR' || role=='LEADER'
    link(rel="stylesheet" href="/lib/pen/src/pen.css")
block contentExt
  .dl_container.clearfix(ng-controller="competitionController" ng-init="role='#{role}';user = #{JSON.stringify(user)};competition_id='#{competition._id}';confirm_mode='#{confirm_mode}';score_a=#{competition.camp[0].score?competition.camp[0].score:0};score_b=#{competition.camp[1].score?competition.camp[1].score:0};")
    include ../partials/breadcrumb
    +breadcrumb(links)
    .dl_detail_main
      ul.nav.nav-tabs
        li(ng-class="{'active':true}")
          a.subtitle.no_radius.border_red= competition.theme
      #competition_content.competition_content(data-nowteam="#{team}" data-id='#{competition._id}')
        .team_info.clearfix
          .team_left
            img.pull-right.team_logo(draggable="false" src='#{competition.camp[0].logo?competition.camp[0].logo:"/img/icons/default_group_logo.png"}')
            .clearfix
            .team_name.pull-right
              a(href="/group/page/#{competition.camp[0].id}")= competition.camp[0].tname
            .clearfix
            if (competition.active || !competition.camp[1].start_confirm)&& !competition.finish && role!='HR' && competition.camp[0].start_confirm && team.indexOf(0)>-1
                if competition.camp[1].start_confirm
                  .button_container.pull-right
                    if join_flag == 0
                      button.dl_btn.dl_btn_small(ng-click="quitCampaign('#{competition._id}')") #{__('QUIT')}#{__('CAMPAIGN')}
                    else if join_flag ==-1
                      button.dl_btn.dl_btn_small(ng-click="joinCampaign('#{competition._id}','#{competition.camp[0].id}')") #{__('ENTRY')}#{__('JOIN')}
          .score_panel
            if score_flag
              .text-center.VS
                  span.subtitle VS
              .score.clearfix#score_tip
                .score_left
                  if confirm_mode!=undefined && confirm_mode!=0
                    span.dl_score(ng-if="!edit") {{score_a}}
                    input.dl_score_input(type="text" maxlength="3" ng-model="$parent.score_a" ng-change="numValidate()" ng-mouseover="tip()" ng-if="edit")
                  else
                    span.dl_score= competition.camp[0].score
                .score_colon
                  span.dl_score_colon :
                .score_right
                  if confirm_mode!=undefined && confirm_mode!=0
                    span.dl_score(ng-if="!edit") {{score_b}}
                    input.dl_score_input(type="text" ng-model="$parent.score_b" maxlength="3" ng-change="numValidate()" ng-mouseover="tip()" ng-if="edit")
                  else
                    span.dl_score= competition.camp[1].score
              .score_button
                if confirm_mode === 1
                  span.dl_btn_right 等待确认
                else if confirm_mode ===2
                  button.dl_btn_right(ng-if="!edit" ng-click='confirmScore(true)') 接受比分
                  button.dl_btn_right(ng-click='scoreModify()') {{object_caption}}
                  //- 发出异议
                else if confirm_mode === 3
                  button.dl_btn_right(ng-click='scoreModify()') {{modify_caption}}
                  //- 发出确认、等待确认
            else if response_flag
              .score_button
                button.dl_btn.dl_btn_small.operator_btn(ng-click="responseProvoke('#{competition.camp[1].id}','#{competition._id}',true)") #{__("FACE")}
                button.dl_btn.dl_btn_small.operator_btn(ng-click="responseProvoke('#{competition.camp[1].id}','#{competition._id}',false)") #{__("REFUSE")}
            else if cancel_flag
              .score_button
                button.dl_btn.dl_btn_small.operator_btn(ng-click="cancelProvoke('#{competition.camp[0].id}','#{competition._id}')") #{__("CANCEL")}
          .team_right
            img.pull-left.team_logo(draggable="false" src='#{competition.camp[1].logo?competition.camp[1].logo:"/img/icons/default_group_logo.png"}')
            .clearfix
            .team_name.pull-left
              a(href="/group/page/#{competition.camp[1].id}")= competition.camp[1].tname
            .clearfix
            if (competition.active || !competition.camp[1].start_confirm) && competition.camp[0].start_confirm&& !competition.finish && role!='HR' && team.indexOf(1)>-1
              if competition.camp[1].start_confirm
                .button_container.pull-left
                  if join_flag == 1
                    input.dl_btn.dl_btn_small(type = "button" value = "#{__('QUIT')}#{__('CAMPAIGN')}" ng-click="quitCampaign('#{competition._id}')")
                  else if join_flag == -1
                    input.dl_btn.dl_btn_small(type = "button" value = "#{__('ENTRY')}#{__('JOIN')}" ng-click="joinCampaign('#{competition._id}','#{competition.camp[1].id}')")
        .dl_row.members.clearfix
          .col-xs-6
            if competition.camp[1].start_confirm
              .dl_row.subtitle
                span #{__("JOIN")}#{__("MEMBER")}
                if competition_leader.indexOf(0)>-1
                  span |
                  a(ng-click="modalPerticipator()") 通知
              if competition.camp[0].gid === '7'&&competition.camp[1].gid === '7'&&competition.active&&!competition.finish&&competition_leader.indexOf(0)>-1
                each teamAMember in competition.camp[0].member
                  img.teamMember.team_member_logo.img_user(x-donler-draggable="true" draggable="false" tooltip="#{team.indexOf(0)>-1?teamAMember.nickname:''}" data-camp='0' data-tid="#{competition.camp[0].id}" src='#{teamAMember.photo}' id='a__#{teamAMember.uid}')
                each teamAMember in competition.camp[0].member_quit
                  img.teamMember.team_member_logo.img_user(draggable="false" tooltip="#{team.indexOf(0)>-1?teamAMember.nickname:''}" src='#{teamAMember.photo}' id='a__#{teamAMember.uid}')
              else
                each teamAMember in competition.camp[0].member
                  img.teamMember.team_member_logo.img_user(draggable="false" tooltip="#{team.indexOf(0)>-1?teamAMember.nickname:''}" src='#{teamAMember.photo}' id='a__#{teamAMember.uid}')
            else
              if vote_flag
                .dl_row.clearfix
                  a(ng-click="vote('#{competition._id}','#{vote_flag[0]}','#{competition.camp[0].id}')") #{(vote_flag[0] == 1 ? "取消" : "赞")+"("+(competition.camp[0].vote.positive ? competition.camp[0].vote.positive :'0')+")"}
                //-p.subtitle #{__("POSITIVE")}#{__("MEMBER")}
              each teamAMember in competition.camp[0].vote.positive_member
                img.teamMember.team_member_logo.img_user(draggable="false" tooltip="#{team.indexOf(0)>-1?teamAMember.nickname:''}" src='#{teamAMember.photo}' id='a__#{teamAMember.uid}')
          .col-xs-6
            if competition.camp[1].start_confirm
              .dl_row.clearfix
                .dl_row.subtitle.pull-right
                  if (competition_leader.indexOf(1)>-1)
                    a(ng-click="modalPerticipator()") 通知
                    span |
                  span #{__("JOIN")}#{__("MEMBER")}
              if competition.camp[0].gid === '7'&&competition.camp[1].gid === '7'&&competition.active&&!competition.finish&&competition_leader.indexOf(1)>-1
                each teamBMember in competition.camp[1].member
                  img.teamMember.team_member_logo.pull-right.img_user(x-donler-draggable="true" draggable='false' tooltip="#{team.indexOf(1)>-1?teamBMember.nickname:''}" data-camp='1' data-tid="#{competition.camp[1].id}" src='#{teamBMember.photo}' id='b__#{teamBMember.uid}')
                each teamBMember in competition.camp[1].member_quit
                  img.teamMember.team_member_logo.pull-right.img_user(draggable="false" tooltip="#{team.indexOf(1)>-1?teamBMember.nickname:''}" src='#{teamBMember.photo}' id='b__#{teamBMember.uid}')
              else
                each teamBMember in competition.camp[1].member
                  img.teamMember.team_member_logo.pull-right.img_user(draggable="false" tooltip="#{team.indexOf(1)>-1?teamBMember.nickname:''}" src='#{teamBMember.photo}' id='b__#{teamBMember.uid}')
            else
              if vote_flag
                .dl_row.clearfix
                  a.pull-right(ng-click="vote('#{competition._id}','#{vote_flag[1]}','#{competition.camp[1].id}')")  #{(vote_flag[1] == 1 ? "取消" : "赞")+"("+(competition.camp[1].vote.positive ? competition.camp[1].vote.positive :'0')+")"}
                //-p.subtitle.pull-right #{__("POSITIVE")}#{__("MEMBER")}
              each teamBMember in competition.camp[1].vote.positive_member
                img.teamMember.team_member_logo.pull-right.img_user(draggable="false" tooltip="#{team.indexOf(1)>-1?teamBMember.nickname:''}" src='#{teamBMember.photo}' id='b__#{teamBMember.uid}')
        if !competition.active&&(competition.camp[1].start_confirm || !competition.camp[0].start_confirm)
          .text-center #{__("CAMPAIGNCLOSE")}
        //- 7是足球
        if competition.camp[0].gid === '7'&&competition.camp[1].gid === '7'
          .football.clearfix
            .dl_row
              span.subtitle 阵型图
              if role ==='LEADER' || role ==='HR'
                  span (队长可以拖动上方人员进入下方场地)
              if role ==='MEMBER'
                  span (看看你在场上的哪儿呢！)
            .col-xs-10.col-xs-offset-1.img_contain
              .formatField(x-donler-drop-target="#{competition.active&&!competition.finish&&competition_leader.length>0}" draggable='false' )
                if competition.active&&!competition.finish&&competition_leader.indexOf(0)>-1
                  each teamAMember in competition.camp[0].formation
                    img.team_member_logo.teamMember.onmemberA.img_user(x-donler-member="true" x-donler-draggable="true" draggable="false" data-camp='0' id='on_a__#{teamAMember.uid}' data-tid="#{competition.camp[0].id}" data-top='#{teamAMember.y}' data-left='#{teamAMember.x}')
                else
                  each teamAMember in competition.camp[0].formation
                    img.team_member_logo.teamMember.onmemberA.img_user(x-donler-member="true" draggable="false" data-camp='0' id='on_a__#{teamAMember.uid}' data-tid="#{competition.camp[0].id}" data-top='#{teamAMember.y}' data-left='#{teamAMember.x}')
                if competition.active&&!competition.finish&&competition_leader.indexOf(1)>-1
                  each teamBMember in competition.camp[1].formation
                    img.team_member_logo.teamMember.onmemberB.img_user(x-donler-member="true" x-donler-draggable="true" draggable="false" data-camp='1' id='on_b__#{teamBMember.uid}' data-tid="#{competition.camp[1].id}" data-top='#{teamBMember.y}' data-left='#{teamBMember.x}')
                else
                  each teamBMember in competition.camp[1].formation
                    img.team_member_logo.teamMember.onmemberB.img_user(x-donler-member="true" draggable="false" data-camp='1' id='on_b__#{teamBMember.uid}' data-tid="#{competition.camp[1].id}" data-top='#{teamBMember.y}' data-left='#{teamBMember.x}')
        .dl_detail_row.competition_detail
          .subtitle(ng-init="baseContent=true;")
            span #{__("SIMPLE")}#{__("INTRODUCTION")}:
              a.pull-right(ng-show="showFold" ng-click="baseContent=!baseContent;")(ng-cloak) {{baseContent ? '展开' :'收缩'}}
            if role=='HR' || role=='LEADER'
              span.pull-right(ng-show="showFold") |
              a.pull-right(ng-click="editContent()")(ng-cloak) {{editContentStatus ? '保存' :'编辑'}}
          .dl_detail_row
            #competitionContent.dl_word_break.competition_content(ng-class="{'base_content': baseContent}" max-height=120 ng-show="!editContentStatus")!= competition.content
            if role=='HR' || role=='LEADER'
              #provokeDetailToolBar
              #competitionDetail.markdownContainer(ng-show="editContentStatus" ng-model="competitionContent"  mix-maxlength=4000 contenteditable)
        .dl_row.clearfix.commment_box(ng-if="role!=='HR'||comments.length>0" bs-popover)
          p.subtitle 留言
          if role ==='LEADER' || role==='MEMBER'
            form(name="comment_form" novalidate)
              .dl_row.clearfix
                if role !=='HR'
                  textarea.dl-form-control(rows="2" name="content" ng-model="new_comment.text" ng-change="judge()" placeholder="请控制在140字以内" maxlength=140 required)
                  button.dl_btn.pull-right.dl_btn_submit(ng-click="comment()" ng-disabled="comment_form.$invalid") #{__("SUBMIT")}#{__("LEAVEMESSAGE")}
          .comment.clearfix(ng-repeat="comment in comments")
            .comment_user_info(ng-if="comment.poster.cid=== '#{cid}'")
              a(href="/users/home/{{comment.poster._id}}" )
                img.user_photo.size_56.img_user(ng-src="{{comment.poster.photo}}" ng-Mouseenter="showUserCard(comment.poster._id,comment._id)" id='pop{{comment._id}}')
              p.dl_user_name_small
                a(href="/users/home/{{comment.poster._id}}")(ng-cloak) {{comment.poster.nickname}}
            .comment_user_info(ng-if="!(comment.poster.cid==='#{cid}')")
              img.user_photo.size_56.img_user(ng-src="{{comment.poster.photo}}")
              p.dl_user_name_small
               span(ng-cloak) {{comment.poster.nickname}}
            .comment_content_panel
              .relative
                .triangle_border
                .triangle
                .comment_content
                  p(ng-cloak) {{comment.content}}
              .comment_date.text {{comment.create_date | date:'yyyy-MM-dd HH:mm' | dateView}}
                a.mouse_hidden.comment_date.text.pull-right(ng-if="comment.delete_permission" ng-click="deleteComment($index)") 删除
    .side
      .competition_detail
        if (role==='HR' || role==='LEADER') && competition.active &&!competition.finish
          .pull-right
            button.cancel_btn.dl_btn_small.operator_btn(ng-click="cancel('#{competition._id}')") 关闭活动
        h4.subtitle.text-left 活动简介
        .dl_detail_content.clearfix
          .dl_detail_row
            .dl_detail_label
              span #{__("START_TIME")}:
            .dl_detail_detail
              span= moment(competition.start_time).format("YYYY-MM-DD HH:mm")
          .dl_detail_row
            .dl_detail_label
              span #{__("END_TIME")}:
            .dl_detail_detail
              span= moment(competition.end_time).format("YYYY-MM-DD HH:mm")
          if competition.member_min>0
            .dl_detail_row
              .dl_detail_label
                span #{__("LEAST")}#{__("ENTRY")}#{__("SUM")}:
              .dl_detail_detail
                span= competition.member_min
          if competition.member_max>0
            .dl_detail_row
              .dl_detail_label
                span #{__("ENTRY")}#{__("SUM")}#{__("LIMIT")}:
              .dl_detail_detail
                span= competition.member_max
          .dl_detail_row
            .dl_detail_label
              span #{__("ENTRY")}#{__("SDEADLINE")}:
            .dl_detail_detail
              span= moment(competition.deadline).format("YYYY-MM-DD HH:mm")
          .dl_detail_row
            .dl_detail_label
              span #{__("PLACE")}#{__("LOCATION")}:
            .dl_detail_detail
              span= competition.location.name
      .map_container
        p.subtitle.text-left 活动地点
        if competition.location.coordinates.length==2
          a(href="http://mo.amap.com/?q=#{competition.location.coordinates[1]},#{competition.location.coordinates[0]}&name=#{competition.location.name}" target="_blank")
            img.map_size(src="http://restapi.amap.com/v3/staticmap?location=#{competition.location.coordinates[0]},#{competition.location.coordinates[1]}&zoom=15&size=268*210&markers=mid,,A:#{competition.location.coordinates[0]},#{competition.location.coordinates[1]}&labels=#{competition.location.name.replace(/ /g, '')},2,0,12,0xffffff,0x3498db:#{competition.location.coordinates[0]},#{competition.location.coordinates[1]}&key=077eff0a89079f77e2893d6735c2f044")
        else
          img.map_size(src="/img/icons/nomap.jpg")
      .photo_container
        .clearfix
          p.subtitle.pull-left #{__("CAMPAIGN")}#{__("WONDERFUL")}#{__("PHOTO")}
          if role!=='PARTNER'
            a.pull-right(href="/photoAlbumDetailView/#{competition.photo_album._id}") 上传活动照片
        .photo_album
          each photo in photo_thumbnails
            a.thumbnail_cell(href="/photoView/#{competition.photo_album._id}/#{photo._id}")
              img.thumbnail_img.img-thumbnail(src="#{photo.thumbnail_uri}")
              p.thumbnail_name.text-center= photo.name
      .modal.fade#sponsorMessageCampaignModel(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        include ../partials/campaign_message_send

append footExt
  script(src="/js/controllers/competition.js")
  if role=='HR' || role=='LEADER'
    script(src="/lib/pen/src/pen.js")
    script(src="/lib/pen/src/markdown.js")