extends ../layouts/user_base

append headExt
  link(rel="stylesheet" href="/css/photo_album.css")
  link(rel="stylesheet" href="/css/competition.css")

block contentExt
  .dl_container.clearfix
    include ../partials/breadcrumb
    +breadcrumb(links)
    .main
      #competition_content.competition_content(ng-controller="resultController" data-nowteam="#{team}" data-id='#{competition._id}' ng-init="msg_show='#{msg_show}';rst_content='#{rst_content}';score_a='#{competition.camp[0].score}';score_b='#{competition.camp[1].score}';confirm_mode='#{confirm_mode}'")
        .row
          .team_left.col-xs-4
            img.pull-left.team_logo(src='#{competition.camp[0].logo?competition.camp[0].logo:"/img/icons/default_group_logo.png"}')
            .clearfix
            div.text-left
              a= competition.camp[0].tname
          .score_panel.col-xs-4
            h1.text-center VS
            .dl_box#score_tip
              .dl_score_frame
                if confirm_btn_show && (role === 'HR' || role === 'LEADER')
                  label.dl_score(ng-if="!edit") {{score_own.score}}
                  input.dl_score(type="text" ng-model="score_own.score" ng-change="numValidate()" ng-mouseover="tip()" ng-if="edit")
                  if msg_show
                    a.dl_btn_right(ng-click='confirmScore(true)') 接受比分
                else
                  label.dl_score {{score_own.score}}
              .dl_score_frame
                label.dl_score :
                if confirm_btn_show && !msg_show
                  if confirm_mode === 1
                    a.dl_btn_right(ng-disabled="true") 等待确认
                  else
                    a.dl_btn_right(ng-click='scoreModify()') {{modify_caption}}
              .dl_score_frame
                if confirm_btn_show && (role === 'HR' || role === 'LEADER')
                  label.dl_score(ng-if="!edit") {{score_opposite.score}}
                  input.dl_score(type="text" ng-model="score_opposite.score" ng-change="numValidate()" ng-mouseover="tip()" ng-if="edit")
                  if msg_show
                    a.dl_btn_right(ng-click='scoreModify()') {{object_caption}}
                else
                  label.dl_score {{score_opposite.score}}
              //- h1.text-center= competition.camp[0].score +':' + competition.camp[1].score
          .team_right.col-xs-4
            img.pull-right.team_logo(src='#{competition.camp[1].logo?competition.camp[1].logo:"/img/icons/default_group_logo.png"}')
            .clearfix
            div.text-right
              a= competition.camp[1].tname
        .row
          .col-xs-5
            each teamAMember in competition.camp[0].member
              img.teamMember.team_member_logo(draggable="#{team=='A'}" src='#{teamAMember.photo}' id='#{teamAMember.uid}')
          .col-xs-2
          .col-xs-5
            each teamBMember in competition.camp[1].member
              img.teamMember.team_member_logo(draggable="#{team=='B'}" src='#{teamBMember.photo}' id='#{teamBMember.uid}')
        //- 7是足球
        if (competition.camp[0].gid === '7')
          .row.format_field
            img#formatField.col-xs-12.img_contain(draggable="false" src='/img/field.png')
            each teamAMember in competition.camp[0].formation
              img.team_member_logo.teamMember.onmemberA(draggable="#{team=='A'}" id='on_#{teamAMember.uid}' data-top='#{teamAMember.y}' data-left='#{teamAMember.x}')
            each teamBMember in competition.camp[1].formation
              img.team_member_logo.teamMember.onmemberB(draggable="#{team=='B'}" id='on_#{teamBMember.uid}' data-top='#{teamBMember.y}' data-left='#{teamBMember.x}')

    .side
      h4.text-left 活动简介
      hr
      p 类型:&nbsp;&nbsp;#{competition.group_type}
      p 场地:&nbsp;&nbsp;#{competition.location.name}
      p 应战截止时间:&nbsp;&nbsp;#{moment(competition.deadline).format("YYYY-MM-DD HH:mm")}
      p 活动时间:&nbsp;&nbsp;#{moment(competition.start_time).format("YYYY-MM-DD HH:mm")}
      p 备注:&nbsp;&nbsp;#{competition.content}
      hr
      h4.text-left 活动地点
      #location.size_400
      hr
      div
        if (Global.role!=='PARTNER')
          p.subtitle.clearfix #{__("CAMPAIGN")}#{__("WONDERFUL")}#{__("PHOTO")}
            a.dl_btn.dl_btn_upload.pull-right(href="/photoAlbumDetailView/#{competition.photo_album._id}") 上传活动照片
          .photo_album
            each photo in photo_thumbnails
              a.thumbnail_cell(href="/photoView/#{competition.photo_album._id}/#{photo._id}")
                img.thumbnail_img.img-thumbnail(src="#{photo.thumbnail_uri}")
                p.thumbnail_name.text-center= photo.name



append footExt
  script.
    var competition_location = !{JSON.stringify(competition.location)}
  script(src="/js/controllers/competition.js")
  script(src="http://api.map.baidu.com/api?v=2.0&ak=krPnXlL3wNORRa1KYN1RAx3c")


