div(ng-controller="infoController")
  form.form-horizontal.tab-info-form(name="infoForm")
    .dl_row
      h5.pull-left #{__("INFO")}
      button.dl_btn.dl_btn_small.pull-right(ng-if="role==='HR' || role==='LEADER'" ng-click="editToggle()" ng-bind="buttonStatus")
    hr.margin_top_6
    .dl_row.clearfix
      .info_side
        span.info_label #{__("TEAM_NAME")}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="text" name ="name" ng-model="name"  ng-disabled="unEdit")
    .dl_row.clearfix
      .info_side
        span.info_label #{__("COMPANY")}
      .info_detail_2
        span.info_label {{team.cname}}
    .dl_row.clearfix
      .info_side
        span.info_label #{__("SUM")}
      .info_detail_2
        span.info_label {{team.member.length}}
    .dl_row.clearfix
      .info_side
        span.info_label #{__("TEAM_LOGO")}
      .info_detail_2
        a.clearLinkUnderline.close_btn.dl_btn_small(ng-if="role==='HR'|| role==='LEADER'" href="/group/{{teamId}}/editLogo") #{__("CHANGE")}LOGO
    .dl_row.clearfix(ng-show="team.home_court[0]!=undefined || !unEdit")
      .info_side
        span.info_label #{__("HOME_COURT")}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="text" name ="home_court_1" ng-change='changeLocation(1)' ng-model="team.home_court[0].name" ng-disabled="unEdit" tooltip='请认真填写主场地址，动梨将根此给您推荐可挑战的周边小队。' tooltip-placement="right")
    .dl_row.clearfix(ng-show="team.home_court[1]!=undefined || !unEdit")
      .info_side
        span.info_label.col-md-2.control-label
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="text" name ="home_court_2" ng-change='changeLocation(2)' ng-model="team.home_court[1].name" ng-disabled="unEdit")
    .dl_row.clearfix(ng-show="showmap")
      #courtMap.height_200(ng-show='showMap')
    .dl_row.clearfix(ng-show="team.brief!=undefined || !unEdit")
      .info_side
        span.info_label #{__("BRIEF")}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="textarea" rows="10" name ="brief" ng-model="team.brief" ng-disabled="unEdit")
    .dl_row.clearfix
      .info_side
        span.info_label #{__("BUILD_TIME")}
      .info_detail_2
        span.info_label {{team.create_time | date:'yyyy-MM-dd HH:mm:ss'}}
    .dl_row.clearfix
      h5.pull-left 成员信息
    hr.margin_top_6

    .dl_row
      span.subtitle.margin_left_15 #{__("TEAM_LEADER")}
    .dl_row.clearfix
      .dl_companygroup_container
        .groups
          .group( ng-repeat="leader in team.leader")
            .dl_row(bs-popover)
              a(href="/users/home/{{leader._id}}" ng-Mouseover='showUserCard(leader._id,leader._id)' id='pop{{leader._id}}')
                img.size_56(ng-src="{{leader.photo}}")
            .dl_row
              label {{leader.nickname}}
    .dl_row.clearfix
      span.subtitle.margin_left_15 #{__("MEMBER")}
    .dl_row.clearfix
      .dl_companygroup_container
        .groups
          .group(ng-repeat="member in members")
            .dl_row(bs-popover)
              a(href="/users/home/{{member._id}}" ng-Mouseenter='showUserCard(member._id,member._id)' id='pop{{member._id}}' rel='popover')
                img.size_56(ng-src="{{member.photo}}")
            .dl_row
              label.user_name {{member.nickname}}

    //- 此部分逻辑未做 暂时隐藏
    //- .row.dl_row
    //-   h5.pull-left #{__("COMPETITION_INFO")}
    //- hr
    //- .row.dl_row
    //-   .col-md-2.col-sm-2.col-xs-2
    //-     span.info_label.control-label #{__("COMPETITION_SEQ")}
    //-   .col-md-5.col-sm-10.col-xs-10
    //-     span.info_label 0
    //- .row.dl_row
    //-   .col-md-2.col-sm-2.col-xs-2
    //-     span.info_label.control-label #{__("WIN_RATE")}
    //-   .col-md-5.col-sm-10.col-xs-10
    //-     span.info_label 0
    //- .row.dl_row
    //-   .col-md-2.col-sm-2.col-xs-2
    //-     span.info_label.control-label #{__("SCORE")}
    //-   .col-md-5.col-sm-10.col-xs-10
    //-     span.info_label 0
    //- .row.dl_row
    //-   .col-md-2.col-sm-2.col-xs-2
    //-     span.info_label.control-label #{__("RATE")}
    //-   .col-md-5.col-sm-10.col-xs-10
    //-     span.info_label 0
    .dl_row.clearfix
      span.subtitle.pull-left #{__("FAMILY")}
      button.dl_btn.dl_btn_small.pull-right(ng-if="role==='LEADER'" data-toggle="modal" data-target="#upload_modal") 修改全家福
    .dl_row(ng-if="family_photos.length !== 0")
      carousel#family(interval="5000")
        slide(ng-repeat="photo in family_photos" ng-if="photo.select" active="photo.active")
          .carousel-img-container
            img.center-block(ng-src="{{ photo.uri }}")

  #upload_modal.modal.fade(ng-if="role==='LEADEr'" tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal")
            span(aria-hidden="true") &times;
          h4.modal-title 点击图片可切换选中状态，点击图片右上方的按钮可删除该图片
        .modal-body
          #family_preview_container.clearfix.family_preview_container
            .family_photo_preview_cell.img-thumbnail(ng-repeat="photo in family_photos"  ng-class="selected(photo)")
              img.img-responsive(ng-src="{{ photo.uri }}" ng-click="toggleSelect(photo._id)")
              button.remove(ng-click="deletePhoto(photo._id)"): span.glyphicon.glyphicon-remove
              button.ok(ng-if="photo.select"): span.glyphicon.glyphicon-ok
            .clearfix
            button.dl_btn.dl_btn_small.pull-right.add_picture_btn(ng-click="next()") 添加图片
          #family_jcrop_container.jcrop
            #jcrop_img_container
              img.jcrop_img.img-responsive
            form#upload_family_form.upload_family_form.clearfix(action="/group/{{teamId}}/family" method="post" enctype="multipart/form-data")
              input#w(type="hidden" name="width" value="320")
              input#h(type="hidden" name="height" value="180")
              input#x(type="hidden" name="x" value="0")
              input#y(type="hidden" name="y" value="0")
              input#upload_input.hidden(type="file" name="family" accept="image/*" required)
              //-input.remark(type="text" name="remark" placeholder="备注")
              .upload_operator.pull-right
                label.dl_btn.dl_btn_small(for="upload_input") 选择图片
                button#upload_button.dl_btn.dl_btn_small(type="submit" disabled) 上传
                button.dl_btn.dl_btn_small.cancel_btn(type="button" ng-click="back()") 返回
            p {{ remind }}


