extends ../layouts/manager

block baseInfo
  .row.margin_top_15
    .col-md-2.col-sm-3.col-xs-4
      img.size_140.img_contain(src="#{logo}")
    .col-md-9.col-sm-8.col-xs-7.margin_left_20
      .row
        //小队名
        label.head= tname
      .row.margin_top_10
        //公司名
        p.subtitle= cname
      .row.margin_top_15
        //签名
        p.subtitle= sign
      .row.margin_top_15
        .col-md-2.col-sm-2.col-xs-4.padding_0
          span.info_border {{"TEAM_MEMBER"|translate}}
          span.info_border= number
        .col-md-2.col-sm-2.col-xs-4.padding_0
          span.info_border {{"SCORE"|translate}}
          span.info_border= score
        .col-md-2.col-sm-2.col-xs-4.padding_0
          span.info_border {{"WIN_RATE"|translate}}
          span.info_border 100%
        if(role ==='HR' || role ==='LEADER')
          .col-md-4.col-sm-4.col-xs-9.padding_0
            button.dl_btn.dl_btn_small(data-toggle="modal" data-target="#sponsorCampaignModel") {{"CAMPAIGN"|translate}}
            button.dl_btn.dl_btn_small(data-toggle="modal" data-target="#sponsorSearchModel") {{"PROVOKE"|translate}}
            button.dl_btn.dl_btn_small(onclick="{location.href='/arena/home'}") {{"ARENA"|translate}}
        if(role === 'MEMBER' || role ==='LEADER')
          .col-md-2.col-sm-2.col-xs-3.padding_0
            button.close_btn.dl_btn_small(data-toggle="modal" data-target="#quitGroupModel") {{"QUIT_GROUP"|translate}}
        if(role ==='PARTNER')
          .col-md-2.col-sm-2.col-xs-3.padding_0
            button.close_btn.dl_btn_small(ng-click="joinGroup()") {{"JOIN_GROUP"|translate}}
block panel
  div(ng-init="teamId='#{teamId}';groupId='#{gid}'")
    ul.nav.nav-tabs
      if(role !=='GUESTHR' && role !=='GUEST')
        li(ng-class="{'active':nowTab=='group_message'}")
          a.subtitle(href="#/group_message" ng-click="addactive('group_message')") {{"TEAM_MESSAGE"|translate}}
        li(ng-class="{'active':nowTab=='group_campaign'}")
          a.subtitle(href="#/group_campaign" ng-click="addactive('group_campaign')") {{"TEAM_CAMPAIGN"|translate}}
      li(ng-class="{'active':nowTab=='group_member'}")
        a.subtitle(href="#/group_member" ng-click="addactive('group_member')") {{"TEAM_MEMBER"|translate}}
      li(ng-class="{'active':nowTab=='group_info'}")
        a.subtitle(href="#/group_info" ng-click="addactive('group_info')") {{"TEAM_INFO"|translate}}
      li(ng-class="{'active':nowTab=='timeLine'}")
        a.subtitle(href="#/timeLine" ng-click="addactive('timeLine')") {{"TIME_LINE"|translate}}
    .tab-content
      .tab-pane.active
        div(ng-view)
    if(role ==='HR' || role ==='LEADER')
      div.modal.fade#sponsorCampaignModel(ng-controller="CampaignListController" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        include ../partials/campaign_modal
      div.modal.fade#sponsorProvokeModel(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        include ../partials/provoke_modal
      div.modal.fade#sponsorSearchModel(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        include ../partials/search_modal
    if(role ==='MEMBER' || role ==='LEADER')
      div.modal.fade#quitGroupModel(ng-controller="MemberListController" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        include ../partials/quitGroup_modal
block aside

  if(role !=='GUESTHR' && role !=='HR')
    include ../partials/group_thumbnail
    +group_thumbnail(selected_teams,'active',role!=='HR'?"{{'MY'|translate}}{{'TEAM'|translate}}":"{{'COMPANY'|translate}}{{'TEAM'|translate}}")
    +group_thumbnail(unselected_teams,'inactive',"{{'UNSELECTED_TEAM'|translate}}")
  if(role !=='GUESTHR' && role !=='GUEST')
    span.subtitle.margin_top_15 {{"TEAM_ALBUM"|translate}}
    if(role==='LEADER')
      a.pull-right(href="/group/#{group_id}/managePhotoAlbum") {{"MANAGER_ALBUM"|translate}}
    each photo_album in photo_albums
      p
        img.size_140.img_contain(src="/photoAlbum/#{photo_album.id}/preview")
        a(href="/group/#{group_id}/photoAlbum/#{photo_album.id}")= photo_album.name

append footExt
  script(src="/js/controllers/tabviewGroup.js")