extends ../layouts/manager

append headExt
  link(rel="stylesheet" href="/css/photo_album.css")
  link(rel="stylesheet" href="/css/jquery.Jcrop.min.css")

block baseInfo
  .dl_container.clearfix
    .aside
      img.size_80.img_contain(src="#{logo}")
    .top_main
      .dl_row
        //-小队名
        label.head= tname
      .dl_row
        //-公司名
        a.subtitle(href="/company/home/#{cid}")= cname
      //- .dl_row
        //签名
        p= sign
      .dl_row
        .score_container
          span.info_border #{__("TEAM_MEMBER")}
          span.info_border.info_right_border=number
        .score_container
          span.info_border #{__("SCORE")}
          span.info_border.info_right_border= score
        //-.score_container
          span.info_border #{__("WIN_RATE")}
          span.info_border.info_right_border 100%
    .top_side
      if role === 'MEMBER' || role ==='LEADER' || role === 'MEMBERLEADER'
        //-退出
        button.pull-right.dl_btn_small.quit_btn(data-toggle="modal" data-target="#quitGroupModel") #{__("QUIT_GROUP")}
      if  role === 'PARTNERLEADER' || role==='PARTNER'
        //-加入
        button.pull-right.dl_btn.dl_btn_small.join_btn(ng-click="joinGroup()") #{__("JOIN_GROUP")}
      .group_btn_container
        if role ==='HR' || role ==='LEADER'
          //-管理
          a.btn_container(href="/message/home/#{teamId}#/send")
            .btn_icon
              img(src='/img/icons/megaphone.png')
            .btn_text
              span.subtitle 消息站
          a.btn_container(ng-click='provokeRecommand()' data-toggle="modal" data-target="#sponsorProvokeModel")
            .btn_icon
              img(src='/img/icons/focus.png')
            .btn_text
              span.subtitle 找对手
          a.btn_container(ng-click='loadMap(1)' data-toggle="modal" data-target="#sponsorCampaignModel")
            .btn_icon
              img(src='/img/icons/pulse.png')
            .btn_text
              span.subtitle 发活动
            //button.dl_btn.dl_btn_small(onclick="{location.href='/arena/home'}") #{__("ARENA")}
        if role === 'GUESTLEADER' || role === 'PARTNERLEADER' || role === 'MEMBERLEADER'
          //-动一下
          a.btn_container(ng-click='dongIt()' data-toggle="modal" data-target="#sponsorProvokeModel")
            .btn_icon
              img(src='/img/icons/pointer.png')
            .btn_text
              span.subtitle 动TA一下
        a.btn_container(href="/group/page/#{teamId}")
          .btn_icon
            img(src='/img/icons/plaine.png')
          .btn_text
            span.subtitle 返回主页
block panel
  div(ng-init="teamId='#{teamId}';groupId='#{gid}';teamName='#{tname}';role='#{role}'")
    ul.nav.nav-tabs
      if (role !=='GUESTHR' && role !=='GUEST' && role !=='GUESTLEADER')
        li.tab_style(ng-class="{'active':nowTab=='group_message'}")
          a.subtitle.no_radius(href="#/group_message" ng-click="addactive('group_message')") #{__("TEAM_MESSAGE")}
        li.tab_style(ng-class="{'active':nowTab=='group_campaign'}")
          a.subtitle.no_radius(href="#/group_campaign" ng-click="addactive('group_campaign')") #{__("TEAM_CAMPAIGN")}
      li.tab_style(ng-class="{'active':nowTab=='group_info'}")
        a.subtitle.no_radius(href="#/group_info" ng-click="addactive('group_info')") #{__("TEAM_INFO")}
      li.tab_style(ng-class="{'active':nowTab=='timeLine/#{teamId}'}")
        a.subtitle.no_radius(href="#/timeLine/#{teamId}" ng-click="addactive('timeLine/#{teamId}')") #{__("TIME_LINE")}
    .tab-content.dl_tab_group
      .tab-pane.active
        div(ng-view)
    if role ==='HR' || role ==='LEADER'
      div.modal.fade#sponsorCampaignModel(ng-controller="SponsorController" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        include ../campaign/campaign_modal
    if (role ==='MEMBER' || role ==='LEADER' || role === 'MEMBERLEADER')
      div.modal.fade#quitGroupModel(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        include ../partials/quitGroup_modal
    if (role ==='PARTNERLEADER' || role ==='MEMBERLEADER' || role ==='GUESTLEADER' || role==='HR' || role==='LEADER')
      div.modal.fade#sponsorProvokeModel(ng-controller="ProvokeController" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        include ../campaign/provoke_modal_base
block aside

  if (role !=='GUESTHR' && role !=='HR')
    include ../partials/group_thumbnail
    if (leader_teams.length)
      +group_thumbnail(leader_teams,'leader','管理的小队',1)
    if (selected_teams.length)
      +group_thumbnail(selected_teams,'active','加入的小队',2)
    if (unselected_teams.length)
      +group_thumbnail(unselected_teams,'inactive',__('UNSELECTED_TEAM'),3)
  if (role !=='GUESTHR' && role !=='GUEST')
    .photo_album
      p
        span.subtitle.margin_top_15 #{__("TEAM_ALBUM")}
        a.text.pull-right(href="/#{group_id}/photoAlbumListView") 更多&nbsp;&gt;
      div
        each photo_album in photo_album_thumbnails
          a.thumbnail_cell(href="/photoAlbumDetailView/#{photo_album._id}")
            img.thumbnail_img.img-thumbnail(src="#{photo_album.uri}")
            p.thumbnail_name.text-center= photo_album.name

append footExt
  script(src="/lib/jquery-form/jquery.form.js")
  script(src="/js/jquery.Jcrop.min.js")
  script(src="/js/controllers/tabviewGroup.js")