extends ../layouts/integrate

append headExt
  link(rel="stylesheet" href="/css/photo_album.css")
  link(rel="stylesheet" href="/css/jquery.Jcrop.min.css")
  link(rel="stylesheet" href="/lib/bootstrap-calendar/css/calendar.css")
  link(rel="stylesheet" href="/css/custom_calendar.css")

block baseInfo
  .dl_container.clearfix
    .aside
      img.size_80.img_contain(src="#{logo}")
    .top-main
      .dl_row
        //-小队名
        label.head= tname
      .dl_row
        //-公司名
        a.subtitle(href="/company/home/#{cid}")= cname
      //- .dl_row
        //签名
        p= sign
      .dl_row
        .score_container
          span.info_border #{__("TEAM_MEMBER")}
          span.info_border.info_right_border= number
        .score_container
          span.info_border #{__("SCORE")}
          span.info_border.info_right_border= score
        //-.score_container
          span.info_border #{__("WIN_RATE")}
          span.info_border.info_right_border 100%
    .top-side
      .top-side
        a(href='/group/home/#{teamId}') 更多内容>>
        if role === 'MEMBER' || role ==='LEADER' || role === 'MEMBERLEADER'
            //-退出
            button.pull-right.dl_btn_small.quit_btn(data-toggle="modal" data-target="#quitGroupModel") #{__("QUIT_GROUP")}
        if  role === 'PARTNERLEADER' || role==='PARTNER'
            //-加入
            button.pull-right.dl_btn.dl_btn_small.join_btn(ng-click="joinGroup()") #{__("JOIN_GROUP")}      
        if role ==='HR' || role ==='LEADER'
          //-管理
          .group_btn_container
            a.btn_container(ng-click='loadMap(1)' data-toggle="modal" data-target="#sponsorCampaignModel")
              .btn_icon
                img(src='/img/icons/pulse.png')
              .btn_text
                span.subtitle 发活动
            a.btn_container(ng-click='provokeRecommand()' data-toggle="modal" data-target="#sponsorProvokeModel")
              .btn_icon
                img(src='/img/icons/focus.png')
              .btn_text
                span.subtitle 找对手
            a.btn_container(href="/message/home/#{teamId}#/send")
              .btn_icon
                img(src='/img/icons/megaphone.png')
              .btn_text
                span.subtitle 消息站
              //button.dl_btn.dl_btn_small(onclick="{location.href='/arena/home'}") #{__("ARENA")}
      if role === 'GUESTLEADER' || role === 'PARTNERLEADER' || role === 'MEMBERLEADER'
        //-动一下
        .group_btn_container
          a.btn_container(ng-click='dongIt()' data-toggle="modal" data-target="#sponsorProvokeModel")
            .btn_icon
              img(src='/img/icons/pointer.png')
            .btn_text
              span.subtitle 动TA一下            
block panel

  div.team_main(ng-init="teamId='#{teamId}';groupId='#{gid}';teamName='#{tname}';role='#{role}'")
    //-  ul.nav.nav-tabs
      if (role !=='GUESTHR' && role !=='GUEST' && role !=='GUESTLEADER')
        li.tab_style(ng-class="{'active':nowTab=='group_message'}")
          a.subtitle.no_radius(href="#/group_message" ng-click="addactive('group_message')") #{__("TEAM_MESSAGE")}
        li.tab_style(ng-class="{'active':nowTab=='group_campaign'}")
          a.subtitle.no_radius(href="#/group_campaign" ng-click="addactive('group_campaign')") #{__("TEAM_CAMPAIGN")}
      li.tab_style(ng-class="{'active':nowTab=='group_info'}")
        a.subtitle.no_radius(href="#/group_info" ng-click="addactive('group_info')") #{__("TEAM_INFO")}
      li.tab_style(ng-class="{'active':nowTab=='timeLine/#{teamId}'}")
        a.subtitle.no_radius(href="#/timeLine/#{teamId}" ng-click="addactive('timeLine/#{teamId}')") #{__("TIME_LINE")}

    div(ng-view)
    if role ==='HR' || role ==='LEADER'
      div.modal.fade#sponsorCampaignModel(ng-controller="SponsorController" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        include ../campaign/campaign_modal
    if (role ==='MEMBER' || role ==='LEADER' || role === 'MEMBERLEADER')
      div.modal.fade#quitGroupModel(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        include ../partials/quitGroup_modal
    if (role ==='PARTNERLEADER' || role ==='MEMBERLEADER' || role ==='GUESTLEADER' || role==='HR' || role==='LEADER')
      div.modal.fade#sponsorProvokeModel(ng-controller="ProvokeController" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        include ../campaign/provoke_modal_base
block aside
  .newcampainbox
    span.subtitle 最新活动
    if campaign
      .bar
        //- PK型活动
        if (campaign.campaign_type == '4' || campaign.campaign_type == '5 '|| campaign.campaign_type == '7')
          .event_pk.clearfix
            .team
              img(src="#{campaign.camp[0].logo}/64/64")
              span= campaign.camp[0].tname
            .vs VS
            .team
              img(src="#{campaign.camp[1].logo}/64/64")
              span= campaign.camp[1].tname
        //- 自己玩的活动
        if campaign.campaign_type == '2'
          .event_solo
            .center-block.text-center
              img(src="#{campaign.team[0].logo}/84/84")

      .info
        p
          | 主题:&nbsp;
          a(href="/campaign/detail/#{campaign._id}" target="_blank") #{campaign.theme}
        p 时间: #{moment(campaign.start_time).format('YYYY-MM-DD HH:mm')}
        p 地点: #{campaign.location.name}
        //-if campaign.campaign_type == '2'
          p.map
            if campaign.location.coordinates.length==2
              a(href="http://mo.amap.com/?q=#{campaign.location.coordinates[1]},#{campaign.location.coordinates[0]}&name=#{campaign.location.name}" target="_blank")
                img.map_size(src="http://restapi.amap.com/v3/staticmap?location=#{campaign.location.coordinates[0]},#{campaign.location.coordinates[1]}&zoom=15&size=268*210&markers=mid,,A:#{campaign.location.coordinates[0]},#{campaign.location.coordinates[1]}&labels=#{campaign.location.name.replace(/ /g, '')},2,0,16,0xffffff,0x3498db:#{campaign.location.coordinates[0]},#{campaign.location.coordinates[1]}&key=077eff0a89079f77e2893d6735c2f044")
            else
              img.map_size(src="/img/icons/nomap.jpg")
      .remindbox
        p.remind_text 距离活动开始还有
        p#remind_time.remind_time
        p#campaign_start_time.hidden= moment(campaign.start_time).format('YYYY-MM-DD HH:mm')
    else
      p 最近没有活动

  .locationbox
    p.subtitle
      span(ng-init="home_court_index=0" ng-show="home_court_index==0") 主场1
      a(href="javascript:void(0)" ng-click="home_court_index=0" ng-show="home_court_index==1") 主场1
      span &nbsp;/&nbsp;
      span(ng-show="home_court_index==1") 主场2
      a(href="javascript:void(0)" ng-click="home_court_index=1" ng-show="home_court_index==0") 主场2
    - var i = 0;
    each home in home_court
      p(ng-show="home_court_index==#{i}")
        = home.name
      if home.loc.coordinates.length==2
        a(href="http://mo.amap.com/?q=#{home.loc.coordinates[1]},#{home.loc.coordinates[0]}&name=#{home.name}" ng-show="home_court_index==#{i}" target="_blank")
          img.map_size(src="http://restapi.amap.com/v3/staticmap?location=#{home.loc.coordinates[0]},#{home.loc.coordinates[1]}&zoom=15&size=268*210&markers=mid,,A:#{home.loc.coordinates[0]},#{home.loc.coordinates[1]}&labels=#{home.name.replace(/ /g, '')},2,0,12,0xffffff,0x3498db:#{home.loc.coordinates[0]},#{home.loc.coordinates[1]}&key=077eff0a89079f77e2893d6735c2f044")
      - i++
    if home_court.length==0
      img.map_size(src="/img/icons/nohomecourt2.jpg/268/210" ng-show="home_court_index==0")
      img.map_size(src="/img/icons/nohomecourt.jpg/268/210" ng-show="home_court_index==1")
    else if home_court.length==1
      img.map_size(src="/img/icons/nohomecourt2.jpg/268/210" ng-show="home_court_index==1")
  .thumbnailbox
    span.subtitle 相册
    each photo_album in photo_album_thumbnails
      a.thumbnail_cell(href="/photoAlbumDetailView/#{photo_album._id}")
        img.thumbnail_img.img-thumbnail(src="#{photo_album.uri}")
        p.thumbnail_name.text-center= photo_album.name


append footExt
  script(src="/lib/jquery-form/jquery.form.js")
  script(src="/js/jquery.Jcrop.min.js")
  script(src="/js/controllers/integrateGroup.js")
  script(src="/lib/underscore/underscore.js")
  script(src="/js/language/zh-CN.js")
  script(src="/lib/bootstrap-calendar/js/calendar.js")
  //-script(src="/js/donler-carousel.js")