.group_list
  .group_item(ng-repeat="group in group_lists")
    .row
      label(class="group_{{ group.gid }}")
    .row
      label id：{{ group.gid }}
    .row 
      label {{ group.name }}
    .row
      label #{__("TYPE")}：{{ group.group_type }}
    .row
      label.pull-left #{__("TEAM_LEADER")}:
      .col-md-2(ng-repeat="leader in group.leader")
        a(ng-href='/users/home/{{leader.uid}}')
          p.text-center {{leader.nickname}}
      if role==='HR'
        input.btn.dl_btn(type = "button" value = "任命队长" ng-click="setGroupId(group.gid)"  data-toggle="modal" data-target="#appointLeaderModel")


<!-- Modal -->
.modal.fade#appointLeaderModel(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
        h4.modal-title#myModalLabel #{__("SEARCH")}
      .modal-body
        .row
          p #{__("TEAM_MEMBER")}
          li(ng-repeat="user in users")
            a(ng-click="appointLeader(user.id)" data-dismiss="modal") {{user.nickname}}
      .modal-footer
        button(type="button" class="btn btn-default" data-dismiss="modal") #{__("CANCEL")}