div.company-info
  form.form-horizontal(name="accountForm")
    .dl_row
      h5.pull-left #{__("ACCOUNT")}
    hr.margin_top_6
    .dl_row.clearfix
      .info_side
        span.info_label #{__("LOGIN_EMAIL")}
      .info_side
        span.info_label(ng-bind="company.login_email")
      if (Global.role === 'HR')
        .info_side
          a(href="#/changePassword") #{__("CHANGE")}#{__("PASSWORD")}
    .dl_row.clearfix
      .info_side
        span.info_label #{__("REGISTER_DATE")}
      .info_side
        span.info_label {{company.register_date | date:'yyyy-MM-dd HH:mm:ss'}}
    if (Global.role === 'HR')
      .dl_row.clearfix
        .info_side
          span.info_label #{__("INVATE_LINK")}
        .info_detail.col-md-9
          .row.col-md-9
            button.dl_btn.dl_btn_small.col-md-5(ng-click="inviteUrlToggle()" ng-bind="inviteUrlStatus ? '隐藏':'显示'")
          .row.col-md-12
            p
            textarea.info_label.dl_word_break.col-md-12.invite-link(ng-if="inviteUrlStatus",disabled) {{company.inviteUrl}}
            p
  form.form-horizontal.tab-info-form(name="infoForm")
    .dl_row.clearfix
      h5.pull-left #{__("ENTERPRISE_INFO")}
      if (Global.role === 'HR')
        button.dl_btn.dl_btn_small.pull-right(ng-click="infoEditToggle()" ng-bind="infoButtonStatus")
    hr.margin_top_6
    .dl_row.clearfix
      .info_side
        span.info_label #{__("OFFICIAL_NAME")}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="text" name ="username" ng-model="info.official_name" ng-disabled="infoUnEdit")
      if (Global.role === 'HR')
        .info_side
          a.clearLinkUnderline.dl_btn.dl_btn_small.pull-right(href="/company/editLogo") #{__("CHANGE_LOGO")}
    .dl_row.clearfix
      .info_side
        span.info_label #{__("ENTERPRISE_FULL_NAME")}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="text" name ="infoname" ng-model="info.name" ng-disabled="infoUnEdit")
    .dl_row.clearfix#location(data-src="/region" data-select="province city district" data-init="{{linkage_init_location.province}} {{linkage_init_location.city}} {{linkage_init_location.district}}")
      .info_side
        span.info_label #{__("LOCATION")}
      .info_side(ng-if="infoUnEdit")
        span.info_detail {{linkage_init_location.province}} {{linkage_init_location.city}} {{linkage_init_location.district}}
      .info_detail(ng-show="!infoUnEdit")
        select.dl_input.editToggle.dl_form-Control.no_radius.height_34(type="text" name ="province" ng-disabled="infoUnEdit")
      .info_detail(ng-show="!infoUnEdit")
        select#select_city.dl_input.editToggle.dl_form-Control.no_radius.height_34(type="text" name ="city" ng-disabled="infoUnEdit")
      .info_detail(ng-show="!infoUnEdit")
        select#select_district.dl_input.editToggle.dl_form-Control.no_radius.height_34(type="text" name ="district" ng-disabled="infoUnEdit")
    .dl_row.clearfix
      .info_side
        span.info_label #{__("ADDRESS")}
      .info_side(ng-if="!infoUnEdit")
        span.info_detail {{ info.city.province }} {{ info.city.city }} {{ info.city.district }}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="text" name ="address" ng-model="info.address" ng-disabled="infoUnEdit")
    .dl_row.clearfix(ng-if="info.linkman!=undefined || !infoUnEdit")
      .info_side
        span.info_label #{__("LINK_MAN")}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="text" name ="linkman" ng-model="info.linkman" ng-disabled="infoUnEdit")
    .dl_row.clearfix(ng-if="info.lindline!=undefined || !infoUnEdit")
      .info_side
        span.info_label #{__("ENTERPRISE_PHONE")}
      .info_detail(ng-if="infoUnEdit")
        span.info_text {{info.lindline.areacode}} - {{info.lindline.number}} {{info.lindline.extension ? ':'+info.lindline.extension:''}}
      .info_detail(ng-show="!infoUnEdit")
        input.dl_input.editToggle.dl_form-Control(type="text" name ="areacode" ng-model="info.lindline.areacode" ng-disabled="infoUnEdit")
      .info_detail(ng-show="!infoUnEdit")
        input.dl_input.editToggle.dl_form-Control(type="text" name ="number" ng-model="info.lindline.number" ng-disabled="infoUnEdit")
      .info_detail(ng-show="!infoUnEdit")
        input.dl_input.editToggle.dl_form-Control(type="text" name ="extension" ng-model="info.lindline.extension" ng-disabled="infoUnEdit")
    .dl_row.clearfix(ng-if="info.phone!='' || !infoUnEdit")
      .info_side
        span.info_label #{__("PHONE")}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="text" name ="phone" ng-model="info.phone" ng-disabled="infoUnEdit")
    .dl_row.clearfix(ng-if="info.email!=undefined || !infoUnEdit")
      .info_side
        span.info_label #{__("EMAIL")}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="email" name ="email" ng-model="info.email" ng-disabled="infoUnEdit")
    .dl_row.clearfix(ng-if="info.brief!=undefined || !infoUnEdit")
      .info_side
        span.info_label #{__("BRIEF")}
      .info_detail
        input.dl_input.editToggle.dl_form-Control(type="textarea" name ="brief" ng-model="info.brief" ng-disabled="infoUnEdit")

  script(type="text/ng-template" id="node.html")
    .self.inline(ng-mouseover="node.show_operator = true" ng-mouseleave="node.show_operator = false")
      span(ng-click="toggleTree(node)")
        i.glyphicon(ng-class="node.toggle ? node.toggle : 'glyphicon-minus'" ng-if="node.department")
        .inline(ng-if="!node.is_editing") &nbsp;{{node.name}}
        .inline(ng-if="node.is_creating")
          input(type="text" ng-model="node.edit_name")
          button.dl_btn.dl_btn_small(ng-click="confirmCreate(node)") 确定
          button.cancel_btn.dl_btn_small(ng-click="cancelCreate(node)") 取消
        .inline(ng-if="node.is_editing")
          input(type="text" ng-model="node.temp_name")
          button.dl_btn.dl_btn_small(ng-click="confirmEdit(node)") 确定
          button.cancel_btn.dl_btn_small(ng-click="cancelEdit(node)") 取消
      .operator.inline(ng-if="node.show_operator && !node.is_creating")
        a.dl_btn.dl_btn_small(href="/department/home/{{ node._id }}" ng-if="!node.is_company") 进入部门主页
        button.dl_btn.dl_btn_small(ng-if="!node.is_company" ng-click="getNode(node)") 任命管理员
        button.dl_btn.dl_btn_small(ng-click="addNode(node)") 创建子部门
        button.dl_btn.dl_btn_small(ng-if="!node.is_company" ng-click="editNode(node)") 编辑
        button.cancel_btn.dl_btn_small(ng-if="!node.is_company" ng-click="deleteNode(node)") 删除该部门
    ul(ng-if="!node.hideChild")
      li(ng-repeat="node in node.department" ng-include="'node.html'" ng-class="hasChild(node)")

  .tree
    ul
      li(ng-include="'node.html'" ng-class="hasChild(node)")
  div.modal.fade#managerAppointModel(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    include ../partials/pointermanager_modal
