extends ../layouts/manager

block baseInfo
  .row
    .col-md-3
      img.img-responsive.img-thumbnail.size_210.img_contain(src="#{logo ? logo :'/img/icons/default_company_logo.png'}")
    .col-md-9
      .row
        h3= cname
      .row.margin_top_15
        label.info_label= sign
      .row.margin_top_15
        .col-md-2
          label.info_border 人数
          label.info_border  #{membernumber>0? membernumber : 0 } 人
        .col-md-2
          label.info_border  小组
          label.info_border= groupnumber
        .col-md-2
          label.info_border  胜率
          label.info_border  100%
      if(role === 'HR')
        .margin_top_15
          button(class="dl_btn" data-toggle="modal" data-target="#sponsorCampaignModel") 活动

block panel

  div(ng-app="tabViewCompany")
    ul.nav.nav-tabs
      if(role==='HR' || role==='EMPLOYEE' )
        li(ng-class="{'active':nowTab=='company_campaign'}")
          a.h5(href="#/company_campaign"  ng-click="addactive('company_campaign')") 公司活动
      li(ng-class="{'active':nowTab=='company_info'}")
        a.h5(href="#/company_info"  ng-click="addactive('company_info')") 公司资料
      li(ng-class="{'active':nowTab=='company_member'}")
        a.h5(href="#/company_member"  ng-click="addactive('company_member')") 公司员工
      li(ng-class="{'active':nowTab=='timeLine'}")
        a.h5(href="#/timeLine"  ng-click="addactive('timeLine')") timeLine
    //- div.margin_top_15.pull-right(ng-controller="CampaignListController")
    //-   button.btn.btn-default.dropdown-toggle(data-toggle="dropdown") 活动类型
    //-   ul.dropdown-menu(role="menu")
    //-     li
    //-       a(ng-click="selectCampaign(0)") 公司活动
    //-     li
    //-       a(ng-click="selectCampaign(1)") 已加入小队的活动
    //-     li
    //-       a(ng-click="selectCampaign(2)") 未加入小队的活动
    .tab-content
      .tab-pane.active
        div(ng-view)

    div(ng-controller="CampaignListController" class="modal fade" id="sponsorCampaignModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      include ../partials/campaign_modal
block aside
  待定区域
append footExt
  script(src="/lib/angular-route/angular-route.min.js")
  script(src="/js/controllers/tabviewCompany.js")