extends ../layouts/company

append headExt
  link(rel="stylesheet" href="/css/tree.css")

block baseInfo
  .dl_container.clearfix
    .aside
      img.size_80.img_contain(ng-src="#{logo ? logo :'/img/icons/default_company_logo.png'}")
    .top_main
      .dl_row
        label.head= official_name
      .dl_row
        p.subtitle #{cname}
      //-.dl_row.height_60
      //-  p= sign
      .dl_row
        .score_container.margin_top_5
          span.info_border #{__('STAFF')}
          //-span.info_right_border  #{ membernumber>0 ? membernumber : 0 }
          span.info_border.info_right_border #{ membernumber>0 ? membernumber : 0 }
        .score_container.margin_top_5
          span.info_border #{__('TEAM')}
          span.info_border.info_right_border= groupnumber
        //-.score_container.margin_top_5
          label.info_border #{__('WIN_RATE')}
          span.info_right_border 100%
    if role === 'HR'
      .top_side
        a.btn_container(href="/message/home#/send")
          .btn_icon
            img(src='/img/icons/Megaphone.png')
          .btn_text
            span.subtitle 消息站
        //-button.dl_btn.dl_btn_medium(data-toggle="modal" data-target="#sponsorCampaignModel") #{__('SPONSOR')}#{__('COMPANY')}#{__('CAMPAIGN')}
        a.btn_container(data-toggle="modal" data-target="#dOtSearchModel" ng-click="modalSwitch(true)")
          .btn_icon
            img(src='/img/icons/Pulse.png')
          .btn_text
            span.subtitle 小队活动
        a.btn_container(data-toggle="modal" data-target="#sponsorCampaignModel" ng-click="modalSwitch(false)")
          .btn_icon
            img(src='/img/icons/house.png')
          .btn_text
            span.subtitle 公司活动
    .ad-top
block panel
  div(ng-init="role='#{role}'")
    ul.nav.nav-tabs(ng-init="cid='#{cid}'")
      li.tab_style(ng-class="{'active':nowTab=='team_info'}")
        a.subtitle.no_radius(href="#/team_info")= role === 'HR' ? '统计' : '小队'
      if role === 'HR' || role === 'EMPLOYEE'
        li.tab_style(ng-class="{'active':nowTab=='campaign'}")
          a.subtitle.no_radius(href="#/company_campaign") 活动
      if role === 'EMPLOYEE'
        li.tab_style(ng-class="{'active':nowTab=='member'}")
          a.subtitle.no_radius(href="#/company_member/#{cid}") 成员
      if role === 'HR' || role === 'EMPLOYEE'
        li.tab_style(ng-class="{'active':nowTab=='timeline'}")
          a.subtitle.no_radius(href="#/timeLine/#{cid}") 足迹
      if role === 'HR'
        li.tab_style(ng-class="{'active':nowTab==='manager' || nowTab==='department' || nowTab==='company_info' || nowTab==='member'}")
          a.subtitle.no_radius(href="#/manager") 管理
      //- if role === 'HR'
      //-   li.tab_style(ng-class="{'active':nowTab=='department'}")
      //-     a.subtitle.no_radius(href="#/department"  ng-click="addactive('department')") 部门
      //- div.margin_top_15.pull-right(ng-controller="CampaignListController")
      //-   button.btn.btn-default.dropdown-toggle(data-toggle="dropdown") 活动类型
      //-   ul.dropdown-menu(role="menu")
      //-     li
      //-       a(ng-click="selectCampaign(0)") 公司活动
      //-     li
      //-       a(ng-click="selectCampaign(1)") 已加入小队的活动
      //-     li
      //-       a(ng-click="selectCampaign(2)") 未加入小队的活动
  .tab-content
    .tab-pane.active
      div(ng-view)

  if role === 'HR'
    div(ng-init="cid='#{cid}'" ng-controller="SponsorController" )
      .modal.fade#sponsorCampaignModel(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        include ../campaign/campaign_modal
      .modal.fade#dOtSearchModel(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        include ../partials/search_dot_modal
  #bottom
block aside
append footExt
  script(src="/lib/linkage-selector/linkage-selector.js")
  script(src="/lib/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")
  script(charset="UTF-8" src="/lib/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js")
  script(src="/js/controllers/tabviewCompany.js")
