extends ../layouts/manager

block baseInfo
  .row.margin_top_15
    .col-md-2.col-sm-3.col-xs-4
      img.size_140.img_contain(src="#{logo ? logo :'/img/icons/default_company_logo.png'}")
    .col-md-9.col-sm-8.col-xs-7.margin_left_20
      .row
        label.head= cname
      .row.margin_top_15
        p.subtitle= sign
      .row.margin_top_30
        .col-md-2.col-sm-2.col-xs-4.padding_0
          span.info_border {{ 'STAFF' | translate }}
          span.info_border  #{membernumber>0? membernumber : 0 }
        .col-md-2.col-sm-2.col-xs-4.padding_0
          span.info_border {{ 'TEAM' | translate }}
          span.info_border= groupnumber
        .col-md-2.col-sm-2.col-xs-4.padding_0
          span.info_border {{ 'WIN_RATE' | translate }}
          span.info_border 100%
      if(role === 'HR')
        .margin_top_15
          button.dl_btn(data-toggle="modal" data-target="#sponsorCampaignModel") {{ 'CAMPAIGN' | translate }}

block panel
  ul.nav.nav-tabs
    if(role==='HR' || role==='EMPLOYEE' )
      li(ng-class="{'active':nowTab=='company_campaign'}")
        a.subtitle(href="#/company_campaign"  ng-click="addactive('company_campaign')") {{ 'COMPANY_CAMPAIGN' | translate }}
    li(ng-class="{'active':nowTab=='company_info'}")
      a.subtitle(href="#/company_info"  ng-click="addactive('company_info')") {{ 'COMPANY_INFO' | translate }}
    li(ng-class="{'active':nowTab=='company_member'}")
      a.subtitle(href="#/company_member"  ng-click="addactive('company_member')") {{ 'STAFF' | translate }}
    li(ng-class="{'active':nowTab=='timeLine'}")
      a.subtitle(href="#/timeLine"  ng-click="addactive('timeLine')") {{ 'TIME_LINE' | translate }}
    //- div.margin_top_15.pull-right(ng-controller="CampaignListController")
    //-   button.btn.btn-default.dropdown-toggle(data-toggle="dropdown") 活动类型
    //-   ul.dropdown-menu(role="menu")
    //-     li
    //-       a(ng-click="selectCampaign(0)") 公司活动
    //-     li
    //-       a(ng-click="selectCampaign(1)") 已加入小队的活动
    //-     li
    //-       a(ng-click="selectCampaign(2)") 未加入小队的活动
    .tab-content
      .tab-pane.active
        div(ng-view)

    div(ng-controller="CampaignListController" class="modal fade" id="sponsorCampaignModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      include ../partials/campaign_modal
block aside
  待定区域
append footExt
  script(src="/js/controllers/tabviewCompany.js")