extends ../layouts/manager

block baseInfo
  .dl_container.clearfix
    .aside
      img.size_140.img_contain(ng-src="#{logo ? logo :'/img/icons/default_company_logo.png'}")
    .main
      .dl_row
        label.head= cname
      .dl_row.height_60
        p= sign
      .dl_row
        .score_container.margin_top_5
          label.info_border {{ 'STAFF' | translate }}
          span.info_right_border  #{membernumber>0? membernumber : 0 }
        .score_container.margin_top_5
          label.info_border {{ 'TEAM' | translate }}
          span.info_right_border= groupnumber
        .score_container.margin_top_5
          label.info_border {{ 'WIN_RATE' | translate }}
          span.info_right_border 100%
        if (Global.role === 'HR')
          .score_container.margin_top_5
            button.dl_btn.dl_btn_medium(data-toggle="modal" data-target="#sponsorCampaignModel") {{'SPONSOR'|translate}}{{'COMPANY'|translate}}{{ 'CAMPAIGN' | translate }}

block panel
  ul.nav.nav-tabs
    if Global.role==='HR' || Global.role==='EMPLOYEE'
      li.tab_style(ng-class="{'active':nowTab=='company_campaign'}")
        a.subtitle.no_radius(href="#/company_campaign"  ng-click="addactive('company_campaign')") {{ 'COMPANY_CAMPAIGN' | translate }}
    li.tab_style(ng-class="{'active':nowTab=='company_info'}")
      a.subtitle.no_radius(href="#/company_info"  ng-click="addactive('company_info')") {{ 'COMPANY_INFO' | translate }}
    li.tab_style(ng-class="{'active':nowTab=='company_member'}")
      a.subtitle.no_radius(href="#/company_member"  ng-click="addactive('company_member')") {{ 'STAFF' | translate }}
    li.tab_style(ng-class="{'active':nowTab=='timeLine'}")
      a.subtitle.no_radius(href="#/timeLine"  ng-click="addactive('timeLine')") {{ 'TIME_LINE' | translate }}
    //- div.margin_top_15.pull-right(ng-controller="CampaignListController")
    //-   button.btn.btn-default.dropdown-toggle(data-toggle="dropdown") 活动类型
    //-   ul.dropdown-menu(role="menu")
    //-     li
    //-       a(ng-click="selectCampaign(0)") 公司活动
    //-     li
    //-       a(ng-click="selectCampaign(1)") 已加入小队的活动
    //-     li
    //-       a(ng-click="selectCampaign(2)") 未加入小队的活动
  .tab-content.margin_top_20
    .tab-pane.active
      div(ng-view)

  if Global.role==='HR'
    div(ng-controller="SponsorController" class="modal fade" id="sponsorCampaignModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      include ../partials/campaign_modal
  #bottom
block aside
append footExt
  script(src="/lib/linkage-selector/linkage-selector.js")
  script(src="/js/controllers/tabviewCompany.js")
if role ==='HR'
  append bottomExt
    script(src="http://api.map.baidu.com/api?v=2.0&ak=krPnXlL3wNORRa1KYN1RAx3c")
