extends ../layouts/base

block content
  .wrap
    include ../partials/home_nav
    .dl_container
      .row.margin_top_123
        .col-xs-12.col-sm-5.text-right
          div
            h1.text-right
              small 进入
              | 动梨
            p 您的真实可靠的同事圈,遇到更多的伙伴
            p 更多活动,展示自我,发现伙伴们工作之余的多才多艺
            p 记录分享开心的每一个瞬间
        .col-xs-12.col-sm-7
          form.signin.form-horizontal.center-block(action="/company/session" method="post")
            .form-group
              label.col-md-4.control-label(for="username") #{__('USERNAME')}
              .col-md-8
                input#username.dl_form-Control(type="text" name="username" placeholder="用户名" required)
            .form-group
              label.col-md-4.control-label(for="password") #{__('PASSWORD')}
              .col-md-8
                input#password.dl_form-Control(type="password" name="password" placeholder="密码" required)
            .form-group
              .col-md-offset-4.col-md-8
                button.btn.btn-primary(type="submit") #{__('SIGNIN')}
                | &nbsp;or&nbsp;
                a.show-signup(href="/company/signup") #{__('SIGNUP')}
                a.reset-pwd(href="/company/forgetPwd")  #{__('FORGET')}#{__('PASSWORD')}
  include ../partials/footer