.loading_div(ng-if = 'loading')
div(ng-if = "!loading&&role === 'HR'")
  .dl_allteaminfo_container
    table.group_table
      tr
        th.noborder(rowspan="2")
          a(ng-if="data_type!=='team'" ng-click="getData('team')") 小队
          span(ng-if="data_type==='team'") 小队
          span &nbsp;&nbsp;|&nbsp;&nbsp;
          a(ng-if="data_type!=='department'" ng-click="getData('department')") 部门
          span(ng-if="data_type==='department'") 部门
        th.noborder(rowspan="2")
        th.noborder(rowspan="2")
          span(ng-if="data_type==='team'") 队长
          span(ng-if="data_type==='department'") 管理员
        th.noborder(rowspan="2") 成员
        th.noborder 本周
        th.noborder 上周
        th.noborder 上月
        th.operate.noborder(rowspan="2")
          a(ng-if="role === 'HR' && data_type==='team'" href="#/addGroup") #{__("ADD_TEAM")}
      tr
        th.noborder 活动/人次
        th.noborder 活动/人次
        th.noborder 活动/人次
      tr(ng-repeat="team in team_lists | offset: currentPage*itemsPerPage | limitTo: itemsPerPage")
        td.logo
          a(ng-show="data_type==='team'" href="/group/page/{{team._id}}")
            img.img_border.img_contain.size_56(ng-src="{{team.logo}}")
          a(ng-show="data_type==='department'" href="/department/home/{{team.did}}")
            img.img_border.img_contain.size_56(ng-src="{{team.logo}}")
        td.text-left
          span.text-left.dl_user_name_normal(title="{{team.name}}") {{team.name}}
        td
          span(ng-if="team.leader.length>0" ng-repeat="l in team.leader")
            span.dl_user_name_normal(title="{{l.nickname}}") {{l.nickname}}
          span(ng-if="team.leader.length==0") 无
        td
          span {{team.member.length}}
        td
          span {{team.count.current_week_campaign}}/{{team.count.current_week_member}}
        td
          span {{team.count.last_week_campaign}}/{{team.count.last_week_member}}
        td
          span {{team.count.last_month_campaign}}/{{team.count.last_month_member}}
        td.operate
          .dl_row.clearfix(ng-show="data_type==='team'&&role === 'HR'")
            button.dl_btn.dl_btn_small(ng-click="setGroupId(team._id,team.gid,$index)" data-toggle="modal" data-target="#appointLeaderModel") #{__("EDIT")}
            //-开组
            button.dl_btn.dl_btn_small(ng-if="!team.active" ng-click="activateGroup(true,team._id,$index)") #{__("OPEN")}
            //-关组
            button.dl_btn.dl_btn_small.cancel_btn(ng-if="team.active" ng-click="activateGroup(false,team._id,$index)") #{__("CLOSE")}
    ul.pager(ng-if="showPage")
      li(ng-class="{'disabled':prevPageDisabled()}")
        a(ng-disabled="prevPageDisabled()" ng-click="prevPage()") 上一页
      li(ng-class="{'disabled':nextPageDisabled()}")
        a(ng-disabled="nextPageDisabled()" ng-click="nextPage()") 下一页
    div(class="modal fade" id="appointLeaderModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      include ../partials/pointleader_modal
div(ng-if = "!loading&&role !== 'HR'")
  .dl_allteaminfo_emp(masonry reload="is_reload" items="team_lists")
    .teamitem.masonry-item(ng-repeat="team in team_lists")
      .title.clearfix
        .img_container
          a(href="/group/page/{{team._id}}")
            img.img_contain(ng-src="{{team.logo}}/40/40")
        .text_container
          a(href="/group/page/{{team._id}}") {{team.name}}
        .button_container  
          //- 不属于显示加组按钮
          button.dl_btn.dl_btn_small.join_btn(ng-if="role==='EMPLOYEE'&&!team.belong" ng-click="joinGroup(team._id,$index)") #{__("JOIN_GROUP")}
          //-属于则显示退组按钮
          button.dl_btn_small.quit_btn(ng-if="role==='EMPLOYEE'&&team.belong" ng-click="quitGroup(team._id,$index)") #{__("QUIT_GROUP")}
        .text_container
          span 队员:{{team.member.length}}
      .itembox
        .newcampaign(ng-if="team.campaign_theme")
          .campaign
            p 最新活动：
            p
              a(href="/campaign/detail/{{team.campaign_id}}" target="_blank" ) &nbsp;&nbsp;&nbsp;&nbsp;{{team.campaign_theme}} ({{team.campaign_start_time | date:'yyyy-MM-dd HH:mm:ss' | dateView}})

        .photos.clearfix(ng-if="team.photos")
          p 最新照片:
          .photo(ng-repeat="photo in team.photos")
            img.img_contain(ng-src="{{photo.uri}}/134/134")
        .memberlist(ng-if="team.member[0].uid != '' ")
          .dl_row
            p 小队成员：
              a.text.pull-right(ng-show="team.member.length >7 && team.more" ng-click="team.more = !team.more" href="javascript:void(0);" ng-cloak) 更多>
              a.text.pull-right(ng-show="team.member.length >7 && !team.more" ng-click="team.more = !team.more" href="javascript:void(0);" ng-cloak) 收起 <
            .member(ng-repeat="member in team.member track by $index")
              img.img_border.img_contain.img_user(ng-src="{{member.photo}}/30/30" ng-show="$index<7||team.more ===false")
            .clearfix
