.loading_div(ng-show = 'loading')
div(ng-show = '!loading')
  .dl_allteaminfo_container(ng-if="role === 'HR'")
    table.group_table
      tr
        th.noborder(rowspan="2")
          a(ng-if="data_type!=='team'" ng-click="getData('team')") 小队
          span(ng-if="data_type==='team'") 小队
          span &nbsp;&nbsp;|&nbsp;&nbsp;
          a(ng-if="data_type!=='department'" ng-click="getData('department')") 部门
          span(ng-if="data_type==='department'") 部门
        th.noborder(rowspan="2")
        th.noborder(rowspan="2")
          span(ng-if="data_type==='team'") 队长
          span(ng-if="data_type==='department'") 管理员
        th.noborder(rowspan="2") 成员
        th.noborder 本周
        th.noborder 上周
        th.noborder 上月
        th.operate.noborder(rowspan="2")
          a(ng-if="role === 'HR' && data_type==='team'" href="#/addGroup") #{__("ADD_TEAM")}
      tr
        th.noborder 活动/人次
        th.noborder 活动/人次
        th.noborder 活动/人次
      tr(ng-repeat="team in team_lists")
        td
          a(ng-if="data_type==='team'" href="/group/home/{{team._id}}")
            img.img_border.img_contain.size_56(ng-src="{{team.logo}}")
          a(ng-if="data_type==='department'" href="/department/home/{{team.did}}")
            img.img_border.img_contain.size_56(ng-src="{{team.logo}}")
        td.text-left
          span.text-left.dl_user_name_normal(title="{{team.name}}") {{team.name}}
        td
          span(ng-if="team.leader.length>0" ng-repeat="l in team.leader")
            span.dl_user_name_normal(title="{{l.nickname}}") {{l.nickname}}
          span(ng-if="team.leader.length==0") 无
        td
          span {{team.member.length}}
        td
          span {{team.count.current_week_campaign}}/{{team.count.current_week_member}}
        td
          span {{team.count.last_week_campaign}}/{{team.count.last_week_member}}
        td
          span {{team.count.last_month_campaign}}/{{team.count.last_month_member}}
        td.operate
          div(ng-if="data_type==='team'")
            .dl_row.clearfix(ng-if="role === 'HR'")
              button.dl_btn.dl_btn_small(ng-click="setGroupId(team._id,team.gid,$index)" data-toggle="modal" data-target="#appointLeaderModel") #{__("EDIT")}
              //-开组
              button.dl_btn.dl_btn_small.cancel_btn(ng-if="!team.active" ng-click="activateGroup(true,team._id,$index)") #{__("OPEN")}
              //-关组
              button.dl_btn.dl_btn_small(ng-if="team.active" ng-click="closeGroup($index)" data-toggle="modal" data-target="#CloseGroupModel") #{__("CLOSE")}
            .dl_row.clearfix(ng-if="role === 'EMPLOYEE'")
              //-不属于显示加组按钮
              button.dl_btn.dl_btn_small(ng-if='!team.belong' ng-click="joinGroup(team._id,$index)") #{__("JOIN_GROUP")}
              //-属于则显示退组按钮
              button.dl_btn.dl_btn_small.cancel_btn(ng-if='team.belong' ng-click="quitGroup(team._id,$index)") #{__("QUIT_GROUP")}
    div(class="modal fade" id="appointLeaderModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      include ../partials/pointleader_modal

div(ng-show = '!loading')
  .dl_allteaminfo_emp.masonry(masonry ng-if="role !== 'HR'")
    .teamitem.masonry-item(ng-repeat="team in team_lists" masonryItem)
      .title
        a(href="/group/home/{{team._id}}")
          img.img_border.img_contain(ng-src="{{team.logo}}/20/20")
          span {{team.name}}
        //- 不属于显示加组按钮
      button.dl_btn.dl_btn_small.btn_join(ng-if="role==='EMPLOYEE'&&!team.belong" ng-click="joinGroup(team._id,$index)") #{__("JOIN_GROUP")}
      //-属于则显示退组按钮
      button.dl_btn.dl_btn_small.btn_join.cancel_btn(ng-if="role==='EMPLOYEE'&&team.belong" ng-click="quitGroup(team._id,$index)") #{__("QUIT_GROUP")}
      .itembox
        .newcampaign(ng-if="team.campaign_theme != '' ")
          .campaign
            p 最新活动：
              a(href="/campaign/detail/{{team.campaign_id}}" target="_blank" ) {{team.campaign_theme}} ({{team.campaign_start_time | date:'yyyy-MM-dd HH:mm' | dateView}})
        .memberlist(ng-if="team.member[0].uid != '' ")
          .dl_row 
            p 小队成员：
            .member(ng-repeat="member in team.member track by $index")

              img.img_border.img_contain.img_user(ng-src="{{member.photo}}/36/36")
            .clearfix

      //- p {{team}}
div.modal.fade#quitGroupModel(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  .modal-dialog
    .dl-modal
      .dl-modal-content
        form
          .dl-modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") X
            h4.modal-title#myModalLabel #{__("CONFIRM")}
          .dl-modal-body
            //-span= '您确定要退出' +tname +'吗？'
          .dl-modal-footer
            button.dl_btn.dl_btn_small(ng-click='quitGroup()' data-dismiss="modal") #{__("CONFIRM")}
            button.cancel_btn.dl_btn_small(data-dismiss="modal") #{__("CANCEL")}
div.modal.fade#CloseGroupModel(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  .modal-dialog
    .dl-modal
      .dl-modal-content
        form
          .dl-modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") X
            h4.modal-title#myModalLabel #{__("CONFIRM")}
          .dl-modal-body
            span= '您确定要关闭小组吗？'
          .modal-footer
            button.dl_btn.dl_btn_small(ng-click='activateGroup(false,team_lists[group_index]._id,group_index)' data-dismiss="modal") #{__("CONFIRM")}
            button.cancel_btn.dl_btn_small(data-dismiss="modal") #{__("CANCEL")}
