.loading_div(ng-show = 'loading')
div(ng-show = '!loading')
  .dl_allteaminfo_container(ng-if="role === 'HR'")
    table.group_table
      tr
        th.noborder(rowspan="2")
        th.noborder(rowspan="2")
        th.noborder(rowspan="2") 队长
        th.noborder(rowspan="2") 人数
        th.noborder 本周
        th.noborder 上周
        th.noborder 上月
        th.operate.noborder(rowspan="2")
          a(ng-if="role === 'HR'" href="#/addGroup") #{__("ADD_TEAM")}
      tr
        th.noborder 活动/人次
        th.noborder 活动/人次
        th.noborder 活动/人次
      tr(ng-repeat="team in team_lists")
        td
          a(href="/group/home/{{team._id}}")
            img.img_border.img_contain.size_56(ng-src="{{team.logo}}")
        td.text-left
          span.text-left.dl_user_name_normal(title="{{team.name}}") {{team.name}}
        td
          span.row(ng-if="team.leader.length>0" ng-repeat="l in team.leader")
            span.dl_user_name_normal(title="{{l.nickname}}") {{l.nickname}}
          span.row(ng-if="team.leader.length==0") 无
        td
          span {{team.member.length}}
        td
          span {{team.count.current_week_campaign}}/{{team.count.current_week_member}}
        td
          span {{team.count.last_week_campaign}}/{{team.count.last_week_member}}
        td
          span {{team.count.last_month_campaign}}/{{team.count.last_month_member}}
        td.operate
            .dl_row.clearfix(ng-if="role === 'HR'")
              button.dl_btn.dl_btn_small(ng-click="setGroupId(team._id,team.gid,$index)" data-toggle="modal" data-target="#appointLeaderModel") #{__("EDIT")}
              //-关组
              button.dl_btn.dl_btn_small.cancel_btn(ng-if="!team.active" ng-click="activateGroup(true,team._id,$index)") #{__("OPEN")}
              //-开组
              button.dl_btn.dl_btn_small(ng-if="team.active" ng-click="activateGroup(false,team._id,$index)") #{__("CLOSE")}
            .dl_row.clearfix(ng-if="role === 'EMPLOYEE'")
              //-不属于显示加组按钮
              button.dl_btn.dl_btn_small(ng-if='!team.belong' ng-click="joinGroup(team._id,$index)") #{__("JOIN_GROUP")}
              //-属于则显示退组按钮
              button.dl_btn.dl_btn_small.cancel_btn(ng-if='team.belong' ng-click="quitGroup(team._id,$index)") #{__("QUIT_GROUP")}
    div(class="modal fade" id="appointLeaderModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      include ../partials/pointleader_modal


div.dl_allteaminfo_emp.masonry(masonry ng-if="role !== 'HR'")
  div.teamitem.masonry-item(ng-repeat="team in team_lists" masonryItem)
    a(href="/group/home/{{team._id}}")
      img.img_border.img_contain(ng-src="{{team.logo}}/20/20")
      span {{team.name}}
    if role === 'EMPLOYEE'
      //- 不属于显示加组按钮
      button.dl_btn.dl_btn_small.btn_join(ng-if='!team.belong' ng-click="joinGroup(team._id,$index)") #{__("JOIN_GROUP")}
      //-属于则显示退组按钮
      button.dl_btn.dl_btn_small.btn_join.cancel_btn(ng-if='team.belong' ng-click="quitGroup(team._id,$index)") #{__("QUIT_GROUP")}

    div.newcampaign(ng-if="team.campaign_theme != '' ")
      p 最新活动：
      a(href="/campaign/detail/{{team.campaign_id}}" target="_blank" title="{{team.campaign_start_time}}") {{team.campaign_theme}}
    div.memberlist(ng-if="team.member[0].uid != '' ")
      p 小队成员：
      span(ng-repeat="member in team.member track by $index")

        img.img_border.img_contain(ng-src="{{member.photo}}/20/20")



    //- p {{team}}

