.modal-dialog
  form.dl-modal(style="width:370px" name="detail_form")
    .dl-modal-header
      button(type="button" class="close" data-dismiss="modal" aria-hidden="true") X
      h4.modal-title#myModalLabel #{__("STAFF")}#{__("INFO")}
    .dl-modal-body
      .dl_row.clearfix
        .info_side
          span.info_label #{__("NICKNAME")}
        .info_detail
          input.dl_input.dl_form-Control.editToggle(type="text" name ="nickname" ng-model="members[num].nickname" ng-maxlength=20 tooltip="{{detail_form.nickname.$invalid? '最长20字':''}}" required ng-disabled="unEdit")
      .dl_row.clearfix
        .info_side
          span.info_label #{__("REALNAME")}
        .info_detail_2
          span.info_label {{members[num].realname}}
      .dl_row.clearfix
        .info_side
          span.info_label #{__("DEPARTMENT")}
        .info_detail(ng-if="!unEdit")
          select(ng-model="department._id" ng-options="option._id as option.label for option in options")
        .info_detail_2(ng-if="unEdit")
          span.info_label {{ members[num].department.name }}
      .dl_row.clearfix
        .info_side
          span.info_label #{__("GENDER")}
        .info_detail_2
          span.info_label {{members[num].sex}}
      .dl_row.clearfix
        .info_side
          span.info_label #{__("BRIEF")}
        .info_detail_2
          span.info_label {{members[num].introduce}}
      .dl_row.clearfix
        .info_side
          span.info_label #{__("REGISTER_DATE")}
        .info_detail_2
          span.info_label {{members[num].register_date | date:'yyyy-MM-dd HH:mm:ss'}}
    .dl-modal-footer
      if role==='HR' || role==='OWNER'
        span #{unEdit}
        //button.dl_btn.dl_btn_large(data-dismiss="modal" ng-click="changeUserInfo('delete')") #{__("DELETE")}
        button.dl_btn.dl_btn_large(ng-click="changeUserInfo()" ng-disabled="detail_form.$invalid&& !unEdit") {{buttonStatus}}
      button.cancel_btn.dl_btn_large(data-dismiss="modal") 返回