form(name="campaign_form" novalidate)
  .dl_modal_header
    button.close.dl_close(type="button" data-dismiss="modal" aria-hidden="true")
      img(ng-src='/img/icons/icon_close.png')
    span 发起活动
  .dl_modal_body.clearfix
    .dl_modal_container(ng-if="dOtMulti")
      span.dl_modal_subtitle 参加该活动的小队
      .groups.dl_row.groups_box
        .group(ng-repeat='select_dOt in select_dOts')
          img.size_48(ng-src="{{select_dOt.logo}}" title="{{select_dOt.name}}")
    .dl_modal_container
      span.dl_modal_subtitle #{__("CAMPAIGN")}#{__("THEME")}
      input.dl_modal_input.dl-form-control(type="text" name="theme" ng-model="theme" placeholder="请控制在20字以内。" maxlength=20 required)
    .dl_modal_container
      .dl_modal_half_container
        .dl_modal_half_container
          span.dl_modal_subtitle #{__("START_TIME")}
        .input-group.date.form_datetime.dl_modal_input#start_time
          input.dl-form-control(type="text" ng-model="start_time" name="startTime" placeholder="Date" data-data-format="YYYY-MM-DD HH:mm" readonly required)
          span.input-group-addon.no_radius
            span.glyphicon.glyphicon-calendar
      .dl_modal_half_container.end_time(ng-class="{'has-error':start_time >= end_time}")
        .dl_modal_half_container
          span.dl_modal_subtitle #{__("END_TIME")}
        .input-group.date.form_datetime.dl_modal_input#end_time
          input.dl-form-control(type="text" ng-model="$parent.end_time" name="endTime" placeholder="Date" data-data-format="YYYY-MM-DD HH:mm" readonly required)
          span.input-group-addon.no_radius
            span.glyphicon.glyphicon-calendar
    .dl_modal_container
      .dl_modal_container
        span.dl_modal_subtitle #{__("CAMPAIGN")}#{__("LOCATION")}
      .dl_modal_input_container
        input.dl_modal_input.dl-form-control(type="text" name="location" ng-model="location.name" placeholder="请输入活动场地的详细地址，并点击后方的“地图”标注" maxlength=40 required)
      .dl_modal_button
        a.clearLinkUnderline.dl_map_btn(ng-click="showMap()") #{__("MAP")}
    .dl_modal_container.dl_modal_map_container(ng-show="showMapFlag")
      #mapDetail.map_height
    .dl_modal_container
      .dl_modal_container
        span.dl_modal_subtitle #{__("CAMPAIGN")}类型
      .input-group
        .input-group-btn
          input.dl_modal_input.dl-form-control.dl_modal_input_container(type="text" name="mold" ng-model="mold" data-toggle="dropdown" readonly required)
          button.input-group-addon.no_radius(data-toggle="dropdown")
            span.glyphicon.glyphicon-chevron-down
          ul.dropdown-menu.dropdown-menu-right.no_radius(role="menu")
            li(ng-repeat="select_mold in molds")
              a(ng-click="selectMold(select_mold.name)") {{select_mold.name}}
  .dl_modal_footer
    //- button.dl_btn.dl_btn_large(type='button' ng-click='goBack()' data-dismiss="modal" ng-if="dOtMulti") 上一步
    button.dl_btn.dl_modal_btn(type='button' ng-click='sponsor()' data-dismiss="modal" ng-disabled="campaign_form.$invalid") #{__("IMMEDIATE")}#{__("SPONSOR")}
script.
  $(function() {
    $('#start_time').datetimepicker({
      autoclose: true,
      language: 'zh-CN',
      startDate: new Date(),
      pickerPosition:"bottom-left"
    });
    $('#end_time').datetimepicker({
      autoclose: true,
      language: 'zh-CN',
      startDate: new Date(),
      pickerPosition:"bottom-left"
    });
  });
