extends ../layouts/user_base

append headExt
  link(rel="stylesheet" href="/css/campaign_detail.css")
block contentExt
  .campaign_detail.dl_container
    .breadcrumb
    .campaign_panel
      .main_panel
        .component.detail_card
          .component_head
            span.title #{campaign.theme}
            span.sub_title #{campaign.campaign_unit[0].team.name}
          .component_body
            .base_info
              .logo_container
                each unit in campaign.campaign_unit
                  img.logo(src="#{unit.team.logo}")
              .info_container
                .start_info
                  .campaign_info
                    p 开始时间: #{moment(campaign.start_time).format('YYYY-MM-DD HH:mm dddd')}
                    p 结束时间: #{moment(campaign.end_time).format('YYYY-MM-DD HH:mm dddd')}
                    p 活动地点: #{campaign.location.name}
                    p 活动类型: #{campaign.campaign_mold}
                  .time_info
                    p 距活动开始还有
                    p(count-down="#{campaign.start_time}")
                p: span.title 最新公告
                if notice
                  p #{notice.content}
                  p #{moment(notice.post_date).format('YYYY-MM-DD HH:mm')}
            hr
            p: span.title 活动简介
            div #{campaign.content}
            p: span.title 活动标签
            .tags
              each tag in campaign.tags
                span.tag #{tag}
            p: span.title 报名信息
            p 报名人数上限: #{campaign.members.length}/#{campaign.member_max}
            p 报名人数下限: #{campaign.member_min}
            p 报名截止日期: #{moment(campaign.deadline).format('YYYY-MM-DD HH:mm dddd')}

      .panel_divider

      .side_panel
        .component
          .component_head
            span.title 活动信息
            button.head_button 详情
          .component_body
            p 开始时间: #{moment(campaign.start_time).format('YYYY-MM-DD HH:mm dddd')}
            p 结束时间: #{moment(campaign.end_time).format('YYYY-MM-DD HH:mm dddd')}
            p 活动地点: #{campaign.location.name}
            p 活动类型: #{campaign.campaign_mold}

        .component
          .component_head
            span.title 活动信息
            button.head_button 详情
          .component_body
            p 开始时间: #{moment(campaign.start_time).format('YYYY-MM-DD HH:mm dddd')}
            p 结束时间: #{moment(campaign.end_time).format('YYYY-MM-DD HH:mm dddd')}
            p 活动地点: #{campaign.location.name}
            p 活动类型: #{campaign.campaign_mold}

append footExt
  script(src="/js/controllers/campaign.js")
  script(src="/js/directives/count_down.js")
