extends ../layouts/user_base

append headExt
  link(rel="stylesheet" href="/css/campaign_detail.css")
block contentExt
  .campaign_detail.dl_container
    .breadcrumb
    .main_panel
      .component
        .component_head
          span.title #{campaign.theme}
          span.sub_title #{campaign.campaign_unit[0].team.name}
        .component_body
          img(src="#{campaign.campaign_unit[0].team.logo}")
          p 开始时间: #{moment(campaign.start_time).format('YYYY-MM-DD HH:mm dddd')}
          p 结束时间: #{moment(campaign.end_time).format('YYYY-MM-DD HH:mm dddd')}
          p 活动地点: #{campaign.location.name}
          p 活动类型: #{campaign.campaign_mold}
          p: span.title 最新公告
          if notice
            p #{notice.content}
            p #{moment(notice.post_date).format('YYYY-MM-DD HH:mm')}
          hr
          p: span.title 活动简介
          div #{campaign.content}
          p: span.title 活动标签
          .tags
            each tag in campaign.tags
              span.tag #{tag}
          p: span.title 报名信息
          p 报名人数上限: #{campaign.members.length}/#{campaign.member_max}
          p 报名人数下限: #{campaign.member_min}
          p 报名截止日期: #{moment(campaign.deadline).format('YYYY-MM-DD HH:mm dddd')}
    .side_panel


append footExt
  script(src="/js/controllers/campaign.js")
