extends ../layouts/user_base

append headExt
  link(rel="stylesheet" href="/css/views/photo_album.css")

block contentExt
  .dl_detail_container.clearfix(ng-controller="campaignController")
    .dl_detail_main
      ul.nav.nav-tabs
        li.tab_style(ng-class="{'active':nowTab=='campaign'}")
          a.subtitle.no_radius {{campaign.theme}}
      .dl_detail_content
        p.head {{"CAMPAIGN"|translate}}{{"DETAIL"|translate}}
        p.subtitle {{"CAMPAIGN"|translate}}{{"CONTENT"|translate}}：{{campaign.content}}
        p.subtitle {{"CAMPAIGN"|translate}}{{"LOCATION"|translate}}：{{campaign.location}}
        p.subtitle {{"START_TIME"|translate}}：{{campaign.start_time | date:'yyyy-MM-dd HH:mm'}}
          {{campaign.start_time | week }}
        if (role==='EMPLOYEE' || role==='OWNER' || role ==='LEADER' || role ==='MEMBER')
          div(ng-if="campaign.active && !campaign.over")
            input.dl_btn.dl_btn_detail(type = "button" value = "{{'QUIT'|translate}}" ng-click="quitCampaign()" ng-if="join")
            input.dl_btn.dl_btn_detail(type = "button" value = "{{'JOIN'|translate}}" ng-click="joinCampaign()" ng-if="!join")
      .dl_detail_aside
        img.img_contain.size_128
      .dl_detail_photo
        p.subtitle {{"JOIN"|translate}}{{"MEMBER"|translate}}:
        div(ng-repeat = "_member in campaign.member")
          a(href="/users/home/{{_member.uid}}")
            img.img_contain.detail_member(ng-src="{{_member.photo}}" title="{{_member.nickname}}")
        //- if (campaign.member.length>0)
        //-   - for(var i = 0; i < campaign.member.length; i ++)
        //-       a(href="/users/home/#{campaign.member[i].uid}")
        //-         img.img_contain.detail_photo(ng-src="#{campaign.member[i].photo" title="#{campaign.member[i].nickname}")
        //- else
        //-   p.subtitle 该活动还没有人参加哦!
      .dl_detail_main
        p.subtitle {{"I"|translate}}{{"WANT"|translate}}{{"LEAVEMESSAGE"|translate}}
        textarea.dl_modal_input.form-control(rows="4" name="content" ng-model="content" ng-change="judge()" required)
        button.dl_btn.pull-right.dl_btn_submit {{"SUBMIT"|translate}}{{"LEAVEMESSAGE"|translate}}
    .dl_detail_side
      p.subtitle {{"CAMPAIGN"|translate}}{{"LOCATION"|translate}}
        img.img_contain.size_map
      p.subtitle.clearfix {{"CAMPAIGN"|translate}}{{"WONDERFUL"|translate}}{{"PHOTO"|translate}}
        a.dl_btn.dl_btn_upload.pull-right(href="/photoAlbumDetailView/#{campaign.photo_album._id}") 上传活动照片
      if (role!=='PARTNER')
        .photo_album
          each photo in photo_thumbnails
            a.thumbnail_cell(href="/photoView/#{campaign.photo_album._id}/#{photo._id}")
              img.thumbnail_img.img-thumbnail(src="#{photo.thumbnail_uri}")
              p.thumbnail_name.text-center= photo.name

append footExt
  script(src="/js/controllers/campaign.js")

