.modal-dialog
  .dl-modal
    form(name="campaign_form" novalidate)
      .dl-modal-header
        button.head.close.dl_close(type="button" data-dismiss="modal" aria-hidden="true")
          img(ng-src='/img/icons/icon_close.png')
        .head#myModalLabel 发活动
      .dl-modal-body
        .dl_modal_container(ng-if="dOtMulti")
            label.subtitle 参加该活动的小队
            .groups.row.dl_row.groups_box
              .group.col-md-1(ng-repeat='select_dOt in select_dOts')
                img.size_48(ng-src="{{select_dOt.logo}}" title="{{select_dOt.name}}")
        .dl_modal_container
            label.subtitle #{__("CAMPAIGN")}#{__("THEME")}
            input.dl_modal_input.dl-form-control(type="text" name="theme" ng-model="$parent.theme" placeholder="请控制在20字以内。" tooltip="{{campaign_form.theme.$invalid ? '活动简单描述，请控制在20字以内':''}}" maxlength=20 required)
        .dl_modal_container
            label.subtitle #{__("CAMPAIGN")}#{__("BRIEF")}
            textarea.dl_modal_input.dl-form-control(rows="2" name="content" ng-model="$parent.content" ng-change="judge()" placeholder="请控制在140字以内。" tooltip="{{campaign_form.content.$invalid ? '请输入活动内容':''}}" maxlength=140)
        .dl_modal_container
          .dl_modal_half_container
            .dl_modal_half_container
              label.subtitle #{__("CAMPAIGN")}#{__("START_TIME")}
            .input-group.date.form_datetime.dl_modal_input#start_time
              span.input-group-addon.no_radius
                //img(ng-src='/img/icons/icon_date.png')
                span.glyphicon.glyphicon-th
              input.dl-form-control(type="text" ng-model="$parent.start_time" name="startTime" placeholder="Date" data-data-format="YYYY-MM-DD HH:mm" tooltip="{{campaign_form.startTime.$invalid ? '请选择活动活动开始时间':''}}" readonly required)
          .dl_modal_half_container.end_time(ng-class="{'has-error':start_time >= end_time}")
            .dl_modal_half_container
              label.subtitle #{__("CAMPAIGN")}#{__("END_TIME")}
            .input-group.date.form_datetime.dl_modal_input#end_time
              //img(ng-src='/img/icons/icon_date.png')
              span.input-group-addon.no_radius
                span.glyphicon.glyphicon-th
              input.dl-form-control(type="text" ng-model="$parent.end_time" name="endTime" placeholder="Date" data-data-format="YYYY-MM-DD HH:mm" tooltip="{{campaign_form.endTime.$invalid ? '请选择活动活动结束时间':''}}" readonly required)
        .dl_modal_container
          .dl_modal_container
            label.subtitle #{__("CAMPAIGN")}#{__("LOCATION")}
          .dl_modal_input_container
            input.dl_modal_input.dl-form-control(type="text" name="location" ng-model="$parent.location.name" placeholder="请输入活动场地的详细地址，并点击后方的“地图”链接进行具体地点标注" maxlength=40 tooltip="{{campaign_form.location.$invalid? '请输入活动地点,最长40字':''}}" required)
          .dl_modal_button
            a.clearLinkUnderline.map_btn.dl_btn_small(ng-disabled="$parent.location.name.length==0" ng-click="showMap()") #{__("MAP")}
        .dl_modal_container.height_200(ng-show="showMapFlag")
              #mapDetail
        .dl_modal_container
          .dl_modal_container
            label.subtitle #{__("CAMPAIGN")}#{__("OPTIONAL")}#{__("OPTION")}
          .dl_modal_option_container
            .dl_row.clearfix
              .dl_modal_label_container
                span.info_label #{__("LEAST")}#{__("ENTRY")}#{__("SUM")}:
              .dl_modal_other_container
                input.dl-form-control(type="number" name="minNumber" ng-model="$parent.member_min" ng-min=0 ng-max="{{$parent.member_max}}" ng-maxlength=10 tooltip="{{campaign_form.minNumber.$invalid? '请正确填写最少人数':''}}")
              .dl_modal_people_container
                span.info_label 人
              .dl_modal_label_container
                span.info_label 报名截止前未达最少人数,您将收到提醒。不填默认为不提醒。
            .dl_row.clearfix
              .dl_modal_label_container
                span.info_label 报名截止时间:
              .dl_modal_time_container
                .input-group.date.form_datetime#deadline
                  //img(ng-src='/img/icons/icon_date.png')
                  input.dl-form-control(type="text" ng-model="$parent.deadline" name="dueTime" data-data-format="YYYY-MM-DD HH:mm" readonly)
                  span.input-group-addon.no_radius
                    span.glyphicon.glyphicon-th
              .dl_modal_label_container
                span.info_label 如果不选，默认为活动结束停止报名。
            .dl_row.clearfix
              .dl_modal_label_container
                span.info_label 报名人数上限:
              .dl_modal_other_container
                input.dl-form-control(type="number" name="maxNumber" ng-model="$parent.member_max" ng-min="{{$parent.member_min}}" ng-maxlength=10 tooltip="{{campaign_form.maxNumber.$invalid? '请正确填写人数上限':''}}")
              .dl_modal_people_container
                span.info_label 人
              .dl_modal_label_container
                span.info_label 若活动有人数限定，请填写此项，到达后将停止报名。
      .dl-modal-footer
        button.dl_btn.dl_btn_large(type='button' ng-click='goBack()' data-dismiss="modal" ng-if="dOtMulti") 上一步
        button.dl_btn.dl_btn_large(type='button' ng-click='sponsor()' data-dismiss="modal" ng-disabled="campaign_form.$invalid") #{__("IMMEDIATE")}#{__("SPONSOR")}
        button.cancel_btn.dl_btn_large.margin_left_30(type='button' data-dismiss="modal") #{__("CANCEL")}
  script.
    $(function() {
      $('#start_time').datetimepicker({
        autoclose: true,
        startDate: new Date()
      });
      $('#end_time').datetimepicker({
        autoclose: true,
        startDate: new Date()
      });
      $('#deadline').datetimepicker({
        autoclose: true,
        startDate: new Date(),
        pickerPosition: "top-left"
      });
    });