extends ../layouts/user_base

append headExt
  link(rel="stylesheet" href="/css/campaign_detail.css")
  link(rel="stylesheet" href="/css/bootstrap-tagsinput.css")
  link(rel="stylesheet" href="/lib/pen/src/pen.css")

block contentExt
  .campaign_detail.dl_container(ng-controller="campaignController" ng-init="editing=#{editing};")
    include ../partials/breadcrumb
    +breadcrumb(links)
    .campaign_panel
      .main_panel
        .component.base_card
          .component_head(ng-class="{competition: campaign.units.length >= 2}")
            span.title.left.first #{campaign.theme}
            span.sub_title.left(ng-cloak) #{campaign.campaign_unit[0].team.name || campaign.campaign_unit[0].company.name}
            span.title.right.last(ng-if="!campaign.isStart" ng-init="startCal=false" ng-show="startCal" ng-cloak)
              span(count-down target="campaign.start_time" start-cal="startCal" ng-cloak)
              span.count_down_remind &nbsp;后开始
            span.title.right.last(ng-if="campaign.isStart && !campaign.isEnd && campaign.isActive" ng-cloak) 活动正在进行中
            span.title.right.last(ng-if="campaign.isEnd && campaign.isActive" ng-cloak) 活动已结束
            span.title.right.last(ng-if="!campaign.isActive" ng-cloak) 活动已关闭
          .component_body
            //- .base_info.clearfix(class="#{helper.multiUnit('multi_team')} #{helper.isWaitingReply('isWaitingReply')}")
            //-   .logo_container
            //-     each unit in campaign.campaign_unit
            //-       .unit
            //-         a(ng-href="#{unit.link}" target="_blank")
            //-           img.logo(src="#{unit.team.logo || unit.company.logo}/80/80" title="#{unit.team.name || unit.company.name}")
            //-         span.text= unit.team.name||unit.company.name
            //-         if isActive && !isEnd && unit.canjoin && !isWaitingReply
            //-           if unit.team._id
            //-             button.join(ng-cloak ng-show="!isJoin" ng-click="join('#{unit.company._id}', '#{unit.team._id}')") 参加
            //-           else
            //-             button.join(ng-cloak ng-show="!isJoin" ng-click="join('#{unit.company._id}')") 参加
            //-     if isWaitingReply
            //-       .button_container
            //-         if response.canResponse
            //-           button.dl_btn.accept_btn.dl_btn_small(ng-cloak ng-click="dealProvoke('#{campaign.campaign_unit[1].team._id}',1)") 接受
            //-           .second_button
            //-             button.cancel_btn.dl_btn_small(ng-cloak ng-click="dealProvoke('#{campaign.campaign_unit[1].team._id}',2)") 拒绝
            //-         if response.canCancel
            //-           .second_button
            //-             button.cancel_btn.dl_btn_small(ng-cloak ng-click="dealProvoke('#{campaign.campaign_unit[0].team._id}',3)") 取消

            //-   .info_container(class="#{helper.twoUnit('twoUnit')}")
            //-     if !isWaitingReply
            //-       .notice(class="#{helper.start('isStart')}")
            //-         span.title 最新公告
            //-         if notice
            //-           p.main_text #{notice.content}
            //-           p.text.date #{moment(notice.post_date).format('YYYY-MM-DD HH:mm')}
            //-         else
            //-           p.main_text 没有最新公告
            //-         form.publish(ng-if="editing" name="noticeForm" ng-cloak)
            //-           input.notice_text(type="text" name="notice" ng-model="notice.content" placeholder="{{notice.placeholder}}" ng-focus="notice.placeholder=''" ng-blur="notice.placeholder = notice.placeholderText" mix-maxlength="280" required)
            //-           button.publish_button(ng-click="publishNotice()" ng-disabled="noticeForm.notice.$invalid") 发新公告

            .unit_container.clearfix
              .unit(ng-repeat="unit in campaign.units")
                a(ng-href="{{unit.link}}" target="_blank")
                  img.logo(ng-src="{{unit.logo}}" title="{{unit.name}}")
                span.name {{unit.name}}
            .notice_container
              .notice
                span.title 最新公告
                if notice
                  p.main_text #{notice.content}
                  p.text.date #{moment(notice.post_date).format('YYYY-MM-DD HH:mm')}
                else
                  p.main_text 没有最新公告
                form.publish(ng-if="editingNotice" name="noticeForm" ng-cloak)
                  input.notice_text(type="text" name="notice" ng-model="notice.content" placeholder="{{notice.placeholder}}" ng-focus="notice.placeholder=''" ng-blur="notice.placeholder = notice.placeholderText" mix-maxlength="280" required)
                  button.publish_button(ng-click="publishNotice()" ng-disabled="noticeForm.notice.$invalid") 发新公告
            .operator_container
              button.operator_button.join 参加

        .component.detail_card(ng-cloak)
          .component_head
            img.icon.left.first(src="/img/map-pin-circle.png")
            span.title.left 活动信息
            img.icon.right.last(src="/img/map-pin-circle.png")
            img.icon.right(ng-if="!editingDetail" ng-click="toggleEdit()" src="/img/map-pin-circle.png" ng-cloak)
            span.title.save.right(ng-if="editingDetail" ng-click="save()" ng-disabled="detailForm.content.$invalid" ng-cloak) 保存
            span.title.cancel.right(ng-if="editingDetail" ng-click="toggleEdit()" ng-cloak) 取消
          .component_body
            .detail_show(ng-if="!editingDetail" ng-cloak)
              .text_dark(ng-if="campaign.theme") 活动主题：{{campaign.theme}}
              .text_dark(ng-if="campaign.mold") 活动类型：{{campaign.mold}}
              .text_dark(ng-if="campaign.start_time") 开始时间：{{campaign.start_time | date:'yyyy-MM-dd HH:mm'}}
              .text_dark(ng-if="campaign.end_time") 结束时间：{{campaign.end_time | date:'yyyy-MM-dd HH:mm'}}
              .text_dark(ng-if="campaign.location.name") 活动地点：{{campaign.location.name}}
              .text_dark.clearfix
                span.pull-left 活动简介：
                span.pull-left(ng-if="!campaign.content || campaign.content === ''") 无
                .campaign_intro(ng-if="campaign.content" ng-cloak)!= campaign.content
              .text_dark(ng-if="campaign.tags.length > 0") 活动标签：
                .tags
                  span.tag(ng-repeat="tag in campaign.tags") {{tag}}
              .text_dark
                span(ng-if="!campaign.isDeadline") 距报名截止还有：
                span.deadline_countdown(count-down target="campaign.deadline" end-text="报名已截止" is-end="campaign.isDeadline")
              .text_dark(ng-if="campaign.member_max") 报名人数上限：
                .progress
                  .progress-bar(role="progressbar" aria-valuenow="{{campaign.joinCount}}" aria-valuemin="0" aria-valuemax="{{campaign.member_max}}" style="width: {{campaign.joinCount*100/campaign.member_max}}%")
                span {{campaign.joinCount}}/{{campaign.member_max}}
              .text_dark(ng-if="campaign.member_min") 最少报名人数：{{campaign.member_min}}
            form.detail_editing(ng-show="editingDetail" name="detailForm" ng-cloak)
              .text_dark.clearfix
                span.pull-left.span_intro 活动简介：
                .detail_editor.pull-left.detail_input
                  #campaignDetailToolBar
                  #campaignDetail.markdownContainer(name="content" ng-model="modelData.content" contenteditable mix-maxlength=4000)
              .text_dark.clearfix
                span.pull-left 活动标签：
                input.detail_input#taginput(name="tags" type="text" ng-model="modelData.tags")
              .text_dark.clearfix
                span.pull-left 报名截止：
                .input-group.date.form_datetime.pull-left#deadline
                  input.detail_input(type="text" ng-model="modelData.deadline" data-data-format="YYYY-MM-DD HH:mm" readonly)
                  span.input-group-addon.no_radius
                    span.glyphicon.glyphicon-calendar
              .text_dark
                span 报名人数上限：
                .progress
                  .progress-bar(role="progressbar" aria-valuenow="{{campaign.joinCount}}" aria-valuemin="0" aria-valuemax="{{campaign.member_max}}" style="width: {{campaign.joinCount*100/modelData.member_max}}%")
                span {{campaign.joinCount}}/
                input.detail_input.member_max(type="number" ng-model="modelData.member_max" ng-min="{{modelData.member_min}}")
              .text_dark.clearfix
                span 最少报名人数：
                input.detail_input.member_min(type="number" ng-model="modelData.member_min" ng-max="{{modelData.member_max}}")
                span 人
                span.close_campaign.pull-right(ng-click="cancel()")
                  img.icon_close(src="/img/warning.png")
                  | 关闭活动


        if components.RichComment
          rich-comment(component-id="#{components.RichComment[0]}" allow-publish="#{allow.publishComment&&isActive}")

      .panel_divider

      .side_panel

        .component.map_card(class="#{helper.start('order-2')} #{helper.end('order-5')}")
          .component_head
            img.component_logo(src="/img/map-pin-circle.png")
            span.title 活动地点
            if campaign.location.coordinates.length==2
              a.head_button(href="http://mo.amap.com/?q=#{campaign.location.coordinates[1]},#{campaign.location.coordinates[0]}&name=#{campaign.location.name}" target="_blank") 大图
          .component_body
            if campaign.location.coordinates.length==2
              a(href="http://mo.amap.com/?q=#{campaign.location.coordinates[1]},#{campaign.location.coordinates[0]}&name=#{campaign.location.name}" target="_blank")
                img.img-responsive(src="http://restapi.amap.com/v3/staticmap?location=#{campaign.location.coordinates[0]},#{campaign.location.coordinates[1]}&zoom=15&size=240*180&markers=mid,,A:#{campaign.location.coordinates[0]},#{campaign.location.coordinates[1]}&labels=#{campaign.location.name.replace(/ /g, '')},2,0,12,0xffffff,0x3498db:#{campaign.location.coordinates[0]},#{campaign.location.coordinates[1]}&key=077eff0a89079f77e2893d6735c2f044")
            else
              img.img-responsive(src="/img/icons/nomap.jpg")

        .component.member_card(class="#{helper.start('order-3')} #{helper.end('order-4')}")
          .component_head
            img.component_logo(src="/img/people-general.png")
            span.title 活动成员(#{campaign.members.length})
            button.head_button(data-toggle="modal" data-target="#memberListModal") 查看
          if membersForCard.length
            .component_body
              .member_list(bs-popover)
                each member in membersForCard
                  img.member(src="#{member.photo}/32/32" ng-Mouseenter="showUserCard('#{member._id}','#{member._id}member_card')" id='pop#{member._id}member_card' rel='popover')

        if components.ScoreBoard && isStart
          each scoreBoard in components.ScoreBoard
            score-board(component-id="#{scoreBoard}" class="#{helper.start('order-1')} #{helper.end('order-1')}")

        if isStart
          .component.brief_card(class="#{helper.start('order-1')} #{helper.end('order-2')}")
            .component_head
              span.title 活动信息
              button.head_button(ng-click="showDetailModal()") 详情
            .component_body
              p.text 开始: #{moment(campaign.start_time).format('YYYY-MM-DD HH:mm ddd')}
              p.text 结束: #{moment(campaign.end_time).format('YYYY-MM-DD HH:mm ddd')}
              p.text 地点: #{campaign.location.name}
              p.text 类型: #{campaign.campaign_mold}

    #campaign_data(data-id="#{campaign._id}")

    .member_modal.modal.fade#memberListModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      .modal-dialog
        .modal-content
          .component
            .component_head
              img.component_logo(src="/img/people-general.png")
              span.title 活动成员&nbsp;(#{campaign.members.length})
              button.close.dl_close(data-dismiss="modal" aria-hidden="true")
                img.icon_close(src="/img/icons/icon_close.png")
            .component_body
              if campaign.campaign_unit.length > 1
                .unit_panel
                  ul.unit_list(role="tablist")
                    - var i = 0;
                    each unit in campaign.campaign_unit
                      if i === 0
                        li.unit.active
                          a.tab(href="##{unit.team._id}" role="tab" data-toggle="tab") #{unit.team.name}
                      else
                        li.unit
                          a.tab(href="##{unit.team._id}" role="tab" data-toggle="tab") #{unit.team.name}
                      - i++;
                .tab-content
                  - var i = 0;
                  each unit in campaign.campaign_unit
                    if i === 0
                      .member_list.fade.in.active.tab-pane(id="#{unit.team._id}" bs-popover)
                        each member in unit.member
                          .member(ng-Mouseenter="showUserCard('#{member._id}','#{member._id}')" id='pop#{member._id}' rel='popover')
                            img.photo(src="#{member.photo}/57/57")
                            span.nickname #{member.nickname}
                    else
                      .member_list.fade.tab-pane(id="#{unit.team._id}" bs-popover)
                        each member in unit.member
                          .member(ng-Mouseenter="showUserCard('#{member._id}','#{member._id}')" id='pop#{member._id}' rel='popover')
                            img.photo(src="#{member.photo}/57/57")
                            span.nickname #{member.nickname}
                    - i++;
              else
                .member_list(bs-popover)
                  each member in campaign.campaign_unit[0].member
                    .member(ng-Mouseenter="showUserCard('#{member._id}','#{member._id}')" id='pop#{member._id}' rel='popover')
                      img.photo(src="#{member.photo}/57/57")
                      span.nickname #{member.nickname}

    .detail_modal.modal.fade#campaignDetailModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      .modal-dialog
        .modal-content
          .component
            .component_head
              span.title 活动信息
              button.close.dl_close(data-dismiss="modal" aria-hidden="true")
                img.icon_close(src="/img/icons/icon_close.png")
            .component_body
              .base_info
                h4.title
                  if campaign.campaign_unit.length === 1
                    | #{campaign.campaign_unit[0].team.name||campaign.campaign_unit[0].company.name}
                  if campaign.campaign_unit.length === 2
                    | #{campaign.campaign_unit[0].team.name}
                    | &nbsp;vs&nbsp;
                    | #{campaign.campaign_unit[1].team.name}
                  | &nbsp;-&nbsp;#{campaign.theme}
                .info
                  .logo_container
                    each unit in campaign.campaign_unit
                      .unit
                        img.logo(src="#{unit.team.logo || unit.company.logo}/80/80" title="#{unit.team.name || unit.company.name}")
                        p.main_text #{unit.team.name || unit.company.name}
                  .campaign_info
                    p.main_text 开始时间: #{moment(campaign.start_time).format('YYYY-MM-DD HH:mm')}
                    p.main_text 结束时间: #{moment(campaign.end_time).format('YYYY-MM-DD HH:mm')}
                    p.main_text 活动地点: #{campaign.location.name}
                    p.main_text 活动类型: #{campaign.campaign_mold}
              .more_info
                if campaign.content
                  .clearfix
                    h4.title.pull-left 活动简介
                    a.title.pull-right(ng-if="canUnFold" ng-click="toggleFold()" ng-clock) {{baseContent ? '展开' : '收起'}}
                  .text_container
                    .text#campaign_intro(ng-class="{'base_content': baseContent}")!= campaign.content
                    .base_content_gradient(ng-show="canUnFold&&baseContent" ng-click="toggleFold()")
                if campaign.tags && campaign.tags.length > 0
                  h4.title 活动标签
                  .tags
                    each tag in campaign.tags
                      span.tag #{tag}
                if campaign.member_max || campaign.member_min || campaign.deadline
                  h4.title 报名信息
                if campaign.member_max
                  .text
                    span.sub_title 报名人数上限:
                    .progress
                      .progress-bar(role="progressbar" aria-valuenow="#{campaign.members.length}" aria-valuemin="0" aria-valuemax="#{campaign.member_max}" style="width: #{campaign.members.length*100/campaign.member_max}%")
                    span #{campaign.members.length}/#{campaign.member_max}
                if campaign.member_min
                  p.text
                    span.sub_title 报名人数下限:
                    span #{campaign.member_min}人
                if campaign.deadline
                  p.text
                    span.sub_title 报名截止时间:
                    span #{moment(campaign.deadline).format('YYYY-MM-DD HH:mm')}


append footExt
  script(src="/js/directives/count_down.js")
  script(src="/js/bootstrap-tagsinput.js")
  script(src="/lib/pen/src/pen.js")
  script(src="/lib/pen/src/markdown.js")
  script(src="/js/controllers/campaign.js")

