extends ../layouts/user_base

append headExt
  link(rel="stylesheet" href="/lib/pen/src/pen.css")

block contentExt
  .campaign_detail.dl_container(report-contain ng-controller="campaignController")
    include ../partials/breadcrumb
    +breadcrumb(links)
    .campaign_panel
      .main_panel
        .component.base_card
          .component_head(ng-class="{competition: campaign.units.length >= 2}")
            span.title.left.first #{campaign.theme}
            span.sub_title.left(ng-cloak) #{campaign.campaign_unit[0].team.name || campaign.campaign_unit[0].company.name}
            span.title.right.last(ng-if="campaign.isStart === false && campaign.isActive" ng-init="startCal=false" ng-show="startCal" ng-cloak)
              span(count-down target="campaign.start_time" start-cal="startCal" is-end="campaign.isStart" ng-cloak)
              span.count_down_remind &nbsp;后开始
            span.title.right.last(ng-if="campaign.isStart && !campaign.isEnd && campaign.isActive" ng-cloak) 活动正在进行中
            span.title.right.last(ng-if="campaign.isEnd && campaign.isActive" ng-cloak) 活动已结束
            span.title.right.last(ng-if="campaign.isActive===false" ng-cloak) 活动已关闭
          .component_body
            .unit_container.clearfix
              .unit(ng-repeat="unit in campaign.units" ng-cloak)
                a(ng-href="{{unit.link}}" target="_blank")
                  img.logo(ng-src="{{unit.logo}}" title="{{unit.name}}")
                span.name(title="{{unit.name}}") {{unit.name}}
            .notice_container
              form.publish(name="noticeForm")
                span.title 最新公告
                span.dl_icons.info_edit_blue.edit(ng-if="allow.edit && !editingNotice" title="发新公告" ng-click="togglePublishNotice()" ng-cloak)
                span.save(ng-click="publishNotice()" ng-if="editingNotice && noticeForm.notice.$valid" ng-cloak) 保存
                span.cancel(ng-click="togglePublishNotice()" ng-if="editingNotice" ng-cloak) 取消
                textarea.notice_text(ng-if="editingNotice" name="notice" ng-model="notice.content" placeholder="{{notice.placeholder}}" ng-focus="notice.placeholder=''" ng-blur="notice.placeholder = notice.placeholderText" mix-maxlength="280" ng-cloak required)
                p.notice_error(ng-if="editingNotice && noticeForm.notice.$error.mixlength" ng-cloak) 公告字数请控制在140字以内
              .notices(ng-cloak)
                .notice(ng-if="notices.length > 0 && !unfoldNotice")
                  p.main_text {{notices[0].content}}
                  p.text.date {{notices[0].post_date | date:'yyyy-MM-dd HH:mm'}}
                .notice(ng-if="notices.length > 0 && unfoldNotice" ng-repeat="notice in notices")
                  p.main_text {{notice.content}}
                  p.text.date {{notice.post_date | date:'yyyy-MM-dd HH:mm'}}
                .toggle_fold(ng-if="!unfoldNotice && notices.length>1" ng-click="toggleFoldNotice()") 展开历史记录
                .toggle_fold(ng-if="unfoldNotice && notices.length>1" ng-click="toggleFoldNotice()") 收起历史记录
                p.main_text(ng-if="notices.length === 0") 没有最新公告
            .operator_container
              button.operator_button.join(ng-if="campaign.isActive && !campaign.isWaitingReply && !campaign.isDeadline && allowJoinUnits.length>0 && !campaign.isJoin && !campaign.isEnd" ng-click="openJoinModal()" ng-cloak) 参加
              button.operator_button.quit(ng-if="campaign.isActive && !campaign.isWaitingReply && campaign.isJoin && !campaign.isEnd" ng-click="quit()" ng-cloak) 退出
              button.operator_button.access(ng-if="campaign.isActive && campaign.isWaitingReply && allow.response" ng-click="dealProvoke(campaign.units[1].tid, 1)" ng-cloak) 接受
              button.operator_button.refuse(ng-if="campaign.isActive && campaign.isWaitingReply && allow.response" ng-click="dealProvoke(campaign.units[1].tid, 2)" ng-cloak) 拒绝
              button.operator_button.cancel(ng-if="campaign.isActive && campaign.isWaitingReply && allow.cancel" ng-click="dealProvoke(campaign.units[0].tid, 3)" ng-cloak) 取消

        .component.detail_card(ng-cloak ng-show="!campaign.isEnd" ng-init="editingDetail=#{editing}")
          .component_head
            span.icon.left.first
              i.fa.fa-bars
            span.title.left 活动信息
            span.dl_icons.icon_img.right.last.op_icon.icon_unfold(title="展开" ng-if="detailFold" ng-click="toggleFoldDetail()")
            span.dl_icons.icon_img.right.last.op_icon.icon_fold(title="收起" ng-if="!detailFold" ng-click="toggleFoldDetail()")
            span.dl_icons.icon_img.right.op_icon.info_edit(title="编辑" ng-if="campaign.isActive && !editingDetail && allow.edit" ng-click="toggleEdit()" ng-cloak)
            span.title.save.right(ng-if="editingDetail" ng-click="save()" ng-cloak) 保存
            span.title.cancel.right(ng-if="editingDetail" ng-click="toggleEdit()" ng-cloak) 取消
          .component_body(ng-show="!detailFold")
            .detail_show(ng-if="!editingDetail" ng-cloak)
              .text_dark(ng-if="campaign.theme") 活动主题：{{campaign.theme}}
              .text_dark(ng-if="campaign.mold") 活动类型：{{campaign.mold}}
              .text_dark(ng-if="campaign.start_time") 开始时间：{{campaign.start_time | date:'yyyy-MM-dd HH:mm'}}
              .text_dark(ng-if="campaign.end_time") 结束时间：{{campaign.end_time | date:'yyyy-MM-dd HH:mm'}}
              .text_dark(ng-if="campaign.location.name") 活动地点：{{campaign.location.name}}
              .text_dark.clearfix
                span.pull-left 活动简介：
                span.pull-left(ng-if="!campaign.content || campaign.content === ''") 无
                .campaign_intro(ng-if="campaign.content" ng-bind-html="campaign.contentHTML" ng-cloak)
              .text_dark(ng-if="campaign.tags.length > 0") 活动标签：
                .tags
                  span.tag(ng-repeat="tag in campaign.tags") {{tag}}
              .text_dark
                span(ng-if="!campaign.isDeadline") 距报名截止还有：
                span.deadline_countdown(count-down target="campaign.deadline" end-text="报名已截止" is-end="campaign.isDeadline")
              .text_dark(ng-if="campaign.member_max") 报名人数上限：
                .progress
                  .progress-bar(role="progressbar" aria-valuenow="{{campaign.joinCount}}" aria-valuemin="0" aria-valuemax="{{campaign.member_max}}" style="width: {{campaign.joinCount*100/campaign.member_max}}%")
                span {{campaign.joinCount}}/{{campaign.member_max}}
              .text_dark(ng-if="campaign.member_min") 最少报名人数：{{campaign.member_min}}
            form.detail_editing(ng-show="editingDetail && allow.edit" name="detailForm" ng-cloak)
              .text_dark.clearfix
                span.pull-left.span_intro 活动简介：
                .detail_editor.pull-left.detail_input
                  #campaignDetailToolBar
                  #campaignDetail.markdownContainer(name="content" ng-model="modelData.content" contenteditable mix-maxlength=4000)
              p.error(ng-if="detailForm.content.$invalid") 活动简介不能超过2000字。
              .text_dark.clearfix
                span.pull-left 活动标签：
                input.detail_input#taginput(name="tags" type="text" ng-model="modelData.tags")
              .text_dark.clearfix(ng-show="!campaign.isEnd")
                span.pull-left 报名截止：
                .input-group.date.form_datetime.pull-left#deadline
                  input.detail_input(type="text" ng-model="modelData.deadline" data-data-format="YYYY-MM-DD HH:mm" readonly)
                  span.input-group-addon.no_radius
                    span.glyphicon.glyphicon-calendar
              .text_dark(ng-if="!campaign.isEnd")
                span 报名人数上限：
                .progress
                  .progress-bar(role="progressbar" aria-valuenow="{{campaign.joinCount}}" aria-valuemin="0" aria-valuemax="{{campaign.member_max}}" style="width: {{campaign.joinCount*100/modelData.member_max}}%")
                span {{campaign.joinCount}}/
                input.detail_input.member_max(type="number" ng-model="modelData.member_max" ng-min="{{modelData.member_min}}")
              .text_dark.clearfix(ng-if="!campaign.isEnd")
                span 最少报名人数：
                input.detail_input.member_min(type="number" ng-model="modelData.member_min" ng-max="{{modelData.member_max}}")
                span 人
                span.close_campaign.pull-right(ng-click="cancel()")
                  i.fa.fa-exclamation-triangle
                  | 关闭活动


        if components.RichComment && isActive
          rich-comment(component-id="#{components.RichComment[0]}" allow-publish="#{allow.publishComment&&isActive}")

      .panel_divider

      .side_panel

        .component.map_card(class="#{helper.start('order-2')} #{helper.end('order-5')}")
          .component_head
            i.icon_img.left.first.fa.fa-map-marker.fa-lg
            span.title.left 活动地点
            if campaign.location.coordinates.length==2
              a.right.last(title="查看大图" href="http://mo.amap.com/?q=#{campaign.location.coordinates[1]},#{campaign.location.coordinates[0]}&name=#{campaign.location.name}" target="_blank")
                i.fa.fa-chevron-circle-right.fa-lg.icon_img
          .component_body
            if campaign.location.coordinates.length==2
              a(href="http://mo.amap.com/?q=#{campaign.location.coordinates[1]},#{campaign.location.coordinates[0]}&name=#{campaign.location.name}" target="_blank")
                img.img-responsive(src="http://restapi.amap.com/v3/staticmap?location=#{campaign.location.coordinates[0]},#{campaign.location.coordinates[1]}&zoom=15&size=240*180&markers=mid,,A:#{campaign.location.coordinates[0]},#{campaign.location.coordinates[1]}&labels=#{campaign.location.name.replace(/ /g, '')},2,0,12,0xffffff,0x3498db:#{campaign.location.coordinates[0]},#{campaign.location.coordinates[1]}&key=077eff0a89079f77e2893d6735c2f044")
            else
              img.img-responsive(src="/img/icons/nomap.jpg")

        if isActive
          .component.member_card(class="#{helper.start('order-3')} #{helper.end('order-3')}")
            .component_head
              span.icon_img.left.first.dl_icons.icon_users_relation
              span.title.left 成员
              span.icon.op_icon.right.last(title="查看所有成员" ng-click="openMemberModal()")
                i.fa.fa-angle-right
              span.title.right.count(ng-click="openMemberModal()") {{campaign.memberCount}}
            .component_body(ng-if="campaign.memberCount > 0")
              .member_list.clearfix(bs-popover)
                .member(ng-repeat="member in campaign.membersForCard")
                  .leader(ng-if="member.isLeader")
                  img.member_photo(ng-src="{{member.photo}}/32/32" ng-Mouseenter="showUserCard(member._id, member._id + 'member_card')" id='pop{{member._id}}member_card' rel='popover')

        if isActive
          .component.photo_album_card(class="#{helper.start('order-4')} #{helper.end('order-4')}")
            a.photo_wrap(href="/photoAlbum/#{campaign.photoAlbum._id}/detailView")
              i.fa.fa-chevron-circle-right.fa-3x.view
              p.text 影集
            if photo
              img(src="#{photo}/240/180")
            else
              img(src="/img/photo_album.png")

        if components.ScoreBoard && isStart && isActive
          each scoreBoard in components.ScoreBoard
            score-board(component-id="#{scoreBoard}" class="#{helper.start('order-1')} #{helper.end('order-1')}")

        if isActive
          .component.brief_card(ng-if="campaign.isEnd" class="#{helper.end('order-2')}")
            .component_head
              span.icon.left.first
                i.fa.fa-bars
              span.title.left 活动信息
              i.fa.fa-chevron-circle-right.fa-lg.icon_img.op_icon.right.last(title="查看详细" ng-click="showDetailModal()")
            .component_body
              p.text 开始: #{moment(campaign.start_time).format('YYYY-MM-DD HH:mm ddd')}
              p.text 结束: #{moment(campaign.end_time).format('YYYY-MM-DD HH:mm ddd')}
              p.text 地点: #{campaign.location.name}
              p.text 类型: #{campaign.campaign_mold}

    #campaign_data(data-id="#{campaign._id}")

    .member_modal.modal.fade#memberListModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      .modal-dialog
        .modal-content
          .component(ng-class="{'loading': !loadedMembers }")
            .component_head
              span.icon_img.left.first.dl_icons.icon_users_relation
              span.title.left 活动成员&nbsp;(#{campaign.members.length})
              span.icon.op_icon.right.last(data-dismiss="modal" aria-hidden="true")
                i.fa.fa-times
            .component_body
              div(ng-if="memberModalUnits.length > 1")
                .unit_panel
                  ul.unit_list(role="tablist")
                    li.unit(ng-repeat="unit in memberModalUnits" ng-class="{'active': $index===memberModalTabIndex}" ng-click="selectTab($index)")
                      a.tab {{unit.name}}
                .tab-content
                  .member_list.fade.tab-pane(ng-repeat="unit in memberModalUnits" ng-class="{'active': $index===memberModalTabIndex, 'in': $index===memberModalTabIndex}" bs-popover)
                    .member(ng-repeat="member in unit.members" ng-Mouseenter="showUserCard(member._id, member._id)" id='pop{{member._id}}' rel='popover')
                      img.photo(ng-src="{{member.photo}}/57/57")
                      span.nickname {{member.nickname}}
              .member_list(ng-if="memberModalUnits.length === 1" bs-popover)
                .member(ng-repeat="member in memberModalUnits[0].members" ng-Mouseenter="showUserCard(member._id,member._id)" id='pop{{member._id}}' rel='popover')
                  img.photo(ng-src="{{member.photo}}/57/57")
                  span.nickname {{member.nickname}}

    .detail_modal.modal.fade#campaignDetailModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      .modal-dialog
        .modal-content
          .component
            .component_head
              span.icon.left.first
                i.fa.fa-bars
              span.title.left 活动信息
              span.icon.op_icon.right.last(data-dismiss="modal" aria-hidden="true")
                i.fa.fa-times
            .component_body
              .base_info
                h4.title
                  if campaign.campaign_unit.length === 1
                    | #{campaign.campaign_unit[0].team.name||campaign.campaign_unit[0].company.name}
                  if campaign.campaign_unit.length === 2
                    | #{campaign.campaign_unit[0].team.name}
                    | &nbsp;vs&nbsp;
                    | #{campaign.campaign_unit[1].team.name}
                  | &nbsp;-&nbsp;#{campaign.theme}
                .info
                  .logo_container
                    each unit in campaign.campaign_unit
                      .unit
                        img.logo(src="#{unit.team.logo || unit.company.logo}/70/70" title="#{unit.team.name || unit.company.name}")
                        p.main_text #{unit.team.name || unit.company.name}
                  .campaign_info
                    p.main_text 开始时间: #{moment(campaign.start_time).format('YYYY-MM-DD HH:mm')}
                    p.main_text 结束时间: #{moment(campaign.end_time).format('YYYY-MM-DD HH:mm')}
                    p.main_text 活动地点: #{campaign.location.name}
                    p.main_text 活动类型: #{campaign.campaign_mold}
              .more_info
                if campaign.content
                  .clearfix
                    h4.title.pull-left 活动简介
                    a.title.pull-right.unfold(ng-if="canUnFold" ng-click="toggleFold()" ng-clock) {{baseContent ? '展开' : '收起'}}
                  .text_container
                    .text#campaign_intro(ng-class="{'base_content': baseContent}")!= campaign.content
                    .base_content_gradient(ng-show="canUnFold&&baseContent" ng-click="toggleFold()")
                if campaign.tags && campaign.tags.length > 0
                  h4.title 活动标签
                  .tags
                    each tag in campaign.tags
                      span.tag #{tag}
                if campaign.member_max || campaign.member_min || campaign.deadline
                  h4.title 报名信息
                if campaign.member_max
                  .text
                    span.sub_title 报名人数上限:
                    .progress
                      .progress-bar(role="progressbar" aria-valuenow="#{campaign.members.length}" aria-valuemin="0" aria-valuemax="#{campaign.member_max}" style="width: #{campaign.members.length*100/campaign.member_max}%")
                    span #{campaign.members.length}/#{campaign.member_max}
                if campaign.member_min
                  p.text
                    span.sub_title 报名人数下限:
                    span #{campaign.member_min}人
                if campaign.deadline
                  p.text
                    span.sub_title 报名截止时间:
                    span #{moment(campaign.deadline).format('YYYY-MM-DD HH:mm')}

    .join_modal.modal.fade#joinModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      .modal-dialog
        .modal-content
          .component
            .component_head
              span.icon.op_icon.right.last(data-dismiss="modal" aria-hidden="true")
                i.fa.fa-times
            .component_body
              p.remind 您同时参加了多个小队，请选择其中一个参加比赛：
              .unit_box.clearfix(ng-cloak)
                .unit.clearfix(ng-repeat="unit in allowJoinUnits")
                  img.logo(ng-src="{{unit.logo}}")
                  span.name(title="{{unit.name}}") {{unit.name}}
                  button.join(ng-click="join(unit.cid, unit.tid)") 参加这个小队
    report-modal
append footExt
  script(src="/js/controllers/campaign.js")

