extends ../layouts/user_base

append headExt
  link(rel="stylesheet" href="/css/photo_album.css")
  link(rel="stylesheet" href="/css/campaign_detail.css")

block contentExt
  .dl_detail_container.clearfix(ng-controller="campaignController")
    .dl_detail_main
      ul.nav.nav-tabs
        li.tab_style(ng-class="{'active':nowTab=='campaign'}")
          a.subtitle.no_radius.border_red {{campaign.theme}}
      .dl_detail_border.clearfix
        .dl_detail_content
          .dl_detail_row
            .dl_detail_label
              span {{"CAMPAIGN"|translate}}{{"PLACE"|translate}}{{"LOCATION"|translate}}:
            .dl_detail_detail
              span {{campaign.location.name}}
          .dl_detail_row
            .dl_detail_label
              span {{"CAMPAIGN"|translate}}{{"START_TIME"|translate}}:
            .dl_detail_detail
              span {{campaign.start_time | date:'yyyy-MM-dd HH:mm'}} {{campaign.start_time | week }}
          .dl_detail_row
            .dl_detail_label
              span {{"CAMPAIGN"|translate}}{{"END_TIME"|translate}}:
            .dl_detail_detail
              span {{campaign.end_time | date:'yyyy-MM-dd HH:mm'}} {{campaign.end_time | week }}
          .dl_detail_row
            .dl_detail_label
              span {{"LEAST"|translate}}{{"ENTRY"|translate}}{{"SUM"|translate}}:
            .dl_detail_detail
              span {{campaign.member_min}}
          .dl_detail_row
            .dl_detail_label
              span {{"ENTRY"|translate}}{{"SUM"|translate}}{{"LIMIT"|translate}}:
            .dl_detail_detail
              span {{campaign.member_max}}
          .dl_detail_row
            .dl_detail_label
              span {{"ENTRY"|translate}}{{"DEADLINE"|translate}}:
            .dl_detail_detail
              span {{campaign.deadline| date:'yyyy-MM-dd HH:mm'}} {{campaign.deadline | week }}
        .dl_detail_aside
            img.img_contain.size_128(ng-src="{{campaignLogo}}")
        .dl_detail_content2
          .dl_detail_row
            .dl_detail_label
              span {{"CAMPAIGN"|translate}}{{"SIMPLE"|translate}}{{"INTRODUCTION"|translate}}:
            .dl_detail_detail
              span.dl_word_break {{campaign.content}}
           if ((Global.role==='EMPLOYEE' &&  campaign.gid === 0) || Global.role==='OWNER' || Global.role ==='LEADER' || Global.role ==='MEMBER')
            div.margin_top_30(ng-if="campaign.active && !campaign.over")
              input.dl_btn.dl_btn_detail(type = "button" value = "{{'QUIT'|translate}}{{'CAMPAIGN'|translate}}" ng-click="quitCampaign()" ng-if="join")
              input.dl_btn.dl_btn_detail(type = "button" value = "{{'ENTRY'|translate}}{{'JOIN'|translate}}" ng-click="joinCampaign()" ng-if="!join")
      //-成员
      .dl_detail_member
        p.subtitle {{"JOIN"|translate}}{{"MEMBER"|translate}}:
        div.member(ng-repeat = "_member in campaign.member", title="{{_member.nickname}}")
          a.item(href="/users/home/{{_member.uid}}")
            img.img_contain.detail_photo(ng-src="{{_member.photo}}" title="{{_member.nickname}}")
            span.name {{_member.nickname}}
        span.info_label(ng-if="!campaign.member.length") 该活动还没有人参加哦!
      .dl_detail_main
        p.subtitle {{"I"|translate}}{{"WANT"|translate}}{{"LEAVEMESSAGE"|translate}}
        textarea.dl_modal_input.form-control(rows="3" name="content" ng-model="new_comment.text" ng-change="judge()" required)
        button.dl_btn.pull-right.dl_btn_submit(ng-click="comment()") {{"SUBMIT"|translate}}{{"LEAVEMESSAGE"|translate}}
        .dl_row
          section
            br
            div.comment.clearfix(ng-repeat="comment in comments")
              .comment_user_info
                img.user_photo.size_56(ng-src="{{comment.poster.photo}}")
                p
                  a.user_name(href="/users/home/{{comment.poster._id}}") {{comment.poster.nickname}}
              .comment_content_panel
                .relative
                  .triangle_border
                  .triangle
                  .comment_content
                    p {{comment.content}}
                label.comment_date.text {{comment.create_date | date:'yyyy-MM-dd HH:mm'}}
                label.comment_date.text.pull-right {{comment.index}}
    .dl_detail_side
      p.subtitle {{"CAMPAIGN"|translate}}{{"LOCATION"|translate}}
        #mapContainer.size_400
      if (Global.role!=='PARTNER')
        p.subtitle.clearfix {{"CAMPAIGN"|translate}}{{"WONDERFUL"|translate}}{{"PHOTO"|translate}}
          a.dl_btn.dl_btn_upload.pull-right(href="/photoAlbumDetailView/#{campaign.photo_album._id}") 上传活动照片
        .photo_album
          each photo in photo_thumbnails
            a.thumbnail_cell(href="/photoView/#{campaign.photo_album._id}/#{photo._id}")
              img.thumbnail_img.img-thumbnail(src="#{photo.thumbnail_uri}")
              p.thumbnail_name.text-center= photo.name

append footExt
  script(src="/js/controllers/campaign.js")
append bottomExt
  script(src="http://api.map.baidu.com/api?v=2.0&ak=krPnXlL3wNORRa1KYN1RAx3c")

