extends ../layouts/user_base

append headExt
  link(rel="stylesheet" href="/css/campaign_detail.css")
  link(rel="stylesheet" href="/css/bootstrap-tagsinput.css")
  link(rel="stylesheet" href="/lib/pen/src/pen.css")

block contentExt
  .campaign_detail.dl_container(ng-controller="campaignController")
    include ../partials/breadcrumb
    +breadcrumb(links)
    .campaign_panel
      .main_panel
        .component.detail_card
          .component_head
            span.title #{campaign.theme}
            span.sub_title #{campaign.campaign_unit[0].team.name || campaign.campaign_unit[0].company.name}
            if allow.edit && isActive && !isEnd
              span.sub_title.right_title.operator(ng-click="toggleEdit()") 编辑
            if !isEnd && isActive
              span.sub_title.right_title.operator(ng-if="isJoin" ng-click="quit()") 退出
            if isStart && !isEnd && isActive
              span.title.right_title.starting_title 活动正在进行中
            if isEnd && isActive
              span.sub_title.right_title 活动已结束
            if !isActive
              span.sub_title.right_title 活动已关闭
          .component_body
            .base_info(class="#{helper.multiUnit('multi_team')}")
              .logo_container
                each unit in campaign.campaign_unit
                  .unit
                    img.logo(src="#{unit.team.logo || unit.company.logo}/80/80")
                    if isActive && !isEnd && unit.canjoin 
                        if unit.team._id
                          button.join(ng-cloak ng-show="!isJoin" ng-click="join('#{unit.company._id}', '#{unit.team._id}')") 参加
                        else
                          button.join(ng-cloak ng-show="!isJoin" ng-click="join('#{unit.company._id}')") 参加

              .info_container
                if !isStart
                  .start_info
                    .campaign_info
                      p.main_text 开始时间: #{moment(campaign.start_time).format('YYYY-MM-DD HH:mm')}
                      p.main_text 结束时间: #{moment(campaign.end_time).format('YYYY-MM-DD HH:mm')}
                      p.main_text 活动地点: #{campaign.location.name}
                      p.main_text 活动类型: #{campaign.campaign_mold}
                    .time_info
                      p.text 距活动开始还有
                      p.remind(count-down="#{campaign.start_time}")
                .notice
                  p: span.title 最新公告
                  if notice
                    p.main_text #{notice.content}
                    p.text #{moment(notice.post_date).format('YYYY-MM-DD HH:mm')}
                  else
                    p.main_text 没有最新公告
            .more_info(ng-show="!isStart||editing")
              h4.title 活动简介
              .text(ng-show="!editing")!= campaign.content
              div(ng-show="editing")
                #campaignDetailToolBar
                #campaignDetail.markdownContainer(name="content" ng-init="campaignData.content='#{campaign.content||''}'" ng-model="campaignData.content" contenteditable mix-maxlength=4000 required)
              h4.title 活动标签
              .tags(ng-show="!editing")
                each tag in campaign.tags
                  span.tag #{tag}
              div(ng-show="editing")
                input.detail_input#taginput(name="tags" type="text" ng-blur="getTags()" ng-init="campaignData.tags='#{campaign.tags||''}'" ng-model="campaignData.tags" data-role="tagsinput")
              h4.title 报名信息
              if campaign.member_max
                .text(ng-if="!editing")
                  span.sub_title 报名人数上限:
                  .progress
                    .progress-bar(role="progressbar" aria-valuenow="#{campaign.members.length}" aria-valuemin="0" aria-valuemax="#{campaign.member_max}" style="width: #{campaign.members.length*100/campaign.member_max}%")
                  span #{campaign.members.length}/#{campaign.member_max}
              .text.editing(ng-init="campaignData.member_max=#{campaign.member_max||0}" ng-if="editing")
                span.sub_title.line_text 报名人数上限:
                input.detail_input.people_count(type="number" ng-model="campaignData.member_max")
                span.line_text 人 (到达后停止报名)
              if campaign.member_min
                p.text(ng-if="!editing")
                  span.sub_title 报名人数下限:
                  span #{campaign.member_min}人
              .text.editing(ng-init="campaignData.member_min=#{campaign.member_min||0}" ng-if="editing")
                span.sub_title.line_text 报名人数下限:
                input.detail_input.people_count(type="number" ng-model="campaignData.member_min")
                span.line_text 人 (报名截止前未达最少人数，您将收到提醒)
              if campaign.deadline
                p.text(ng-show="!editing")
                  span.sub_title 报名截止时间:
                  span #{moment(campaign.deadline).format('YYYY-MM-DD HH:mm')}

              .deadline.text.editing(ng-show="editing")
                span.sub_title.line_text 报名截止时间:
                .input-group.date.form_datetime#deadline
                  input.detail_input(type="text" ng-init="campaignData.deadline='#{moment(campaign.deadline).format('YYYY-MM-DD HH:mm')}'" ng-model="campaignData.deadline" data-data-format="YYYY-MM-DD HH:mm" readonly)
                  span.input-group-addon.no_radius
                    span.glyphicon.glyphicon-th
                span.line_text 如果不选，默认为活动结束停止报名
              .operator(ng-if="editing")
                span.close_campaign(ng-click="cancel()")
                  img.icon_close(src="/img/warning.png")
                  | 关闭活动
                button.save(ng-click="save()") 保存
                button.cancel(ng-click="toggleEdit()") 取消

        rich-comment(component-id="#{components.RichComment[0]}" allow-publish="#{allow.publishComment&&isActive}")

      .panel_divider

      .side_panel

        .component.map_card(class="#{helper.start('order-2')} #{helper.end('order-5')}")
          .component_head
            img.component_logo(src="/img/map-pin-circle.png")
            span.title 活动地点
            if campaign.location.coordinates.length==2
              a.head_button(href="http://mo.amap.com/?q=#{campaign.location.coordinates[1]},#{campaign.location.coordinates[0]}&name=#{campaign.location.name}" target="_blank") 大图
          .component_body
            if campaign.location.coordinates.length==2
              a(href="http://mo.amap.com/?q=#{campaign.location.coordinates[1]},#{campaign.location.coordinates[0]}&name=#{campaign.location.name}" target="_blank")
                img.img-responsive(src="http://restapi.amap.com/v3/staticmap?location=#{campaign.location.coordinates[0]},#{campaign.location.coordinates[1]}&zoom=15&size=240*170&markers=mid,,A:#{campaign.location.coordinates[0]},#{campaign.location.coordinates[1]}&labels=#{campaign.location.name.replace(/ /g, '')},2,0,12,0xffffff,0x3498db:#{campaign.location.coordinates[0]},#{campaign.location.coordinates[1]}&key=077eff0a89079f77e2893d6735c2f044")
            else
              img.img-responsive(src="/img/icons/nomap.jpg")

        .component.member_card(class="#{helper.start('order-3')} #{helper.end('order-4')}")
          .component_head
            img.component_logo(src="/img/people-general.png")
            span.title 活动成员(#{campaign.members.length})
            button.head_button(data-toggle="modal" data-target="#memberListModal") 查看
          .component_body
            .member_list(bs-popover)
              each member in membersForCard
                img.member(src="#{member.photo}/32/32" ng-Mouseenter="showUserCard('#{member._id}','#{member._id}member_card')" id='pop#{member._id}member_card' rel='popover')

        if components.ScoreBoard
          each scoreBoard in components.ScoreBoard
            score-board(component-id="#{scoreBoard}" class="#{helper.start('order-1')} #{helper.end('order-1')}")

        if isStart
          .component.brief_card(class="#{helper.start('order-1')} #{helper.end('order-2')}")
            .component_head
              span.title 活动信息
              button.head_button 详情
            .component_body
              p.text 开始: #{moment(campaign.start_time).format('YYYY-MM-DD HH:mm ddd')}
              p.text 结束: #{moment(campaign.end_time).format('YYYY-MM-DD HH:mm ddd')}
              p.text 地点: #{campaign.location.name}
              p.text 类型: #{campaign.campaign_mold}

    #campaign_data(data-id="#{campaign._id}" data-start="#{isStart}" data-end="#{isEnd}" data-join="#{isJoin}")

    .member_modal.modal.fade#memberListModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      .modal-dialog
        .modal-content
          .component
            .component_head
              img.component_logo(src="/img/people-general.png")
              span.title 活动成员&nbsp;(#{campaign.members.length})
              button.close.dl_close(data-dismiss="modal" aria-hidden="true")
                img.icon_close(src="/img/icons/icon_close.png")
            .component_body
              if campaign.campaign_unit.length > 1
                .unit_panel
                  ul.unit_list(role="tablist")
                    - var i = 0;
                    each unit in campaign.campaign_unit
                      if i === 0
                        li.unit.active
                          a.tab(href="##{unit.team._id}" role="tab" data-toggle="tab") #{unit.team.name}
                      else
                        li.unit
                          a.tab(href="##{unit.team._id}" role="tab" data-toggle="tab") #{unit.team.name}
                      - i++;
                .tab-content
                  - var i = 0;
                  each unit in campaign.campaign_unit
                    if i === 0
                      .member_list.fade.in.active.tab-pane(id="#{unit.team._id}" bs-popover)
                        each member in unit.member
                          .member(ng-Mouseenter="showUserCard('#{member._id}','#{member._id}')" id='pop#{member._id}' rel='popover')
                            img.photo(src="#{member.photo}/57/57")
                            span.nickname #{member.nickname}
                    else
                      .member_list.fade.tab-pane(id="#{unit.team._id}" bs-popover)
                        each member in unit.member
                          .member(ng-Mouseenter="showUserCard('#{member._id}','#{member._id}')" id='pop#{member._id}' rel='popover')
                            img.photo(src="#{member.photo}/57/57")
                            span.nickname #{member.nickname}
                    - i++;
              else
                .member_list(bs-popover)
                  each member in campaign.campaign_unit[0].member
                    .member(ng-Mouseenter="showUserCard('#{member._id}','#{member._id}')" id='pop#{member._id}' rel='popover')
                      img.photo(src="#{member.photo}/57/57")
                      span.nickname #{member.nickname}
    div


append footExt
  script(src="/js/directives/count_down.js")
  script(src="/js/bootstrap-tagsinput.js")
  script(src="/js/controllers/campaign.js")
  script(src="/lib/pen/src/pen.js")
  script(src="/lib/pen/src/markdown.js")
  script.
    $(function(){
      $('#deadline').datetimepicker({
        autoclose: true,
        language: 'zh-CN',
        startDate: new Date(),
        pickerPosition: "top-left"
        //- setEndDate:#{campaign.end_time}
      });
      var options = {
        editor: document.getElementById('campaignDetail'), // {DOM Element} [required]
        class: 'dl_markdown', // {String} class of the editor,
        textarea: '<textarea name="content" ng-model="$parent.content"></textarea>', // fallback for old browsers
        list: ['h5', 'p', 'insertorderedlist','insertunorderedlist', 'indent', 'outdent', 'bold', 'italic', 'underline'], // editor menu list
        stay: false,
        toolBarId: 'campaignDetailToolBar'
      };

      var editor = new Pen(options);
    });

