form(name="provoke_form" novalidate)
  .dl_modal_header
    button.close.dl_close(type="button" data-dismiss="modal" aria-hidden="true")
      img(ng-src='/img/icons/icon_close.png')
    span#myModalLabel(ng-show='modal==3') {{team_opposite.name}} V.S #{tname}{{myTname}}
    span#myModalLabel(ng-show='modal==1') #{tname}{{myTname}} V.S {{team_opposite.name}}
    a.preStep(ng-click='preStep()') 更改
  .dl_modal_body.clearfix
    .dl_modal_container
        span.dl_modal_subtitle #{__("PROVOKE")}词
        input.dl_modal_input.dl-form-control(type="text" name="theme" ng-model="theme" placeholder="请控制在14字以内。" maxlength=14 required)
    .dl_modal_container
      .dl_modal_half_container
        .dl_modal_half_container
          span.dl_modal_subtitle #{__("PROVOKE")}#{__("START_TIME")}
        .input-group.date.form_datetime.dl_modal_input#competition_start_time
          input.dl-form-control(type="text" ng-model="start_time" name="startTime" placeholder="Date" data-data-format="YYYY-MM-DD HH:mm" readonly required)
          span.input-group-addon.no_radius
            span.glyphicon.glyphicon-calendar
      .dl_modal_half_container.end_time(ng-class="{'has-error':start_time >= end_time}")
        .dl_modal_half_container
          span.dl_modal_subtitle #{__("PROVOKE")}#{__("END_TIME")}
        .input-group.date.form_datetime.dl_modal_input#competition_end_time
          input.dl-form-control(type="text" ng-model="end_time" name="endTime" placeholder="Date" data-data-format="YYYY-MM-DD HH:mm"  data-data-language="zh-CN" readonly required)
          span.input-group-addon.no_radius
            span.glyphicon.glyphicon-calendar
    .dl_modal_container
      .dl_modal_container
        span.dl_modal_subtitle #{__("PROVOKE")}#{__("LOCATION")}
      .dl_modal_input_container
        input.dl_modal_input.dl-form-control(type="text" name="location" ng-model="location.name" placeholder="请输入活动场地的详细地址，并点击后方的“地图”标注" ng-maxlength=40 required)
      .dl_modal_button
        a.clearLinkUnderline.dl_map_btn(ng-click="showMap()") #{__("MAP")}
    .dl_modal_container.dl_modal_map_container(ng-show="showMapFlag")
      #competitionMapDetail.map_height
    .dl_modal_container
      .dl_modal_container
        span.dl_modal_subtitle #{__("PROVOKE")}类型
      .input-group
        .input-group-btn
          input.dl_modal_input.dl-form-control.dl_modal_input_container(type="text" name="mold" ng-model="mold" data-toggle="dropdown" readonly required)
          button.input-group-addon.no_radius(data-toggle="dropdown")
            span.glyphicon.glyphicon-chevron-down
          ul.dropdown-menu.dropdown-menu-right.no_radius(ng-if="user_cid==='#{cid}'" role="menu")
            li(ng-repeat="select_mold in molds")
              a(ng-click="selectMold(select_mold.name)") {{select_mold.name}}
  .dl_modal_footer
    button.dl_btn.dl_modal_btn(type='button' ng-click='pressed=true;provoke()' data-dismiss="modal" ng-disabled="provoke_form.$invalid||pressed") #{__("IMMEDIATE")}#{__("SPONSOR")}
script.
  $(function() {
    $('#competition_start_time').datetimepicker({
      autoclose: true,
      language: 'zh-CN',
      startDate: new Date()
    });
    $('#competition_end_time').datetimepicker({
      autoclose: true,
      language: 'zh-CN',
      startDate: new Date()
    });
  });