form(name="provoke_form" novalidate)
  .dl_modal_header
    .headline
        i.fa.fa-binoculars.head_logo
        span#myModalLabel(ng-show='modal==3') {{team_opposite.name}} V.S #{tname}{{myTname}}
        span#myModalLabel(ng-show='modal==1') #{tname}{{myTname}} V.S {{team_opposite.name}}
        button.dl_close(type="button" data-dismiss="modal" aria-hidden="true")
          i.fa.fa-times
  .dl_modal_body.clearfix
    .dl_modal_content.clearfix
      .dl_modal_container
          input.dl_modal_input.dl-form-control(type="text" name="theme" ng-model="theme" placeholder="输入挑战词,限定14字" maxlength=14 required)
      .dl_modal_container
        .input-group
          .input-group-btn
            input.dl_modal_input.dl-form-control.dl_modal_input_container(type="text" name="mold" ng-model="mold" data-toggle="dropdown" readonly required)
            button.input-group-addon.no_radius(type='button' data-toggle="dropdown")
              i.fa.fa-angle-down
            ul.dropdown-menu.dropdown-menu-right.no_radius(ng-if="user_cid==='#{cid}'" role="menu")
              li(ng-repeat="select_mold in molds")
                a(ng-click="selectMold(select_mold.name)") {{select_mold.name}}
      .dl_modal_container
        .dl_modal_half_container
          .input-group.date.form_datetime#competition_start_time
            input.dl-form-control.dl_modal_input(type="text" ng-model="start_time" name="startTime" placeholder="选择活动开始时间" data-data-format="YYYY-MM-DD HH:mm" readonly required)
            span.input-group-addon.no_radius
              span.glyphicon.glyphicon-calendar
        .dl_modal_half_container.end_time(ng-class="{'has-error':start_time >= end_time}")
          .input-group.date.form_datetime#competition_end_time
            input.dl-form-control.dl_modal_input(type="text" ng-model="end_time" name="endTime" placeholder="选择活动结束时间" data-data-format="YYYY-MM-DD HH:mm"  data-data-language="zh-CN" readonly required)
            span.input-group-addon.no_radius
              span.glyphicon.glyphicon-calendar
      .dl_modal_container
        .dl_modal_input_container
          input.dl_modal_input.dl-form-control(type="text" name="location" ng-model="location.name" placeholder="请输入活动场地的详细地址，并点击后方图标标注" ng-maxlength=40 required)
        .dl_modal_button
          button.dl_map_btn(type='button' ng-click="showMap()")
            i.fa.fa-map-marker
      .dl_modal_container.dl_modal_map_container(ng-show="showMapFlag")
        #competitionMapDetail.map_height
  .dl_modal_footer
    button.dl_btn.dl_modal_btn(type='button' ng-click='pressed=true;provoke()' data-dismiss="modal" ng-disabled="provoke_form.$invalid||pressed") #{__("IMMEDIATE")}#{__("SPONSOR")}
script.
  $(function() {
    $('#competition_start_time').datetimepicker({
      autoclose: true,
      language: 'zh-CN',
      startDate: new Date(),
      pickerPosition:"bottom-left"
    });
    $('#competition_end_time').datetimepicker({
      autoclose: true,
      language: 'zh-CN',
      startDate: new Date(),
      pickerPosition:"bottom-left"
    });
  });